<!-- <md-card> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 *ngIf="firstPage" class="pull-left">Severity Type </h4>
      <h4 *ngIf="!firstPage" class="pull-left">Add Severity Type </h4>
      </div>
      <form #searchForm="ngForm">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-15">
          <md-select placeholder="State" disabled={{!firstPage}} [style.width]="'100%'" [(ngModel)]="stateId" (change)="getServices(stateId)" name="state" #statess required>
            <md-option *ngFor="let stat of states" value="{{stat.stateID}}">
              {{stat.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-15">
          <md-select placeholder="Service Line" disabled={{!firstPage}} [style.width]="'100%'" [(ngModel)]="service" name="service" #servicess required>
            <md-option *ngFor="let ser of services" value="{{ser}}" (click)="findSeverity(ser)">
              {{ser.serviceName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-15">
          <button *ngIf="search && firstPage" class="pull-right" md-raised-button color="primary" (click)="clear();searchForm.reset()">Clear</button>
        </div>
      </form>
    
  </div>
  <div class="row" *ngIf="search && firstPage">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive m-t-10">
        <table class="table table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
          <thead>
            <tr>
              <th>Severity Name</th>
              <th>Severity Description</th>
              <th>Edit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="md2.data.length == 0">
              <td colspan="3" align="center">
                No Records Found
              </td>
            </tr>
            <tr *ngFor="let sev of md2.data">
              <td>{{sev.severityTypeName}}</td>
              <td>{{sev.severityDesc}}</td>
              <td>
                <md-icon *ngIf="!sev.deleted" mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editSeverity(sev)">edit</md-icon>
                </td>
                <td>
                <button *ngIf="sev.deleted" md-raised-button color="primary" (click)="deleteSeverity(sev.severityID, false)">Activate</button>
                <button *ngIf="!sev.deleted" md-raised-button color="primary" (click)="deleteSeverity(sev.severityID, true)">Deactivate</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="4" class="p-r-0">
								<button md-raised-button color="primary" class="pull-right" (click)="showAddScreen()">Add Severity</button>
							</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!firstPage">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 p-a-0">
      <form #severityAdding="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Severity Type" name="severity" [(ngModel)]="severity" (keyup)="addSeverity(severity)" #newSeverity="ngModel" required>
            <md-hint *ngIf="alreadyExist && newSeverity.touched">
              <span class="error_text">Severity already exist</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Description" name="description" [(ngModel)]="description">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngIf="severityAdding.valid && !alreadyExist">
          <button md-mini-fab color="primary" (click)="add(severityAdding.value)">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row m-t-10" *ngIf="(severityArray?.length !=0) && !firstPage">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0 " *ngFor="let obj of severityArray; let i=index ">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-5">
        <md-chip-list>
          <md-chip color="accent" selected="true">{{obj.severityTypeName}}</md-chip>
        </md-chip-list>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-5">
        <md-chip-list>
          <md-chip color="accent" selected="true">{{obj.severityDesc}}</md-chip>
        </md-chip-list>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-5">
        <button md-mini-fab>
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="removeObj(i)">clear</md-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!firstPage">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button md-raised-button color="primary" class="pull-left" type="button" (click)="handlingFlag(true)">Back</button>
      <button *ngIf="severityArray.length>0" md-raised-button color="primary" class="pull-right" type="button" (click)="finalSubmit()">Submit</button>
    </div>
  </div>
<!-- </md-card> -->
