<!-- <md-card> -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Institution Master</h4>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="State" disabled={{disabled_flag}} [style.width]="'100%'" [(ngModel)]="state" name="state" (change)="getServices(state);getDistrict(state)">
        <md-option *ngFor="let item of states" value="{{item.stateID}}">
          {{item.stateName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Service Line" disabled={{disabled_flag}} [style.width]="'100%'" [(ngModel)]="service" name="service">
        <md-option *ngFor="let item of services" value="{{item.serviceID}}" (click)="setProviderServiceMapID(item.providerServiceMapID)">
          {{item.serviceName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div clear-fix></div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="District" disabled={{disabled_flag}} [style.width]="'100%'" [(ngModel)]="district" name="district"
        (change)="getTaluk(district)">
        <md-option *ngFor="let item of districts" value="{{item.districtID}}">
          {{item.districtName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Taluk" disabled={{disabled_flag}} [style.width]="'100%'" [(ngModel)]="taluk" name="taluk" (change)="getInstitutions()">
        <md-option *ngFor="let item of taluks" value="{{item.blockID}}">
          {{item.blockName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 m-t-15">
    <button *ngIf="showTableFlag" class="pull-right" md-raised-button color="primary" (click)="clear()">Clear</button>
  </div> -->
</div>
<div *ngIf="showTableFlag">
  <div class="table-responsive m-t-15">
    <table [md2Data]="searchResultArray" #md2="md2DataTable" class="table table-striped" [rowsPerPage]="4">
      <thead>
        <tr>
          <th>Institution Name</th>
          <th>Address</th>
          <th>Website</th>
          <th>Contact Person</th>
          <th>Contact Number</th>
          <th>EmailID</th>
          <th>Edit</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="searchResultArray.length == 0">
          <td colspan="8" class="record-not-found">No records found</td>
        </tr>
        <tr *ngFor="let item of md2.data">
          <td>{{item.institutionName}}</td>
          <td>{{item.address}}</td>
          <td>{{item.website}}</td>
          <td>{{item.contactPerson1}}</td>
          <td>{{item.contactNo1}}</td>
          <td>{{item.contactPerson1_Email}}</td>
          <td>
            <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
              (click)="openEditModal(item)">edit</md-icon>
          </td>
          <td>
            <button *ngIf="item.deleted" md-raised-button color="accent" (click)="toggleActivate(item.institutionID,false)">Activate</button>
            <button *ngIf="!item.deleted" md-raised-button color="primary" (click)="toggleActivate(item.institutionID,true)">Deactivate</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <md2-pagination></md2-pagination>
          </td>
          <td colspan="6" class="p-r-0">
            <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Add Hospital</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row" *ngIf="showFormFlag">
  <form #institutionForm1="ngForm">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " myName2>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Institution Name" [(ngModel)]="institutionName" name="institutionName" minlength="3" maxlength="100"
          required #validInstitutionName="ngModel" myName2>
        <md-hint *ngIf="validInstitutionName.touched">
          <span class="errorText" [hidden]="!validInstitutionName.errors">Enter atleast 3 characters</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myAddress>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Address" maxlength="300" [(ngModel)]="address" name="address" required>
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container style="width: 100%">
      <input mdInput [pattern]="website_expression" placeholder="Website" [(ngModel)]="website" name="website" #valid_website="ngModel">
      <md-hint class="errorText" [hidden]="!valid_website.hasError('pattern')">Enter valid Website
      </md-hint>
    </md-input-container>
  </div>
  <form #institutionForm2="ngForm">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myName2>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Primary Contact Person" [(ngModel)]="contact_person_name" name="contact_person_name" minlength="2"
          maxlength="50" #valid_contactname="ngModel" required>
        <md-hint class="errorText" *ngIf="valid_contactname.errors && valid_contactname.touched">Enter atleast 2 characters
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myMobileNumber>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Primary Contact Number" minlength="10" maxlength="10" [(ngModel)]="contact_number" name="contact_number"
          #validMobileNumber="ngModel" required>
        <md-hint class="errorText" *ngIf="validMobileNumber.errors && validMobileNumber.touched">Enter 10 digit mobile number
        </md-hint>
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container style="width: 100%">
      <input mdInput type="email" placeholder="Primary Email ID" [(ngModel)]="emailID" name="emailID" [pattern]="email_expression"
        #validEmail="ngModel">
      <md-hint class="errorText" [hidden]="!validEmail.hasError('pattern')">Enter valid EmailID
      </md-hint>
    </md-input-container>
  </div>

  <form #form2="ngForm">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myName2>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Secondary Contact Person" [(ngModel)]="secondary_contact_person_name" [disabled]="!institutionForm2.valid"
          name="secondary_contact_person_name" minlength="2" maxlength="50" #valid_contactname1="ngModel">
        <!-- <md-hint class="errorText" *ngIf="valid_contactname1.errors && valid_contactname1.touched">Enter atleast 2 characters
          </md-hint> -->
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myMobileNumber>
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Secondary Contact Number" minlength="10" maxlength="10" [(ngModel)]="secondary_contact_number"
          [disabled]="!institutionForm2.valid" name="secondary_contact_number" #validMobileNumber1="ngModel">
        <!-- <md-hint class="errorText" *ngIf="validMobileNumber1.errors && validMobileNumber1.touched">Enter 10 digit mobile number
          </md-hint> -->
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container style="width: 100%">
      <input mdInput type="email" placeholder="Secondary EmailID" [(ngModel)]="secondary_emailID" [disabled]="!institutionForm2.valid"
        name="secondary_emailID" [pattern]="email_expression" #validEmail1="ngModel">
      <!-- <md-hint class="errorText" [hidden]="!validEmail1.hasError('pattern')">Enter valid EmailID
          </md-hint> -->
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myName2>
    <md-input-container style="width: 100%">
      <input mdInput placeholder="Tertiary Contact Person" [(ngModel)]="tertiary_contact_person_name" [disabled]="!form2.valid"
        name="tertiary_contact_person_name" minlength="2" maxlength="50" #valid_contactname2="ngModel">
      <!-- <md-hint class="errorText" *ngIf="valid_contactname2.errors && valid_contactname2.touched">Enter atleast 2 characters
          </md-hint> -->
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" myMobileNumber>
    <md-input-container style="width: 100%">
      <input mdInput placeholder="Tertiary Contact Number" minlength="10" maxlength="10" [(ngModel)]="tertiary_contact_number"
        [disabled]="!form2.valid" name="tertiary_contact_number" #validMobileNumber2="ngModel">
      <!-- <md-hint class="errorText" *ngIf="validMobileNumber2.errors && validMobileNumber2.touched">Enter 10 digit mobile number
          </md-hint> -->
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container style="width: 100%">
      <input mdInput type="email" placeholder="Tertiary EmailID" [(ngModel)]="tertiary_emailID" [disabled]="!form2.valid" name="tertiary_emailID"
        [pattern]="email_expression" #validEmail2="ngModel">
      <!-- <md-hint class="errorText" [hidden]="!validEmail2.hasError('pattern')">Enter valid EmailID
          </md-hint> -->
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-12  m-t-15">
    <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
    <button md-raised-button color="accent" [disabled]="(!(institutionForm1.valid) || !(institutionForm2.valid))" class="pull-right"
      (click)="createInstitution()">Save</button>
  </div>
</div>
<!-- </md-card> -->