<md-card *ngIf="searchForm">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-select [(ngModel)]="state" [style.width]="'100%'" placeholder="State" (change)="getServices($event.value)">
          <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
          <md-option *ngFor="let state of states" [value]="state.stateID">{{state.stateName}}</md-option>
        </md-select>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-select [(ngModel)]="service" [style.width]="'100%'" placeholder="Service Line">
          <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
          <md-option *ngFor="let serviceline of serviceLines" (click)="getSubServices(serviceline)" [value]="serviceline.providerServiceMapID">{{serviceline.serviceName}}</md-option>
        </md-select>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-select [(ngModel)]="sub_service" [style.width]="'100%'" placeholder="SubService">
          <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
          <md-option *ngFor="let subservice of subServices" [value]="subservice.subServiceID">{{subservice.subServiceName}}</md-option>
        </md-select>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <button md-mini-fab color="primary">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="getDetails(sub_service,service)">search</md-icon>
        </button>
      </div>
    </div>
  </div>
</md-card>
<div class="m-t-10"></div>
<md-card *ngIf="showTable">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 280px">
      <table class="table table-hover table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>ID</th>
            <th>SubService</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of md2.data">
            <td width=10%>{{i.categoryID}}</td>
            <td>{{i.subServiceName}}</td>
            <td>{{i.categoryName}}</td>
            <td>{{i.subCategoryName}}</td>
            <td>
              <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editCategory(i.subCategoryID)">edit</md-icon>
              <md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteCategory(i.subCategoryID)">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button class="pull-right" md-raised-button color="primary" (click)="hideTable()">Add New Category/Subcategory</button>
    </div>
  </div>
</md-card>
<md-card *ngIf="!showTable">
  <div class="row">
    <form #form="ngForm">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <md-radio-group [(ngModel)]="api_choice" name="apiChoice" (change)="changeRequestObject(api_choice)">
          <md-radio-button color="primary" value="0">Add Category And Its SubCategory</md-radio-button>
          <md-radio-button color="primary" value="1">Add Subcategory</md-radio-button>
        </md-radio-group>
        <a class="pull-right" (click)="back();form.reset()">Back</a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-select [(ngModel)]="state" [style.width]="'100%'" name="stateName" placeholder="State" (change)="getServices($event.value)"
            required>
            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
            <md-option *ngFor="let state of states" [value]="state.stateID">{{state.stateName}}</md-option>
          </md-select>
          <!-- <md-hint [hidden]="stateRef.valid || stateRef.pristine">
            <span class=" error_text" [hidden]="!stateRef.hasError('required')">State is required</span>
          </md-hint> -->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-select [(ngModel)]="service" [style.width]="'100%'" name="serviceName" placeholder="Service Line" required>
            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
            <md-option *ngFor="let serviceline of serviceLines" (click)="getSubServices(serviceline)" [value]="serviceline.providerServiceMapID">{{serviceline.serviceName}}</md-option>
          </md-select>
          <!-- <md-hint [hidden]="serviceRef.valid || serviceRef.pristine">
            <span class=" error_text" [hidden]="!serviceRef.hasError('required')">Service is required</span>
          </md-hint> -->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-select [(ngModel)]="sub_service" name="subServiceName" [style.width]="'100%'" placeholder="SubService" (change)="getCategory($event.value)"
            required>
            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
            <md-option *ngFor="let subservice of subServices" [value]="subservice.subServiceID">{{subservice.subServiceName}}</md-option>
          </md-select>
          <!-- <md-hint [hidden]="subServiceRef.valid || subServiceRef.pristine">
            <span class=" error_text" [hidden]="!subServiceRef.hasError('required')">Subservice is required</span>
          </md-hint> -->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="!Add_Category_Subcategory_flag">

          <md-select [disabled]="cateDisabled" [(ngModel)]="category_ID" name="categoryName" [style.width]="'100%'" placeholder="Category"
            required>
            <!--md-on-close: expression; multiple:boolean; placeholder: string;-->
            <md-option *ngFor="let category of categories" [value]="category.categoryID">{{category.categoryName}}</md-option>
          </md-select>
          <!-- <md-hint [hidden]="categoryRef.valid || categoryRef.pristine">
            <span class=" error_text" [hidden]="!categoryRef.hasError('required')">Category is required</span>
          </md-hint> -->
          <!-- <md2-autocomplete [items]="items" item-text="name" item-value="value" [(ngModel)]="category_ID" placeholder="Category" name="category_ID">
          </md2-autocomplete> -->
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="Add_Category_Subcategory_flag">
          <md-input-container style="width: 100% ">
            <input #categoryRef="ngModel" mdInput [disabled]="cateDisabled" placeholder="Category Name" [(ngModel)]="category_name "
              name="category_name" required>
            <md-hint [hidden]="categoryRef.valid || categoryRef.pristine">
              <span class=" error_text" [hidden]="!categoryRef.hasError('required')">Category is required</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="Add_Category_Subcategory_flag">
          <md-input-container style="width: 100% ">
            <input mdInput [disabled]="cateDisabled" placeholder="Category Description" [(ngModel)]="categorydesc" name="categorydesc">
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container style="width: 100% ">
            <input  mdInput placeholder="SubCategory Name" [(ngModel)]="subcategory" name="subcategory">
            <!-- <md-hint [hidden]="subCategoryRef.valid || subCategoryRef.pristine">
              <span class=" error_text" [hidden]="!subCategoryRef.hasError('required')">Category is required</span>
            </md-hint> -->
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <md-input-container style="width: 100% ">
            <input mdInput placeholder="Description" [(ngModel)]="description" name="description">
          </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <md-input-container style="width: 100% ">
            <input mdInput placeholder="Filepath" [(ngModel)]="filepath" name="filepath">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
          <button md-mini-fab class="pull-right" color="primary" name="subServiceName">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="addNew(i)">add</md-icon>
          </button>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="serviceList.length>0">
        <table class="table">
          <thead>
            <tr>
              <th>Category Name</th>
              <th>Category Desc</th>
              <th>SubCategory</th>
              <th>Description</th>
              <th>FilePath</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr style="cursor: pointer" *ngFor="let service of serviceList | paginate: {id:'serviceList', itemsPerPage: 3, currentPage: b};let i=index">
              <td>{{service.categoryName}}</td>
              <td>{{service.categoryDesc}}</td>
              <td>{{service.subCategoryName}}</td>
              <td>{{service.desc}}</td>
              <td>{{service.filePath}}</td>
              <td><i mdTooltip="delete" class="material-icons" style="font-size: 18px" (click)="deleteRow(i)">delete</i></td>
            </tr>
            <tr>
              <td colspan="6">
                <pagination-controls (pageChange)="b = $event" id="serviceList"></pagination-controls>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
          <button name="btnSave" class="pull-right" md-raised-button color="primary" (click)="finalsave();form.reset()">Save</button>
          <!-- show the buffer array here ; reset it along with the fileds if api-type changes -->
        </div>
      </div>
    </form>
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10" *ngFor="let dynamicField of dynamicFields;let i = index">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="!Add_Category_Subcategory_flag">
        <md2-autocomplete [items]="items" item-text="name" item-value="value" [(ngModel)]="category_ID[i]" placeholder="Category"
          name="category_ID[i]">
        </md2-autocomplete>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" *ngIf="Add_Category_Subcategory_flag">
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Category Name" [(ngModel)]="category_name[i] " name="category_name[i]">
        </md-input-container>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="SubCategory Name" [(ngModel)]="subcategory[i]" name="subcategory[i]">
        </md-input-container>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Description" [(ngModel)]="description[i]" name="description[i]">
        </md-input-container>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Filepath" [(ngModel)]="filepath[i]" name="filepath[i]">
        </md-input-container>
      </div>
    </div> -->


    <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
      <button class="pull-right" md-raised-button color="primary" (click)="finalsave()">Save</button> -->
    <!-- show the buffer array here ; reset it along with the fileds if api-type changes -->
    <!-- </div> -->
  </div>
</md-card>
