<!-- <md-card> -->
<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Search Category and Sub Category</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
    <md-radio-group [(ngModel)]="searchChoice" name="searchChoice" (change)="searchReqObjChange(searchChoice)">
      <md-radio-button color="primary" value="0">Category</md-radio-button>
      <md-radio-button color="primary" class="p-l-10" value="1">Sub Category</md-radio-button>
    </md-radio-group>
  </div>
  <form #search="ngForm" autocomplete="off">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select required [(ngModel)]="service" class="width100" (change)="getStates(service);selected_service_id=service.serviceID;search1.reset();"
          name="serviceName" placeholder="Serviceline">
          <md-option *ngFor="let serviceline of serviceLines" [value]="serviceline">{{serviceline.serviceName}}</md-option>
        </md-select>
      </md-input-container>
    </div>

    <form #search1="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select [disabled]="nationalFlag" required [(ngModel)]="state" class="width100" placeholder="State " name="stateName"
            (change)="getSubServices('get')">
            <md-option *ngFor="let state of states" [value]="state">{{state.stateName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select required [(ngModel)]="sub_service" class="width100" name="subserviceName" placeholder="Sub Service" (change)="checkSubService(selected_service_id,sub_service.subServiceName);getDetails(sub_service)">
            <md-option *ngFor="let subservice of subServices" [value]="subservice">{{subservice.subServiceName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
  </form>
  <!-- </div> -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="showTable && showDiv">
    <!--category table-->
    <div class="table-responsive">
      <table *ngIf="showCategoryTable" class="table table-hover table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="35%">Category</th>
            <th width="35%">Category Description</th>
            <th width="20%" *ngIf="showWellBeingFlag">Sub-Sub Service</th>
            <th width="10%">Edit</th>
            <th width="15%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="data.length == 0">
            <td colspan="6" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let i of md2.data; let k=index">
            <td>{{(md2.activePage-1)*4+k+1}}</td>
            <td>{{i?.categoryName}}</td>
            <td>{{i?.categoryDesc}}</td>
            <td *ngIf="showWellBeingFlag">
              <span *ngIf="i.s104_CS_Type"> Well Being </span>
              <span *ngIf="!i.s104_CS_Type"> Information </span>
            </td>
            <td>
              <md-icon *ngIf="i.deleted == false" mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
                (click)="editCategory(i)">edit</md-icon>
            </td>
            <td>
              <button *ngIf="i.deleted == true" md-raised-button color="accent" (click)="deleteCategory(i.categoryID, false)">Activate</button>
              <button *ngIf="i.deleted == false" md-raised-button color="primary" (click)="deleteCategory(i.categoryID, true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button class="pull-right" md-raised-button color="primary" [disabled]=" !sub_service" (click)="hideTable()">Add New Category/Sub Category</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!--sub-category table-->
    <div class="table-responsive">
      <table *ngIf="!showCategoryTable" class="table table-hover table-striped" [md2Data]="subCat" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Sub Category</th>
            <th>Sub Category Description</th>
            <th>Category</th>
            <th>Category Description</th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="subCat.length == 0">
            <td colspan="7" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let i of md2.data; let k=index">
            <td>{{subCat.indexOf(i)+1}}</td>
            <td width=25%>{{i?.subCategoryName}}</td>
            <td width=30%>{{i?.subCategoryDesc}}</td>
            <td width=25%>{{i?.categoryName}}</td>
            <td width=30%>{{i?.categoryDesc}}</td>
            <td width=10%>
              <md-icon *ngIf="!i.subCategoryDeleted && !i.categoryDeleted" mdTooltip="edit" class="mat-icon material-icons" role="img"
                aria-hidden="true" style="cursor: pointer" (click)="editSubCategory(i)">edit</md-icon>
            </td>
            <td width=20%>
              <button *ngIf="i.subCategoryDeleted || i.categoryDeleted" md-raised-button color="accent" (click)="deleteSubCategory(i.subCategoryID, false,i.categoryDeleted)">Activate</button>
              <button *ngIf="!i.subCategoryDeleted && !i.categoryDeleted" md-raised-button color="primary" (click)="deleteSubCategory(i.subCategoryID, true,false)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button class="pull-right" md-raised-button color="primary" [disabled]=" !sub_service" (click)="hideTable()">Add New Category/Sub Category</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<!-- </md-card> -->
<!-- <md-card> -->
<div class="row" *ngIf="!showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Create Category and Sub Category</h4>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-10">
    <md-radio-group [(ngModel)]="searchChoice" name="searchChoice" (change)="changeRequestObject(searchChoice);searchReqObjChange(searchChoice)">
      <md-radio-button color="primary" value="0">Add Category</md-radio-button>
      <md-radio-button color="primary" value="1" class="p-l-10">Add Sub Category</md-radio-button>
    </md-radio-group>
  </div>
  <!-- <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <button color="primary" type="button" name="back" md-raised-button class="pull-right" (click)="back()">Back</button>
      </div> -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15 p-a-0">
    <form #commonForm="ngForm" autocomplete="off">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select required [(ngModel)]="service" class="width100" (change)="getStates(service);selected_service_id=service.serviceID"
            name="serviceName" placeholder="Serviceline" disabled>
            <md-option *ngFor="let serviceline of serviceLines" [value]="serviceline">{{serviceline.serviceName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <!-- <md-select [disabled]="nationalFlag" required [(ngModel)]="state" class="width100" placeholder="State " name="stateName"
            (change)="getSubServices('get')"> -->
          <md-select required [(ngModel)]="state" class="width100" placeholder="State " name="stateName" (change)="getSubServices('get')"
            disabled>
            <md-option *ngFor="let state of states" [value]="state">{{state.stateName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select required [(ngModel)]="sub_service" class="width100" name="subserviceName" placeholder="Sub Service" (change)="checkSubService(selected_service_id,sub_service.subServiceName);getDetails(sub_service)"
            disabled>
            <md-option *ngFor="let subservice of subServices" [value]="subservice">{{subservice.subServiceName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
    <form #form="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10" *ngIf="!Add_Category_Subcategory_flag">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select [disabled]="cateDisabled" [(ngModel)]="category_ID" name="category Name" class="width100" placeholder="Category"
            required>
            <md-option *ngFor="let category of categories" [value]="category">{{category.categoryName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10" *ngIf="Add_Category_Subcategory_flag">
        <md-input-container class="width100" myProviderName>
          <input #categoryRef="ngModel" mdInput placeholder="Category Name" [(ngModel)]="category_name " (keyup)="checkCategory($event)"
            name="category_name" minlength="2" maxlength="50" required>
          <!-- <md-hint class="error_text" *ngIf="categoryExist">Category already exists </md-hint>
            <md-hint [hidden]="categoryRef.invalid" *ngIf="!categoryExist">
              <span class="error_text" *ngIf="categoryRef.hasError('required') && categoryRef.touched">Category is required</span>
              <span class="error_text" *ngIf="categoryRef.errors?.minlength">Enter minimum 2 characters</span>
            </md-hint> -->
          <md-hint *ngIf="!categoryExist && categoryRef.touched">
            <span class="error_text" *ngIf="category_name?.length == 0">Category is required</span>
            <span class="error_text" *ngIf="categoryRef.errors?.minlength">Enter minimum 2 characters</span>
          </md-hint>
          <md-hint class="error_text" *ngIf="categoryExist">Category already exists </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix visible-sm visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="Add_Category_Subcategory_flag">
        <md-input-container class="width100" myProviderName>
          <input mdInput placeholder="Category Description" [(ngModel)]="categorydesc" name="categorydesc" maxlength="100">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!Add_Category_Subcategory_flag">
        <md-input-container class="width100" myProviderName>
          <input required mdInput placeholder="Sub Category Name" #subCategories="ngModel" [(ngModel)]="subcategory" name="subcategory"
            (change)="checkSubCategory(subcategory,service,sub_service,category_ID)" minlength="2" maxlength="50">
          <md-hint class="error_text" *ngIf="subCategoryExist">Sub Category already exists </md-hint>
          <md-hint [hidden]="subCategories.valid || subCategories.pristine" *ngIf="!subCategoryExist">
            <span class=" error_text" [hidden]="!subCategories.hasError('required')">Sub Category is required</span>
            <span class=" error_text" *ngIf="subCategories.errors?.minlength">Enter minimum 2 characters</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!Add_Category_Subcategory_flag">
        <md-input-container class="width100" myProviderName>
          <input mdInput placeholder="Description" [(ngModel)]="description" name="description" maxlength="100">
        </md-input-container>
      </div>
    </form>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  m-t-30" *ngIf="Add_Category_Subcategory_flag && showWellBeingFlag">
      <md-radio-group [(ngModel)]="well_being" name="well_being">
        <md-radio-button color="primary" [value]="true">Well Being</md-radio-button>
        <md-radio-button color="primary" [value]="false" class="p-l-10">Information</md-radio-button>
      </md-radio-group>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-10 " *ngIf="form.valid && !categoryExist && !subCategoryExist">
      <button md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-right lg-pull-left" name="subServiceName"
        (click)="addNew(i)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>

  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="serviceList.length>0 && Add_Category_Subcategory_flag">
    <div class="table-responsive">
      <table [md2Data]="serviceList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Sub Service</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Sub-Sub Service</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of md2.data;let i=index ">
            <td>{{serviceList.indexOf(service)+1}}</td>
            <td>{{service.subServiceName}}</td>
            <td>{{service.categoryName}}</td>
            <td>{{service.categoryDesc}}</td>
            <td *ngIf="service.well_being">Well Being</td>
            <td *ngIf="!service.well_being">Information</td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove" (click)="deleteRow(serviceList.indexOf(service))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
            <!--    <td colspan="2">
                <button name="btnSave" class="pull-right" md-raised-button color="accent" (click)="finalsave(service);">Save</button>
              </td>-->
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="serviceSubCatList.length> 0 && !Add_Category_Subcategory_flag">
    <div class="table-responsive">
      <table [md2Data]="serviceSubCatList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Sub Service</th>
            <th>Category </th>
            <th>Sub Category</th>
            <th>Sub Category Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of md2.data;let k=index ">
            <td>{{serviceSubCatList.indexOf(service)+1}}</td>
            <td>{{service.subServiceName}}</td>
            <td>{{service.categoryName}}</td>
            <td>{{service.subCategoryName}}</td>
            <td>{{service.desc}}</td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove" (click)="deleteRowSubCat(serviceSubCatList.indexOf(service))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
            <!--  <td colspan="2">
                <button name="btnSave" class="pull-right" md-raised-button color="accent" (click)="finalsave(service);">Save</button>
              </td> -->
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <button class="pull-left" md-raised-button color="primary" (click)="back()">Back</button>
    <button class="pull-right m-t-10" md-raised-button color="accent" [disabled]="serviceSubCatList.length == 0 && serviceList.length == 0"
      (click)="finalsave()">Save</button>
  </div>

</div>
<!-- </md-card> -->