<div class="row" *ngIf="showDrugs && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Drug Master</h4>
  </div>
</div>
<div class="pull-right m-t-15" *ngIf="availableDrugs.length!==0 && showDrugs && !editable">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div>
<div class="row" *ngIf="showDrugs && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <div class="table-responsive">
      <table class="table table-striped table-hover" [md2Data]="fileteredavailableDrugs" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="10%">S.No.</th>
            <th width="25%">Drug Name</th>
            <th width="35%">Description</th>
            <th width="25%">Remarks</th>
            <th width="15%">Edit</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr style="cursor: pointer" *ngFor="let drug of availableDrugs | paginate: {id:'drugListResult', itemsPerPage: 3, currentPage: b}"> -->
          <tr *ngIf="md2.data.length == 0" class="record-not-found">
            <td colspan="6" align="center">No records found</td>
          </tr>
          <tr *ngFor="let drug of md2.data; let i= index">
            <td>{{fileteredavailableDrugs.indexOf(drug)+1}}</td>
            <td>{{drug.drugName}}</td>
            <td>{{drug.drugDesc}}</td>
            <td>{{drug.remarks}}</td>
            <!-- <td>
            <button class="btn activateBtn" (click)="editDrugData(drug)">Edit</button>
          </td> -->
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!drug.deleted"
                (click)="editDrugData(drug)">edit</md-icon>
            </td>
            <td>
              <button *ngIf="drug.deleted=='1'" md-raised-button color="accent" (click)="updateDrugStatus(drug)">Activate</button>
              <button *ngIf="drug.deleted=='0'" md-raised-button color="primary" (click)="updateDrugStatus(drug)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0 m-t-10">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create Drug</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- <pagination-controls (pageChange)="b = $event" id="drugListResult"></pagination-controls> 
   <div>
    <button class="btn pull-right " (click)="showForm()">Add Drug </button>
  </div> -->
</div>
<div *ngIf="!showDrugs || editable">
  <h4 *ngIf="!editable">Create Drug</h4>
  <h4 *ngIf="editable">Edit Drug</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0">
      <form #drugForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100">
            <input mdInput required placeholder="Drug Name " [(ngModel)]="drugName" name="drugName" #drugN="ngModel" (keyup)="checkExistance(drugName)"
              minlength="1" maxlength="50" pattern="^([a-zA-Z0-9@#$%^&*()!+_-|?,.]+\s?)*\s*$">
            <md-hint>
              <span class="error_text" *ngIf="(!drugN.valid  && ( drugN.dirty || drugN.touched)) || inValidDrugName">Please enter valid Drug Name </span>
              <span class="error_text" *ngIf="drugNameExist">Drug Already Exists</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100">
            <input mdInput required placeholder="Drug Description" [(ngModel)]="drugDesc" name="drugDesc" #drugD="ngModel" minlength="1"
              maxlength="100" (keyup)="checkForValidDrugDesc(drugDesc)">
            <md-hint>
              <span class="error_text" *ngIf="!drugD.required  && ( drugD.dirty || drugD.touched) || invalidDrugDesc">Please enter drug Description</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100">
            <input mdInput placeholder="Remarks" [(ngModel)]="remarks" name="remarks" maxlength="100">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3" *ngIf="drugN.valid && drugD.valid && !drugNameExist && !inValidDrugName && !invalidDrugDesc">
          <button *ngIf="!editable" md-mini-fab color="primary" class="xs-pull-right sm-pull-left md-pull-right lg-pull-left" (click)="addDrugToList(drugForm.value);drugForm.reset()  ">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="drugList.length>0">
      <div class="table-responsive">
        <table [md2Data]="drugList" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="3">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drug Name</th>
              <th>Description</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let drug of md2.data; let i=index">
              <td>{{drugList.indexOf(drug)+1}}</td>
              <td>{{drug.drugName}}</td>
              <td>{{drug.drugDesc}}</td>
              <td>{{drug.remarks}}</td>
              <td>
                <md-icon class="cursorPointer" mdTooltip="delete" (click)="remove_obj(drugList.indexOf(drug))">delete</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- <pagination-controls (pageChange)="b = $event" id="drugsResult"></pagination-controls>  -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
      <button [disabled]="drugList.length == 0" *ngIf="!editable" md-raised-button color="accent" class="pull-right" (click)="storedrug()">Save</button>
      <button *ngIf="editable" md-raised-button color="accent" [disabled]="drugForm.invalid || drugNameExist || inValidDrugName || invalidDrugDesc" class="pull-right"
        (click)="updateDrugData(drugForm.value);drugForm.reset()">Update</button>
    </div>
  </div>
</div>