<div *ngIf="showDrugGroups">
  <h4>Available Drugs</h4>
  <table class="table " [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
    <thead>
      <tr>
        <th>Provider State</th>
        <th>Drug Name</th>
        <th>Drug Description</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <pagination-controls *ngIf="showPaginationControls" (pageChange)="b = $event"></pagination-controls>
    </tbody>
    <tfoot>
      <md2-pagination></md2-pagination>
    </tfoot>
  </table>
  <div>
    <button class="btn pull-right " (click)="showForm()">Add Drug Group</button>
  </div>
</div>
<div *ngIf="!showDrugGroups">
  <h4>Create Drug Form</h4>
  <form #drugForm="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select placeholder="State" [style.width]="'100%'" [(ngModel)]="stateID" name="stateID" (change)="getServices(stateID)">
        <md-option *ngFor="let item of provider_states" value="{{item.stateID}}">
          {{item.stateName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput placeholder="Enter Drug Name " [(ngModel)]="drugName" name="drugName">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput placeholder="Enter Drug Group Description" [(ngModel)]="drugDesc" name="drugDesc">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput placeholder="Enter Remarks" [(ngModel)]="remarks" name="remarks">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <button class="btn pull-right " (click)="addDrugToList(drugForm.value) ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>
  </form>
  <div *ngIf="drugList.length>0">
    <table class="table ">
      <thead>
        <tr>
          <th>Provider State</th>
          <th>Drug Group</th>
          <th>Drug Description</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer" *ngFor="let drug of drugList">
          <td>{{stateID}}</td>
          <td>{{drug.drug}}</td>
          <td>{{drug.drugDesc}}</td>
          <td>{{drug.remarks}}</td>
        </tr>
        <pagination-controls *ngIf="showPaginationControls" (pageChange)="b = $event"></pagination-controls>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <button class="btn pull-right " (click)="storeDrugGroup()">Submit</button>
  </div>
</div>
