<div *ngIf="showDrugs && !editable">
  <h4>Available Drugs</h4>
  <table class="table ">
    <thead>
      <tr>
        <th>S No.</th>
        <th>State</th>
        <th>Drug Name</th>
        <th>Description</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let drug of availableDrugs | paginate: {id:'drugListResult', itemsPerPage: 3, currentPage: b}" >
        <td>{{availableDrugs.indexOf(drug)+1}}</td>
        <td>{{drug.m_providerServiceMapping.state.stateName}}</td>
        <td>{{drug.drugName}}</td>
        <td>{{drug.drugDesc}}</td>
        <td>{{drug.remarks}}</td>
        <td *ngIf="drug.deleted=='0'"> <button class="btn" (click)="updateDrugStatus(drug)">DeActivate</button></td>
        <td *ngIf="drug.deleted=='1'"> <button class="btn activateBtn" (click)="updateDrugStatus(drug)">Activate</button></td>
        <td> <button class="btn activateBtn" (click)="editDrugData(drug)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="b = $event" id="drugListResult"></pagination-controls>
  <div>
    <button class="btn pull-right " (click)="showForm()">Add Drug </button>
  </div>
</div>
<div *ngIf="editable">

</div>
<div *ngIf="!showDrugs || editable">
  <h4>Create Drug</h4>
  <form #drugForm="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
       <input mdInput style="display:none;" [(ngModel)]="drugID" name="drugID" >
      <md-select required placeholder="State" [style.width]="'100%'" [(ngModel)]="stateID" name="stateID" (change)="getServices(stateID)" #stateVal="ngModel">
        <md-option *ngFor="let item of provider_states" [value]="item.stateID">
          {{item.stateName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=stateVal.valid>
        <span class="error_text" *ngIf="!drugN.required  && ( drugN.dirty || drugN.touched)">Please select State</span>
      </md-hint>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container [style.width]="'100%'">
        <input mdInput required placeholder="Drug Name " [(ngModel)]="drugName" name="drugName"  #drugN="ngModel" (blur)="checkExistance(drugName)">
        <md-hint>
          <span class="error_text" *ngIf="!drugN.valid  && ( drugN.dirty || drugN.touched)">Please enter drug Name</span>
          <span class="error_text" *ngIf="drugNameExist">Drug Already Exists</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput required placeholder="Drug Description" [(ngModel)]="drugDesc" name="drugDesc"  #drugD="ngModel">
        <md-hint [hidden]=drugD.valid>
          <span class="error_text" *ngIf="!drugD.required  && ( drugD.dirty || drugD.touched)">Please enter drug Description</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container  [style.width]="'100%'">
        <input mdInput placeholder="Remarks" [(ngModel)]="remarks" name="remarks">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <button *ngIf="!editable" [disabled]=" !drugN.valid || drugNameExist || !drugD.valid || !stateVal.valid" class="btn pull-right " (click)="addDrugToList(drugForm.value);drugForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
      <button *ngIf="editable"  class="btn pull-right " (click)="updateDrugData(drugForm.value);drugForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">update</md-icon>
      </button>
    </div>
  </form>
  <div *ngIf="drugList.length>0">
    <table class="table ">
      <thead>
        <tr>
          <th>S No.</th>
          <th>State</th>
          <th>Drug Name</th>
          <th>Description</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer" *ngFor="let drug of drugList | paginate: {id:'drugsResult', itemsPerPage: 3, currentPage: b}">
          <td>{{drugList.indexOf(drug)+1}}</td>
          <td>{{drug.stateName}}</td>
          <td>{{drug.drugName}}</td>
          <td>{{drug.drugDesc}}</td>
          <td>{{drug.remarks}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="b = $event" id="drugsResult"></pagination-controls>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <button class="btn pull-left" (click)="clearEdit()">Back</button> <button *ngIf="drugList.length>0" class="btn pull-right " (click)="storedrug()">Submit</button>
  </div>
</div>
