<div [ngClass]="{'headerDiv': status=='info', 'successHeaderDiv': status=='success', 'errorHeaderDiv': status=='error'}">
    <h4 class="popupHeader" *ngIf="status=='info'"><b>Info</b></h4>
    <h4 class="popupHeader" *ngIf="status=='success'"><b>Success</b></h4>
    <h4 class="popupHeader" *ngIf="status=='error'"><b>Error</b></h4>
  </div>
<div class="container-fluid" *ngIf="confirmAlert">
  <h3 md-dialog-title>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-btn">{{message}}</div>
      <!-- <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1 ">
        <button class="pull-right" md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button>
      </div> -->
    </div>
  </h3>
  <md-dialog-content>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-btn">
        <div md-dialog-content>
          <!-- <div>
            <h3>{{message}}</h3>
          </div> --> 
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  center-btn m-t-5 m-b-5">
            <button md-raised-button color="primary" class="m-b-10 pull-right" (click)="dialogRef.close(true)">{{btnOkText}}</button>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  center-btn m-t-5 m-b-5">
            <button md-raised-button class="m-b-10 pull-left" (click)="dialogRef.close(false)">{{btnCancelText}}</button>
          </div>
        </div>
      </div>
    </div>
  </md-dialog-content>

</div>
<div class="container-fluid" *ngIf="alert">
  <h3 md-dialog-title>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{message}}</div>
      <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
        <button class="pull-right" md-icon-button class="closeBtn" md-dialog-close>
          <i class="material-icons">close</i>
        </button> -->
      <!-- </div> -->
    </div>
  </h3>
  <md-dialog-content>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  center-btn m-t-5 m-b-5"  >
        <button md-raised-button color="primary" class="m-b-10" (click)="dialogRef.close(true) ">{{btnOkText}}</button>
      </div>
    </div>
  </md-dialog-content>
</div>
