<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12">
    <h4>
      <strong>Supplier Master</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 p-a-0">

    <form id="form" #storeSearchForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" (change)="getstates(serviceline)">
            <md-option *ngFor="let item of services_array" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="state">
            <md-option *ngFor="let item of states_array" [value]="item" (click)="getAllSuppliers(item.providerServiceMapID)">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" *ngIf="tableMode && providerServiceMapID">
        <div class="row" *ngIf="supplierList?.length > 0" class="pull-right">
          <md-input-container id="filterbox" class="">
            <input mdInput placeholder="In-Table Search" name="filterTerm" [(ngModel)]="create_filterTerm" #filterTerm (keyup)="filtersupplierList(filterTerm.value)">
            <md-icon mdSuffix>search</md-icon>
          </md-input-container>
        </div>
      </div>

    </form>

  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="displayTable">
    <div class="table-responsive">
      <table [md2Data]="filteredsupplierList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4">
        <thead>
          <tr>
              <th width="5%">S.No.</th>
            <th md2SortBy="supplierName">Supplier&nbsp;Name</th>
            <th>Supplier&nbsp;Code</th>
            <th>Supplier&nbsp;Description</th>
            <th>Drug&nbsp;License&nbsp;No.</th>
            <th>Contact Person</th>
            <th>TIN No.</th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredsupplierList.length == 0">
            <td colspan="8" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let supplier of md2.data;let i=index ">
              <td>{{filteredsupplierList.indexOf(supplier)+1}}</td>
            <td>{{supplier.supplierName}}</td>
            <td>{{supplier.supplierCode}}</td>
            <td>{{supplier.supplierDesc}}</td>
            <td>{{supplier.drugLicenseNo}}</td>
            <td>{{supplier.contactPerson}}</td>
            <td>{{supplier.tIN_No}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!supplier.deleted"
                (click)="editsupplier(supplier)">edit</md-icon>
            </td>
            <td>
              <button md-raised-button color="accent" *ngIf="supplier.deleted" class=" m-r-10" (click)="activate(supplier.supplierID)">Activate</button>
              <button md-raised-button color="primary" *ngIf="!supplier.deleted" class=" m-r-10" (click)="deactivate(supplier.supplierID)">Deactivate</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="6" class="p-r-0">
              <button md-raised-button color="primary" *ngIf="createButton" class="pull-right" (click)="showForm()">Create Supplier</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Supplier Master</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form id="addform" #supplierAddForm1="ngForm">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="Services" placeholder="Serviceline" [disabled]="true" [style.width]="'100%'" [(ngModel)]="serviceline"
            (change)="getstates(serviceline)">
            <md-option *ngFor="let item of services_array" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="State" class="width100" [(ngModel)]="state" name="state" [disabled]="true" >
            <md-option *ngFor="let item of states_array" [value]="item" (click)="setProviderServiceMapID(item.providerServiceMapID)">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
    <div class="clearfix visible-md visible-lg"></div>
    <form id="addform" #supplierAddForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="Supplier Code" PAN [(ngModel)]="create_supplierCode" minlength="1" maxlength="15" (blur)="checkExistance(create_supplierCode)"
           name="supplierCode" #supplierCode="ngModel">
          <md-hint *ngIf="supplierCode.invalid && (supplierCode.dirty || supplierCode.touched)">
            <span class="error_text" *ngIf="supplierCode.hasError('required')">Supplier Code is required</span>
            <span class="error_text" *ngIf="supplierCode.hasError('unique')">Supplier Code already exists</span>
          </md-hint>
        </md-input-container>
      </div>
  
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="Supplier Name" myProviderName [(ngModel)]="create_supplierName" maxlength="100" name="supplierName"
            #supplierName="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="!supplierName.valid  && ( supplierName.dirty || supplierName.touched)">Supplier Name is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix  visible-md"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="Supplier Description" VehicleNO [(ngModel)]="create_supplierDesc" maxlength="100" name="supplierDesc"
            #supplierDesc="ngModel">
        </md-input-container>
      </div>
      <div class="clearfix  visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="Contact Person" myProviderName [(ngModel)]="create_contactPerson" maxlength="50" name="contactPerson"
            #contactPerson="ngModel">
          <!-- <md-hint>
            <span class="error_text" *ngIf="contactPerson.errors">Please enter Contact Person</span>
          </md-hint> -->
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="DL.No.(Drug License No.)" DLNO [(ngModel)]="create_drugLicense" minlength="1" maxlength="15" name="drugLicense"
            #drugLicense="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="drugLicense.errors">Required min 1 max 15 digit DL.No</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="GST No." PAN [(ngModel)]="create_cstNo" minlength="15" maxlength="15"  [pattern]="gstNoPattern" name="cstNo" #cstNo="ngModel">
          <!-- <md-hint>
            <span class="error_text" *ngIf="!cstNo.valid  && ( cstNo.dirty || cstNo.touched)">Required 15 digit GST number</span>
          </md-hint> -->
          <md-hint class="errorText" [hidden]="!cstNo.hasError('pattern')">Required 15 digit valid GST number </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="TIN No." myMobileNumber [(ngModel)]="create_tinNo" minlength="12" maxlength="12" name="tinNo" #tinNo="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="tinNo.errors">Required 12 digit TIN number</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-10">
        <md-input-container class="width100">
          <input mdInput myAddress  placeholder="Address Line 1" [(ngModel)]="AddressLine1" name="addressLine1" minlength="2" maxlength="100"
            #Address1="ngModel" required>
          <md-hint *ngIf="Address1.touched">
            <span class="errorText" [hidden]="!Address1.errors">Address is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-10">
        <md-input-container class="width100">
          <input mdInput myAddress  placeholder="Address Line 2" [(ngModel)]="AddressLine2" name="addressLine2" minlength="2" maxlength="100"
            #Address2="ngModel">
          <md-hint *ngIf="Address2.touched">
            <span class="errorText" [hidden]="!Address2.errors">Address is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="country" placeholder="Country" [style.width]="'100%'" (change)="getAllStates(create_country.countryID)" [(ngModel)]="create_country">
            <md-option *ngFor="let item of country_array" [value]="item">
              {{item.countryName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" (change)="getDistricts(create_state.stateID)" 
          [disabled]="countryCheck" [(ngModel)]="create_state">
            <md-option *ngFor="let item of permnantstates_array" [value]="item">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="District" class="width100" [(ngModel)]="District" name="district" required [disabled]="countryCheck">
            <md-option *ngFor="let item of districts_array" [value]="item.districtID">{{item.districtName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-25">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Pincode" [(ngModel)]="Pincode" name="pincode" minlength="6" maxlength="6" #Pin="ngModel" >
          <md-hint *ngIf="Pin.touched">
            <span class="errorText" [hidden]="!Pin.errors">Required 6 digit Pincode</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix  visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Contact No." [(ngModel)]="contactNo" name="primaryMobileNo" [pattern]="mobileNoPattern" minlength="10" maxlength="10" #mobileNo="ngModel">
          <!-- <md-hint class="errorText" *ngIf="mobileNo.errors">Required 10 digit mobile number
          </md-hint> -->
          <md-hint class="errorText" [hidden]="!mobileNo.hasError('pattern')">Required 10 digit valid mobile number </md-hint>
        </md-input-container>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Emergency Contact No." [(ngModel)]="emergency_contactNo" [pattern]="mobileNoPattern" name="emergencyContactNo" minlength="10"
            maxlength="10" #emergencyMobileNo="ngModel" >
          <!-- <md-hint class="errorText" *ngIf="emergencyMobileNo.errors">Required 10 digit mobile number
          </md-hint> -->
          <md-hint class="errorText" [hidden]="!emergencyMobileNo.hasError('pattern')">Required 10 digit valid mobile number </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100">
          <input mdInput placeholder="Email" [(ngModel)]="emailID" name="primaryEmail" #validEmail="ngModel" ngModel [pattern]="emailPattern">
          <md-hint class="errorText" [hidden]="!validEmail.hasError('pattern')">Enter valid EmailID </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-10 ">
        <button md-mini-fab class="xs-pull-right sm-pull-right md-pull-right lg-pull-left" *ngIf="!editMode && supplierAddForm.valid"
          color="primary" (click)="add2buffer(supplierAddForm.value);this.supplierAddForm.reset();permnantstates_array=[];districts_array=[];">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
      </div>
    </form>

  </div>
  <div class="col-xs-12 col-sm-12  m-t-15" *ngIf="bufferArray.length>0">
    <div class="table-responsive">
      <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th>S.No.</th>
            <!-- <th>Serviceline</th> -->
            <th>Supplier&nbsp;Code </th>
            <th>Supplier&nbsp;Name</th>
            
            <th>Supplier&nbsp;Description</th>
            <th>Drug License No. </th>
            <th>GST No. </th>
            <th>TIN No.</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{bufferArray.indexOf(item)+1}}</td>
            <!-- <td>{{item.serviceName}}</td> -->
            <td>{{item.supplierCode}}</td>
            <td>{{item.supplierName}}</td>
           
            <td>{{item.supplierDesc}}</td>
            <td>{{item.drugLicenseNo}}</td>
            <td>{{item.cST_GST_No}}</td>
            <td>{{item.tIN_No}}</td>
            <td>{{item.stateName}}</td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Delete" (click)="removeRow(bufferArray.indexOf(item))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="10">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 m-t-15 m-b-15">
    <button md-raised-button color="primary" class="pull-left" (click)="showTable();supplierAddForm.reset();districts_array=[];permnantstates_array=[];">Back</button>
    <button md-raised-button color="accent" [disabled]="!(bufferArray.length>0)" class="pull-right" (click)="saveSupplier();supplierAddForm.reset();districts_array=[];permnantstates_array=[];">Save</button>
    <button  md-raised-button color="primary" class="pull-right m-r-5" (click)="supplierAddForm.reset();districts_array=[];permnantstates_array=[];">Clear</button>

  </div>
</div>
<div class="row" *ngIf="editMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Edit Supplier</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form id="addform" #supplierEditForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="Services" placeholder="Serviceline" [disabled]="true" [style.width]="'100%'" [(ngModel)]="edit_serviceline"
            (change)="getstates(serviceline)">
            <md-option *ngFor="let item of services_array" [value]="item.serviceID">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" [disabled]="true" [(ngModel)]="edit_state">
            <md-option *ngFor="let item of states_array" [value]="item.stateID">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="clearfix visible-md visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="Supplier Code" PAN [(ngModel)]="edit_supplierCode" [disabled]="true" maxlength="100"
            name="supplierCode" #supplierCode="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="!supplierCode.valid  && ( supplierCode.dirty || supplierCode.touched)">Please enter Supplier Code</span>
          </md-hint>
        </md-input-container>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="Supplier Name" myProviderName [(ngModel)]="edit_supplierName" [disabled]="true" maxlength="100"
            name="supplierName" #supplierName="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="!supplierName.valid  && ( supplierName.dirty || supplierName.touched)">Please enter Supplier Name</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix  visible-md"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="Supplier Description" VehicleNO [(ngModel)]="edit_supplierDesc" maxlength="100" name="supplierDesc"
            #supplierDesc="ngModel">
          <!-- <md-hint>
            <span class="error_text" *ngIf="!supplierDesc.valid  && ( supplierDesc.dirty || supplierDesc.touched)">Please enter Supplier Discription</span>
          </md-hint> -->
        </md-input-container>
      </div>
      <div class="clearfix visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="Contact Person" myProviderName [(ngModel)]="edit_contactPerson"  maxlength="100" name="contactPerson"
            #contactPerson="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="contactPerson.errors">Please enter Contact Person</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="DL.No.(Drug License No.)" DLNO [(ngModel)]="edit_drugLicense" maxlength="15"
            name="drugLicense" #drugLicense="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="drugLicense.errors">Required min 1 max 15 digit DL.No </span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput required placeholder="GST No." PAN [(ngModel)]="edit_cstNo"  minlength="15" maxlength="15" name="cstNo" [pattern]="gstNoPattern"
            #cstNo="ngModel">
          <!-- <md-hint>
            <span class="error_text" *ngIf="!cstNo.valid  && ( cstNo.dirty || cstNo.touched)">Required 15 digit GST number</span>
          </md-hint> -->
          <md-hint class="errorText" [hidden]="!cstNo.hasError('pattern')">Required 15 digit valid GST number </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container [style.width]="'100%'">
          <input mdInput  placeholder="TIN No." myMobileNumber [(ngModel)]="edit_tinNo" minlength="12" maxlength="12" name="tinNo"
            #tinNo="ngModel">
          <md-hint>
            <span class="error_text" *ngIf="tinNo.errors">Required 12 digit TIN number</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <md-input-container class="width100">
          <input mdInput myAddress  placeholder="Address Line 1" [(ngModel)]="edit_AddressLine1"  name="addressLine1" minlength="2"
            maxlength="100" #Address1="ngModel" required>
          <md-hint *ngIf="Address1.touched">
            <span class="errorText" [hidden]="!Address1.errors">Address is required</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <md-input-container class="width100">
          <input mdInput myAddress  placeholder="Address Line 2" [(ngModel)]="edit_AddressLine2"  name="addressLine2" minlength="2"
            maxlength="100" #Address2="ngModel">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="country" placeholder="Country" [style.width]="'100%'"  [(ngModel)]="edit_country" (change)="getAllStates(edit_country)">
            <md-option *ngFor="let item of country_array" [value]="item.countryID">
              {{item.countryName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="edit_state1" placeholder="State" [style.width]="'100%'"  [(ngModel)]="edit_state1" (change)="getDistricts(edit_state1)">
            <md-option *ngFor="let item of permnantstates_array" [value]="item.stateID">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="District" class="width100" [(ngModel)]="edit_district"  name="edit_district" required>
            <md-option *ngFor="let item of districts_array" [value]="item.districtID">{{item.districtName}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-25">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Pincode" [(ngModel)]="edit_Pincode" name="pincode"  minlength="6" maxlength="6"
            #Pin="ngModel" >
          <md-hint *ngIf="Pin.touched">
            <span class="errorText" [hidden]="!Pin.errors">Required 6 digit Pincode</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="clearfix visible-lg"></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Contact No." [(ngModel)]="edit_contactNo"  name="primaryMobileNo" minlength="10" [pattern]="mobileNoPattern"
            maxlength="10" #mobileNo="ngModel" >
          <!-- <md-hint class="errorText" *ngIf="mobileNo.errors">Required 10 digit mobile number
          </md-hint> -->
          <md-hint class="errorText" [hidden]="!mobileNo.hasError('pattern')">Required 10 digit valid mobile number </md-hint>
        </md-input-container>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Emergency Contact No." [(ngModel)]="edit_emergencyContactNo"  name="emergencyContactNo" [pattern]="mobileNoPattern"
            minlength="10" maxlength="10" #emergencyMobileNo="ngModel"  [pattern]="mobileNoPattern">
          <!-- <md-hint class="errorText" *ngIf="emergencyMobileNo.errors">Required 10 digit mobile number
          </md-hint> -->

          <md-hint class="errorText" [hidden]="!emergencyMobileNo.hasError('pattern')">Required 10 digit valid mobile number </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100">
          <input mdInput placeholder="Email" [(ngModel)]="edit_emailID" name="primaryEmail" #validEmail="ngModel" 
            [pattern]="emailPattern">
          <md-hint class="errorText" [hidden]="!validEmail.hasError('pattern')">Enter valid EmailID </md-hint>
        </md-input-container>
      </div>

    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="showTable();permnantstates_array=[];districts_array=[];">Back</button>
      <button *ngIf="editMode" md-raised-button color="accent" class="pull-right" [disabled]="supplierEditForm.invalid" (click)="updatesupplier(supplierEditForm.value)">Update</button>

    </div>
  </div>
</div>