<md-card>
  <!-- <div class="container-fluid"> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h4 class="pull-left">Provider CTI Mapping</h4>
    </div>
    <form id="myForm" #form="ngForm">
      
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 m-t-15">
        <md-select required name="serviceProvider" placeholder="Service Provider" [style.width]="'100%'" [(ngModel)]="service_provider" (change)="getStates(service_provider)">
          <md-option *ngFor="let item of service_provider_array" [value]="item">
            {{item.serviceProviderName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2  m-t-15">
        <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="state" (change)="getServicesInState(service_provider,state)">
          <md-option *ngFor="let item of states_array" [value]="item.stateID">
            {{item.stateName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 m-t-15">
        <md-select required name="Services" placeholder="ServiceLine" [style.width]="'100%'" [(ngModel)]="serviceline" (change)="getCampaign(service_provider,state,serviceline)">
          <md-option *ngFor="let item of services_array" [value]="item">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 m-t-15">
        <md-select required name="campaign" placeholder="Campaign" [style.width]="'100%'" [(ngModel)]="campaign" required>
          <md-option *ngFor="let item of campaign_array" [value]="item">
            {{item.campaign_name}}
          </md-option>
        </md-select>
      </div>
      
    </form>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-10">
      <button md-raised-button [disabled]="form.invalid || campaignList.length>0" class="m-r-10 m-l-10 pull-right" color="primary" (click)="addCampaign(service_provider,serviceline,campaign)">Add</button>
      <button md-raised-button class=" pull-right m-l-10 m-r-10" color="primary" (click)="resetForm()">Reset</button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="campaignList.length>0">
      <table [md2Data]="campaignList" #md2="md2DataTable" class="table" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>Provider Name</th>
            <th>Campaign</th>
            <th>Service </th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer" *ngFor="let service of md2.data;let i=index ">
            <td>{{service.providerName}}</td>
            <td>{{service.cTI_CampaignName}}</td>
            <td>{{service.Service}}</td>
            <td><i mdTooltip="delete" class="material-icons" style="font-size: 18px" (click)="deleteRow(i)">delete</i></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
        <button name="btnSave" class="pull-right" md-raised-button color="primary" (click)="finalsave(campaignList);">Save</button>
      </div>
    </div>
  </div>
</md-card>
