<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Provider CTI Mapping</h4>
  </div>
  <form id="myForm" #form="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select required name="serviceProvider" placeholder="Service Provider" disabled={{disableSelection}} class="width100"
          [(ngModel)]="service_provider" (change)="getAllMappedServicelinesAndStates(service_provider)">
          <md-option *ngFor="let item of service_provider_array" [value]="item.serviceProviderId">
            {{item.serviceProviderName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
  <div class="m-t-10" *ngIf="showTableFlag">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table [md2Data]="campaignArrayList" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="4">
          <thead>
            <tr>
              <th width="5%">S.No.</th>
              <th width="20%">Provider Name</th>
              <th width="15%">Serviceline </th>
              <th width="20%">State </th>
              <th width="20%">Campaign</th>
              <th width="20%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="campaignArrayList.length == 0" class="record-not-found">
              <td colspan="6" align="center">No records found</td>
            </tr>
            <tr *ngFor="let item of md2.data; let i=index">
              <td>{{(md2.activePage-1)*4+i+1}}</td>
              <td>{{item.serviceProviderName}}</td>
              <td>{{item.serviceName}}</td>
              <td>{{item.stateID===0 ?'All states':item.stateName}}</td>
              <td>{{item.cTI_CampaignName}}</td>
              <td>
                <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!item.deleted"
                  (click)="editForm(item)">edit</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <md2-pagination></md2-pagination>
              </td>
              <!-- <td colspan="3" class="p-r-0">
                <button md-raised-button color="primary" class="pull-right" >Add Campaign</button>
              </td> -->
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="showFormFlag">
  <form #mappingCampaign="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select required name="Services" placeholder="Serviceline" class="width100" [(ngModel)]="serviceline" disabled>
          <md-option *ngFor="let item of services_array" [value]="item.serviceName">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="state" placeholder="State" class="width100" [(ngModel)]="states" required disabled>
          <md-option *ngFor="let item of states_array" [value]="item.stateName">
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select required name="campaign" placeholder="Campaign" class="width100" [(ngModel)]="campaign" required>
          <md-option *ngFor="let item of campaign_array" [value]="item.campaign_name">
            {{item.campaign_name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>

  </form>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
    <button class="pull-right" md-raised-button color="accent" [disabled]="mappingCampaign.invalid" (click)="updateCampaign(serviceline,state,campaign)">Update</button>
  </div>
</div>