<div class="row">
    <div *ngIf="showVans  && !editable" class="col-xs-12 col-sm-12">
        <h4>Van Master</h4>
        <form #searForm="ngForm" autocomplete="off">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                    <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none"> -->
                    <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" (change)="getStates(serviceline.serviceID);resetform.reset();">
                        <md-option *ngFor="let item of services_array" [value]="item">
                            {{item.serviceName}}
                        </md-option>
                    </md-select>
                    <!-- </md-input-container> -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15 ">
                    <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none"> -->
                    <md-select required placeholder="State" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID" (change)="setProviderServiceMapID(searchStateID.providerServiceMapID);resetform.reset();">
                        <md-option *ngFor="let state of provider_states" [value]="state">
                            {{state.stateName}}
                        </md-option>
                    </md-select>
                    <!-- </md-input-container> -->
                </div>
                <form #resetform="ngForm">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                        <md-select placeholder="Zone" class="width100" [(ngModel)]="zoneID" name="zoneID" #zone="ngModel" (change)="getAllParkingPlaces(zoneID.zoneID, searchStateID.providerServiceMapID)"
                            required>
                            <md-option *ngFor="let zone of zones" [value]="zone">
                                {{zone.zoneName}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                        <md-select *ngIf="parkAndHub" placeholder="{{parkAndHub}}" class="width100" [(ngModel)]="parking_place" name="parking_place"
                            (change)="getVans(searchStateID.providerServiceMapID, parking_place.parkingPlaceID)" #parkingPlace="ngModel"
                            required>
                            <md-option *ngFor="let parkingPlace of parkingPlaces" [value]="parkingPlace">
                                {{parkingPlace.parkingPlaceName}}
                            </md-option>
                        </md-select>
                    </div>
                    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
                        <md-select placeholder="District" class="width100" [(ngModel)]="district" name="district" (change)="getVans(searchStateID.stateID,district.districtID,parking_place.parkingPlaceID);GetTaluks(parking_place.parkingPlaceID, district.districtID)"
                            #mappingDistrict='ngModel' required>
                            <md-option *ngFor="let item of districts" [value]="item">
                                {{item.districtName}}
                            </md-option>
                        </md-select>
                    </div> -->

                </form>
            </div>
        </form>
    </div>
</div>
<div class="pull-right m-t-15" *ngIf="showVansTable && availableVans.length!==0">
    <md-input-container id="filterbox">
        <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
        <md-icon mdSuffix>search</md-icon>
    </md-input-container>
</div>
<div class="row">
    <div *ngIf="showVansTable" class="col-xs-12 col-sm-12">
        <!-- <h4>Available Vans</h4> -->
        <div class="table-responsive">
            <table [md2Data]="filteredavailableVans" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4">
                <thead>
                    <tr>
                        <th width="5%">S.No.</th>
                        <!-- <th width="15%">State</th>
                        <th>Zone</th>
                        <th width="12%">District</th> -->
                        <th width="12%">{{parkAndHub}}</th>
                        <th width="12%">{{vanAndSpoke}}</th>
                        <th width="10%">{{code}}</th>
                        <th width="10%">{{codeType}}</th>
                        <th width="5%">Edit</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="md2.data.length == 0">
                        <td colspan="7" class="record-not-found">No records found</td>
                    </tr>
                    <tr *ngFor="let van of md2.data; let i = index ">
                        <td>{{filteredavailableVans.indexOf(van)+1}} </td>
                        <!-- <td>{{van.stateName}}</td>
                        <td>{{van.zoneName}}</td>
                        <td>{{van.districtName}}</td> -->
                        <td>{{van.parkingPlaceName}}</td>
                        <td>{{van.vanName}}</td>
                        <td>{{van.vehicalNo}}</td>
                        <td>{{van.vanType}}</td>
                        <td>
                            <md-icon mdTooltip="Edit" class="cursorPointer" *ngIf="van.deleted=='0'" (click)="editVanData(van)">mode_edit</md-icon>
                        </td>
                        <td *ngIf="van.deleted=='0'">
                            <button md-raised-button color="primary" class="activateBtn" (click)="updateVanStatus(van)">Deactivate</button>
                        </td>
                        <td *ngIf="van.deleted=='1'">
                            <button md-raised-button color="accent" class="activateBtn" (click)="updateVanStatus(van)">Activate</button>
                        </td>
                        <!-- <td>
                            <button md-raised-button color="primary" class="activateBtn" (click)="editVanData(van)">Edit</button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <md2-pagination></md2-pagination>
                        </td>
                        <td colspan="3" class="p-r-0">
                            <button md-raised-button color="primary" [disabled]="!createButton" class="pull-right" (click)="showForm();">Create New Van</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- <pagination-controls (pageChange)="b = $event" id="vanListResult"></pagination-controls>
                <div>
                    <button class="btn pull-right " (click)="showForm()">Add Van </button>
                </div> -->
    </div>
    <div *ngIf="!showVans || editable" class="col-xs-12 col-sm-12">
        <h4 *ngIf="!editable">
            Create Van
        </h4>
        <h4 *ngIf="editable">
            Edit Van Details
        </h4>

        <form #vanForm="ngForm" autocomplete="off">
            <div class="row">
                <input mdInput style="display:none;" [(ngModel)]="vanID" name="vanID">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
                    <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none"> -->
                    <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" [disabled]="true">
                        <md-option *ngFor="let item of services_array" [value]="item">
                            {{item.serviceName}}
                        </md-option>
                    </md-select>
                    <!-- </md-input-container> -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10 ">
                    <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none"> -->
                    <md-select required placeholder="State" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID" [disabled]="true">
                        <md-option *ngFor="let state of provider_states" [value]="state">
                            {{state.stateName}}
                        </md-option>
                    </md-select>
                    <!-- </md-input-container> -->
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                    <md-select required placeholder="Zone" class="width100" [disabled]="true" [(ngModel)]="zoneID" name="zoneID" [disabled]="disableSelection"
                        #zoneG="ngModel" (change)="getAllParkingPlaces(zoneID.zoneID, searchStateID.providerServiceMapID)">
                        <md-option *ngFor="let zone of zones" [value]="zone">
                            {{zone.zoneName}}
                        </md-option>
                    </md-select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                    <md-select *ngIf="parkAndHub" placeholder="{{parkAndHub}}" class="width100" [disabled]="true" [(ngModel)]="parking_place"
                        name="parking_place" #parking="ngModel" required>
                        <md-option *ngFor="let parkingPlace of parkingPlaces" [value]="parkingPlace">
                            {{parkingPlace.parkingPlaceName}}
                        </md-option>
                    </md-select>
                </div>
                <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 m-t-15">
                    <md-select placeholder="District" class="width100" [disabled]="true" [(ngModel)]="district" name="district" (change)="getVans(searchStateID.stateID,district.districtID,parking_place.parkingPlaceID);GetTaluks(parking_place.parkingPlaceID, district.districtID)"
                        #mappingDistrict='ngModel' required>
                        <md-option *ngFor="let item of districts" [value]="item">
                            {{item.districtName}}
                        </md-option>
                    </md-select>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
                    <md-input-container class="hide_underline width100">
                          <input mdInput style="display:none">
                    <md-select placeholder="Taluk/Sub District" class="width100" [(ngModel)]="talukID" name="talukID">
                        <md-option *ngFor="let taluk of taluks" [value]="taluk">
                            {{taluk.districtBlockName}}
                        </md-option>
                    </md-select>
                    </md-input-container>
                </div> -->
                <form #vanMasterForm1="ngForm" autocomplete="off">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10 ">
                        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                            <input mdInput style="display:none"> -->
                        <md-select required placeholder="{{codeType}}" [style.width]="'100%'" [(ngModel)]="vanTypeID" name="vanTypeID" #vanTID="ngModel">
                            <md-option *ngFor="let vanType of filteredVanTypes" value="{{vanType.vanTypeID}}-{{vanType.vanType}}">
                                {{vanType.vanType}}
                            </md-option>
                        </md-select>
                        <!-- </md-input-container> -->
                        <!-- <md-hint [hidden]=vanTID.valid>
                            <span class="error_text" *ngIf="!vanTID.required  && ( vanTID.dirty || vanTID.touched)">Please select Van Type</span>
                        </md-hint> -->
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15 " VehicleNO>
                        <md-input-container [style.width]="'100%'">
                            <input mdInput required placeholder="{{vanAndSpoke}}" [(ngModel)]="vanName" name="vanName" maxlength="30" #vanN="ngModel"
                                (keyup)="checkExistance(vanName)">
                            <md-hint>
                                <span class="error_text" *ngIf="!vanN.valid  && ( vanN.dirty || vanN.touched)">Please enter Van Name</span>
                                <span class="error_text" *ngIf="vanN.valid && vanNameExist">Van already exists</span>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="clearfix visible-sm"></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" VehicleNONew>
                        <md-input-container [style.width]="'100%'">
                            <input mdInput required placeholder="{{code}}" [(ngModel)]="vehicalNo" name="vehicalNo" minlength="10" maxlength="13" #vehicleN="ngModel"
                                (keyup)="checkVehicleExistance(vehicalNo)">
                            <md-hint>
                                <span class="error_text" *ngIf="!vehicleN.valid  && ( vehicleN.dirty || vehicleN.touched)">Enter min: 10, max 13</span>
                                <span class="error_text" *ngIf="vehicleN.valid && vehicleExist">Vehicle no already exists</span>
                            </md-hint>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" VehicleNONew>
                        <md-input-container [style.width]="'100%'">
                            <input mdInput placeholder="Swymed Domain" [(ngModel)]="domain" name="domain" #sDomain="ngModel">
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" PAN>
                        <md-input-container [style.width]="'100%'">
                            <input mdInput placeholder="Swymed ID" [(ngModel)]="sID" name="sID" #swymedId="ngModel">
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                        <md-input-container [style.width]="'100%'">
                            <input mdInput placeholder="Swymed Email" [(ngModel)]="sEmail" name="sEmail" #swymedemail="ngModel">
                        </md-input-container>
                        <label class="maxRedialNote">{{note}}</label>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-12 col-lg-3 m-t-15">
                        <button md-mini-fab color="primary" *ngIf="!editable && vanMasterForm1.valid && !vehicleExist && !vanNameExist" class="xs-pull-right sm-pull-left md-pull-right lg-pull-left"
                            (click)="addVanToList(vanMasterForm1.value);vanMasterForm1.reset();">
                            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
                        </button>
                    </div>
                </form>

            </div>
        </form>
        <div *ngIf="vanList.length>0" class="m-t-15 table-responsive">
            <table [md2Data]="vanList" #md2=md2DataTable class="table table-hover table-striped" [rowsPerPage]="3">
                <thead>
                    <tr>
                        <th width="5%">S.No.</th>
                        <th width="15%">State</th>
                        <!-- <th>Zone</th> -->
                        <!-- <th width="12%">District</th> -->
                        <th width="12%">{{parkAndHub}}</th>
                        <th width="10%">{{vanAndSpoke}}</th>
                        <th width="10%">{{code}}</th>
                        <th width="10%">{{codeType}}</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let van of md2.data;let i = index">
                        <td>{{vanList.indexOf(van)+1}}</td>
                        <td>{{van.stateName}}</td>
                        <!-- <td>{{van.zoneName}}</td> -->
                        <!-- <td>{{van.districtName}}</td> -->
                        <td>{{van.parkingPlaceName}}</td>
                        <td>{{van.vanName}}</td>
                        <td>{{van.vehicalNo}}</td>
                        <td>{{van.vanType}}</td>
                        <td>
                            <md-icon class="cursorPointer" mdTooltip="delete" (click)="deleteRow(vanList.indexOf(van))">delete</md-icon>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <md2-pagination></md2-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="m-t-15">
            <button md-raised-button color="primary" class="pull-left" (click)="back();vanMasterForm1.reset();">Back</button>

            <button md-raised-button color="accent" *ngIf="editable" class=" pull-right " (click)="updateVanData(vanMasterForm1.value); vanMasterForm1.reset();">
                Update</button>
            <button md-raised-button color="accent" [disabled]="!(vanList.length>0)" *ngIf="!editable" class="pull-right " (click)="storeVans()">Save</button>
        </div>
    </div>
</div>