<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12">
    <h4>
      <strong>Expiry Date Alert Confirguration</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 p-a-0">

    <form id="form" [formGroup]="expiryAlertSearchForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
          <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" formControlName="serviceline" >
            <md-option *ngFor="let item of services_array" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        <!-- </md-input-container> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
          <md-select required name="state" placeholder="State" [style.width]="'100%'" formControlName="state">
            <md-option *ngFor="let item of states_array" [value]="item" >
              {{item.stateName}}
            </md-option>
          </md-select>
        <!-- </md-input-container> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" *ngIf="tableMode && providerServiceMapID ">
          <div class="row" class="pull-right">
        <md-input-container id="filterbox">
            <input mdInput placeholder="In-Table Search" name="filterTerm" >
            <md-icon mdSuffix>search</md-icon>
          </md-input-container>
        </div>
      </div>
    </form>
    <button md-raised-button color="primary" *ngIf="createButton" class="pull-right" (click)="showForm()">Create ItemForm</button>
  </div>

  <!-- <div class="col-xs-12 col-sm-12" *ngIf="displayTable">
    <div class="table-responsive">
      <table [md2Data]="filteredItemFormList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4" >
        <thead>
          <tr>
              <th width="5%">S.No.</th>
            <th>ItemForm Code</th>
            <th>ItemForm Name</th>
            <th>ItemForm Description</th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredItemFormList.length == 0">
            <td colspan="8" class="record-not-found">No records found</td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let itemForm of md2.data;let i=index ">
              <td>{{filteredItemFormList.indexOf(itemForm)+1}}</td>
            <td>{{itemForm.itemFormCode}}</td>
            <td>{{itemForm.itemForm}}</td>
            <td>{{itemForm.itemFormDesc}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!itemForm.deleted"
              (click)="editItemForm(itemForm)">edit</md-icon>
            </td>
            <td>
              <button md-raised-button color="accent" *ngIf="itemForm.deleted" class=" m-r-10" (click)="activateDeactivate(itemForm.itemFormID,false)">Unblock</button>
              <button md-raised-button color="primary" *ngIf="!itemForm.deleted" class=" m-r-10" (click)="activateDeactivate(itemForm.itemFormID,true)">Block</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="4" class="p-r-0">
              <button md-raised-button color="primary" *ngIf="createButton" class="pull-right" (click)="showForm()">Create ItemForm</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> -->
</div>
<div class="row" *ngIf="formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Expiry Date Alert Confirguration</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
        <form id="addform" [formGroup]="expiryAlertAddForm">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required name="Services" placeholder="Serviceline"  [style.width]="'100%'" formControlName="servicelineAdd">
                  
                  <md-option *ngFor="let item of services_array" [value]="item">
                    {{item.serviceName}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required name="state" placeholder="State" [style.width]="'100%'"  formControlName="stateAdd">
                  <md-option *ngFor="let item of states_array" [value]="item">
                    {{item.stateName}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
        <!-- </form> -->
        <div class="clearfix visible-md visible-lg"></div>
        <!-- <form id="addform" #itemAddForm="ngForm" autocomplete="off"> -->
            <ng-container formGroupName="expiryDateAlert">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline width100">
                  <input mdInput style="display:none">
                  <md-select placeholder="Category" class="width100" formControlName="category" name="category" required>
                    <md-option *ngFor="let item of categories" [value]="item">
                      {{item.itemCategoryName}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container [style.width]="'100%'">
            <input mdInput  placeholder="Alert on Days"  formControlName="alertonDays" maxlength="100" required>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 m-t-10 ">
            <button md-mini-fab class="xs-pull-right sm-pull-left md-pull-right lg-pull-left" *ngIf="expiryAlertAddForm.valid"
              color="primary" (click)="add2buffer()">
              <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
            </button>
          </div>
        </ng-container>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12  m-t-15" *ngIf="bufferArray.length>0">
      <div class="table-responsive">
        <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="4">
          <thead>
            <tr>
                <th width="5%">S.No.</th>
              <th>Item Category Name</th>
              <th>Number of Days on Alert</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of md2.data;let i = index ">
              <td>{{bufferArray.indexOf(item)+1}}</td>
              <td>{{item.category.itemCategoryName}}</td>
              <td>{{item.alertonDays}}</td>
              <td>
                <md-icon class="cursorPointer" mdTooltip="Remove" (click)="removeRow(bufferArray.indexOf(item))">delete</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
              <tr>
                <td colspan="7">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 m-t-15">
      <button md-raised-button color="primary" class="pull-left" (click)="showTable();expiryAlertAddForm.controls['expiryDateAlert'].reset();">Back</button>
      <button md-raised-button color="accent" [disabled]="!(bufferArray.length>0)" class="pull-right" (click)="saveItemForm()">Save</button>
      <button  md-raised-button color="primary" class="pull-right m-r-5" (click)="expiryAlertAddForm.controls['expiryDateAlert'].reset();">Clear</button>
    </div>
  </div>
