<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Unit of Measure Master</strong>
    </h4>
  </div>
</div>
<form [formGroup]="UOMMasterForm" autocomplete="off">
  <div class="row m-t-20">
    <ng-container formGroupName="UOM">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="UOM Code" PAN name="uomCode" formControlName="uOMCode" required (blur)="checkForUniqueUOMCode()" maxlength="15">
          <md-hint *ngIf="UOMMasterForm.controls['UOM']['controls']['uOMCode'].invalid && (UOMMasterForm.controls['UOM']['controls']['uOMCode'].dirty || UOMMasterForm.controls['UOM']['controls']['uOMCode'].touched)">
            <span class="error_text" *ngIf="UOMMasterForm.controls['UOM']['controls']['uOMCode'].hasError('required')">UOM Code is required</span>
            <span class="error_text" *ngIf="UOMMasterForm.controls['UOM']['controls']['uOMCode'].hasError('unique')">UOM Code already exists</span>
          </md-hint>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="UOM Name" VehicleNO name="uOMName" formControlName="uOMName" required maxlength=100>
          <md-hint  *ngIf="UOMMasterForm.controls['UOM']['controls']['uOMName'].invalid && (UOMMasterForm.controls['UOM']['controls']['uOMName'].dirty || UOMMasterForm.controls['UOM']['controls']['uOMName'].touched)">
            <span class="errorText" *ngIf="UOMMasterForm.controls['UOM']['controls']['uOMName'].hasError('required')">UOM Name is required</span>
          </md-hint>
        </md-input-container>
       
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="Description" VehicleNO name="description" formControlName="uOMDesc" maxlength=100>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <button type="button" md-mini-fab color="primary"  *ngIf="UOMMasterForm.controls['UOM'].valid && !UOMMasterForm.controls['UOM']['controls']['uOMCode'].hasError('unique')" (click)="addToUOMMasterList()">
          <md-icon>add</md-icon>
        </button>
      </div>
    </ng-container>
  </div>
</form>

<div class="row m-t-20" *ngIf="UOMMasterList.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped" [md2Data]="UOMMasterList" #md2="md2DataTable" [rowsPerPage]="4">
      <thead>
        <tr>
          <th style="width: 5%">S.No.</th>
          <th >UOM Code</th>
          <th >UOM Name</th>
          <th >Description</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody *ngIf="UOMMasterList.length > 0">
        <tr *ngFor="let uom of md2.data; let i = index">
          <td>{{(md2.activePage-1) * 4 + i + 1}}</td>
          <td>{{ uom.uOMCode}}</td>
          <td>{{ uom.uOMName}}</td>
          <td>{{ uom.uOMDesc}}</td>
          <td>
            <md-icon mdTooltip="Delete" class="mat-icon material-icons" style="cursor: pointer" (click)="deleteFromUOMMasterList(i)">delete</md-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="p-l-0">
            <md2-pagination></md2-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<div class="row m-t-20">
  <div class="col-xs-12 col-sm-12 m-t-15 m-b-10">
      <button type="button" md-raised-button color="primary" class="pull-left" (click)="switchToViewMode()">Back</button>
    <button type="button" [disabled]="UOMMasterList.length == 0" md-raised-button color="accent" class="pull-right" (click)="submitUOMForm()">Save</button>
    <button type="button" md-raised-button color="primary" class="pull-right m-r-5" (click)="UOMMasterForm.controls['UOM'].reset();">Clear</button>
  </div>

</div>