<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Item Master</h4>
  </div>
  <form [formGroup]='searchForm'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select placeholder="State" class="width100" formControlName="state" required>
          <md-option *ngFor="let item of states" [value]="item">
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
</div>