.radio-group {
    display: inline-flex;
    padding: 10px 10px 10px 0;
    margin-top: 10px;
    margin-left: -20px;
    margin-bottom: 15px;
}

.radio-button {
    margin: 5px;
}

.toolbar-icon-disabled {pointer-events: none;}