<div class="row" *ngIf="tableMode">
    <div class="col-xs-12 col-sm-12">
      <h4>
        <strong>Item Form Master</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12 p-a-0">

      <form id="form" #itemFormSearch="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" (change)="getstates(serviceline)">
              <md-option *ngFor="let item of services_array" [value]="item">
                {{item.serviceName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="state">
              <md-option *ngFor="let item of states_array" [value]="item" (click)="getAllItemForm(item.providerServiceMapID)">
                {{item.stateName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" *ngIf="tableMode && providerServiceMapID && itemformList?.length > 0">
            <div class="row" class="pull-right">
          <md-input-container id="filterbox">
              <input mdInput placeholder="In-Table Search" name="filterTerm" [(ngModel)]="create_filterTerm" #filterTerm (keyup)="filterItemFormList(filterTerm.value)">
              <md-icon mdSuffix>search</md-icon>
            </md-input-container>
          </div>
        </div>
      </form>

    </div>

    <div class="col-xs-12 col-sm-12" *ngIf="displayTable">
      <div class="table-responsive">
        <table [md2Data]="filteredItemFormList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4" >
          <thead>
            <tr>
                <th width="5%">S.No.</th>
              <th>Item Form Code</th>
              <th>Item Form Name</th>
              <th>Item Form Description</th>
              <th>Edit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="filteredItemFormList.length == 0">
              <td colspan="8" class="record-not-found">No records found</td>
            </tr>
            <tr style="cursor: pointer" *ngFor="let itemForm of md2.data;let i=index ">
                <td>{{filteredItemFormList.indexOf(itemForm)+1}}</td>
              <td>{{itemForm.itemFormCode}}</td>
              <td>{{itemForm.itemForm}}</td>
              <td>{{itemForm.itemFormDesc}}</td>
              <td>
                <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!itemForm.deleted"
                (click)="editItemForm(itemForm)">edit</md-icon>
              </td>
              <td>
                <button md-raised-button color="accent" *ngIf="itemForm.deleted" class=" m-r-10" (click)="activateDeactivate(itemForm.itemFormID,false)">Activate</button>
                <button md-raised-button color="primary" *ngIf="!itemForm.deleted" class=" m-r-10" (click)="activateDeactivate(itemForm.itemFormID,true)">Deactivate</button>

              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="4" class="p-r-0">
                <button md-raised-button color="primary" *ngIf="createButton" class="pull-right" (click)="showForm()">Create Item Form</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="formMode">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>
          <strong>Item Form Master</strong>
        </h4>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
          <form id="addform" #itemAddForm1="ngForm">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline" [style.width]="'100%'">
                  <input mdInput style="display:none">
                  <md-select required name="Services" placeholder="Serviceline" [disabled]="true" [style.width]="'100%'" [(ngModel)]="serviceline"
                    (change)="getstates(serviceline)">
                    <md-option *ngFor="let item of services_array" [value]="item">
                      {{item.serviceName}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline" [style.width]="'100%'">
                  <input mdInput style="display:none">
                  <md-select required name="state" placeholder="State" [style.width]="'100%'" [disabled]="true" [(ngModel)]="state">
                    <md-option *ngFor="let item of states_array" [value]="item">
                      {{item.stateName}}
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
          </form>
          <div class="clearfix visible-md visible-lg"></div>
          <form id="addform" #itemAddForm="ngForm" autocomplete="off">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                  <md-input-container [style.width]="'100%'">
                    <input mdInput required placeholder="Item Form Code" PAN [(ngModel)]="create_itemFormCode" (blur)="checkExistance(create_itemFormCode)"  minlength="1"
                      maxlength="15" name="itemFormCode" #itemFormCode="ngModel">
                    <md-hint>
                      <span class="error_text" *ngIf="!itemFormCode.valid  && ( itemFormCode.dirty || itemFormCode.touched)">Enter minimum 1 character</span>
                      <span class="error_text" *ngIf="ItemFormCodeExist">Item Form Code Exists</span>
                    </md-hint>
                  </md-input-container>
                </div>
           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
            <md-input-container [style.width]="'100%'">
              <input mdInput required placeholder="Item Form Name" myProviderName [(ngModel)]="create_itemFormName" maxlength="100" name="itemFormName"
                #itemFormName="ngModel">
              <md-hint>
                <span class="error_text" *ngIf="!itemFormName.valid  && ( itemFormName.dirty || itemFormName.touched)">Please enter ItemForm Name</span>
              </md-hint>
            </md-input-container>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
            <md-input-container [style.width]="'100%'">
              <input mdInput  placeholder="Item Form Description" VehicleNO [(ngModel)]="create_itemFormDesc" maxlength="100" name="itemFormDesc"
                #itemFormDesc="ngModel">

            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 m-t-10 ">
              <button md-mini-fab class="xs-pull-right sm-pull-left md-pull-right lg-pull-left" *ngIf="!editMode && itemAddForm.valid && !ItemFormCodeExist"
                color="primary" (click)="add2buffer(itemAddForm.value);this.itemAddForm.reset();">
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
              </button>
            </div>
        </form>
      </div>
      <div class="col-xs-12 col-sm-12  m-t-15" *ngIf="bufferArray.length>0">
        <div class="table-responsive">
          <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="4">
            <thead>
              <tr>
                  <th width="5%">S.No.</th>
                <th>Item Form Code</th>
                <th>Item Form Name</th>
                <th>Item Form Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of md2.data;let i = index ">
                <td>{{bufferArray.indexOf(item)+1}}</td>
                <td>{{item.itemFormCode}}</td>
                <td>{{item.itemForm}}</td>
                <td>{{item.itemFormDesc}}</td>
                <td>
                  <md-icon class="cursorPointer" mdTooltip="Remove" (click)="removeRow(bufferArray.indexOf(item))">delete</md-icon>
                </td>
              </tr>
            </tbody>
            <tfoot>
                <tr>
                  <td colspan="7">
                    <md2-pagination></md2-pagination>
                  </td>
                </tr>
              </tfoot>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-t-15">
        <button md-raised-button color="primary" class="pull-left" (click)="showTable();itemAddForm.reset();">Back</button>
        <button md-raised-button color="accent" [disabled]="!(bufferArray.length>0)" class="pull-right" (click)="saveItemForm()">Save</button>
        <button  md-raised-button color="primary" class="pull-right m-r-5" (click)="itemAddForm.reset()">Clear</button>
      </div>
    </div>
    <div class="row" *ngIf="editMode">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>
            <strong>Edit Item Form</strong>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
          <form id="Editform" #itemEditForm="ngForm">
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <md-input-container class="hide_underline" [style.width]="'100%'">
                    <input mdInput style="display:none">
                    <md-select required name="Services" placeholder="Serviceline" [disabled]="true" [style.width]="'100%'" [(ngModel)]="edit_Serviceline"
                      (change)="getProviderStatesInService()">
                      <md-option *ngFor="let item of services_array" [value]="item">
                        {{item.serviceName}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                  <md-input-container class="hide_underline" [style.width]="'100%'">
                    <input mdInput style="display:none">
                    <md-select required name="state" placeholder="State" [style.width]="'100%'" [disabled]="true" [(ngModel)]="edit_State">
                      <md-option *ngFor="let item of states_array" [value]="item">
                        {{item.stateName}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div class="clearfix visible-md visible-lg"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <md-input-container [style.width]="'100%'">
                      <input mdInput required placeholder="Item Form Code" PAN [(ngModel)]="edit_itemFormCode"   maxlength="15" [disabled]="true"
                        name="itemFormCode" #itemFormCode="ngModel">
                      <md-hint>
                        <span class="error_text" *ngIf="!itemFormCode.valid  && ( itemFormCode.dirty || itemFormCode.touched)">Please enter ItemForm Code</span>
                      </md-hint>
                    </md-input-container>
                  </div>
               <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                  <md-input-container [style.width]="'100%'">
                    <input mdInput required placeholder="Item Form Name" myProviderName [(ngModel)]="edit_itemFormName" [disabled]="true"  maxlength="100"
                      name="itemFormName" #itemFormName="ngModel">
                    <!-- <md-hint>
                      <span class="error_text" *ngIf="!itemFormName.valid  && ( itemFormName.dirty || itemFormName.touched)">Please enter ItemForm Name</span>
                    </md-hint> -->
                  </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                  <md-input-container [style.width]="'100%'">
                    <input mdInput  placeholder="Item Form Description" VehicleNO [(ngModel)]="edit_itemFormDesc" maxlength="100" name="itemFormDesc"
                      #itemFormDesc="ngModel">

                  </md-input-container>
                </div>

         </form>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
            <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>
            <button *ngIf="editMode" md-raised-button color="accent" class="pull-right" [disabled]="itemEditForm.invalid" (click)="updateItemForm(itemEditForm.value)">Update</button>

          </div>
        </div>
      </div>
