<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Provider Admin-Provider Mapping</strong>
    </h4>
  </div>
  <!-- pre-populated table showing the number of providers available -->
  <div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
      <table [md2Data]="providerAdminList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="15%" md2SortBy="serviceProviderName">Provider Name</th>
            <th width="20%">Provider Admin Name</th>
            <th width="12%">Serviceline</th>
            <th width="15%">State </th>
            <th width="5%">Edit</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="providerAdminList.length == 0">
            <td colspan="6" class="record-not-found">No records found</td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let service of md2.data;let i=index ">
            <td>{{service.serviceProviderName}}</td>
            <td>{{service.firstName }}</td>
            <td>{{service.serviceName}}</td>
            <td>{{service.stateName===undefined || null ?"All states":service.stateName}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!service.uSRMDeleted && !service.serviceProviderDeleted  && !service.userDeleted"
                (click)="editRow(service)">edit</md-icon>
            </td>
            <td>
              <button md-raised-button color="accent" *ngIf="service.uSRMDeleted || service.serviceProviderDeleted || service.userDeleted"
                class=" m-r-10" (click)="activate(service.uSRMappingID,service.serviceProviderDeleted,service.userDeleted)">Activate</button>
              <button md-raised-button color="primary" *ngIf="!service.uSRMDeleted && !service.serviceProviderDeleted && !service.userDeleted"
                class=" m-r-10" (click)="deactivate(service.uSRMappingID)">Deactivate</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create New Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Provider Admin-Provider Mapping</strong>
    </h4>
    <h4 *ngIf="editMode">
      <strong>Edit Provider Admin-Provider Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form id="myForm" #form="ngForm" autocomplete="off">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="ProviderAdmin" placeholder="Provider Admin" [style.width]="'100%'" [(ngModel)]="service_provider_admin">
            <md-option *ngFor="let item of service_provider_admin_array" [value]="item">
              {{item.userName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="serviceProvider" placeholder="Provider Name" [style.width]="'100%'" [(ngModel)]="service_provider"
            (change)="getProviderServices(service_provider)">
            <md-option *ngFor="let item of service_provider_array" [value]="item">
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="Services" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" (change)="getProviderStatesInService(service_provider_admin,service_provider,serviceline,serviceline.isNational);setIsNational(serviceline.isNational)">
            <md-option *ngFor="let item of services_array" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" [disabled]="isNational" multiple [(ngModel)]="state">
            <md-option *ngFor="let item of filteredStates" [value]="item">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


    </form>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12 m-t-10 ">
      <button md-mini-fab class="xs-pull-right sm-pull-right md-pull-left lg-pull-right" *ngIf="!editMode && form.valid" color="primary"
        (click)="add2bufferArray(form.value)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12  m-t-15" *ngIf="bufferArray.length>0">
    <div class="table-responsive">
      <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="3">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="20%">Provider Admin Name</th>
            <th width="30%">Provider Name</th>
            <th width="20%">Serviceline </th>
            <th width="40%">State</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{bufferArray.indexOf(item)+1}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.serviceProviderName}}</td>
            <td>{{item.serviceName }}</td>
            <td>
              <ul>
                <li *ngFor="let obj of item.serviceProviderMapID1;let j=index ">
                  {{obj.stateName}}
                  <md-icon class="cursorPointer" mdTooltip="Remove {{obj.stateName}}" (click)="removeService(bufferArray.indexOf(item),j)">cancel</md-icon>
                </li>
              </ul>
            </td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove" (click)="removeRow(bufferArray.indexOf(item))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 m-t-15">
    <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
    <button md-raised-button color="accent" [disabled]="!(bufferArray.length>0)" class="pull-right" (click)="mapServicelineState()">Save</button>

  </div>
</div>
<div class="row" *ngIf="editMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Provider Admin-Provider Mapping</strong>
    </h4>
    <h4 *ngIf="editMode">
      <strong>Edit Provider Admin-Provider Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form autocomplete="off" id="editForm" #eform="ngForm">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="ProviderAdmin" [disabled]="true" placeholder="Provider Admin" [style.width]="'100%'" [(ngModel)]="edit_Details.userID">
            <md-option *ngFor="let item of service_provider_admin_array | OrderBy : 'userName'" [value]="item.userID">
              {{item.userName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="serviceProvider" [disabled]="true" placeholder="Provider Name" [style.width]="'100%'" (change)="getProviderServices_Edit(edit_Details.serviceProviderID)"
            [(ngModel)]="edit_Details.serviceProviderID">
            <md-option *ngFor="let item of service_provider_array | OrderBy : 'serviceProviderName'" [value]="item.serviceProviderId">
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="Serviceline" placeholder="Serviceline" [disabled]="true" (change)="getProviderStatesInService_edit(edit_Details.userID,edit_Details,edit_Details.serviceID,edit_Details.serviceID);"
            [style.width]="'100%'" [(ngModel)]="edit_Details.serviceID">
            <md-option *ngFor="let item of services_array" [value]="item.serviceID">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select required name="states" placeholder="State" [style.width]="'100%'" [disabled]="isNational" [(ngModel)]="edit_state">
            <md-option *ngFor="let item of filteredStates" (click)=getPrividerMapID(item.providerServiceMapID) [value]="item.stateID">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
      <button *ngIf="editMode" md-raised-button color="accent" class="pull-right" [disabled]="eform.invalid" (click)="update(eform.value)">Update</button>

    </div>
  </div>
</div>