<md-card>
  <div class="row" *ngIf="tableMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Mapping Provider Admin To Provider</strong>
      </h4>
    </div>
    <!-- pre-populated table showing the number of providers available -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">

      <table [md2Data]="providerAdminList" #md2="md2DataTable" class="table" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>Provider Name</th>
            <th>Provider Admin Name</th>
            <th>Service Line</th>
            <th>State </th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="providerAdminList.length == 0">
            <td colspan="6" align="center">No Record Found</td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let service of md2.data;let i=index ">
            <td>{{service.serviceProviderName}}</td>
            <td>{{service.firstName }}</td>
            <td>{{service.serviceName}}</td>
            <td>{{service.stateName}}</td>
            <td>
              <i mdTooltip="edit" class="fa fa-pencil fa-lg cursorPointer" *ngIf="!service.uSRMDeleted" style="font-size: 18px" (click)="editRow(service)"></i>
            </td>
            <td>
              <button md-raised-button color="primary" *ngIf="service.uSRMDeleted" class=" m-r-10" (click)="activate(service.uSRMappingID)">Activate</button>
              <button md-raised-button color="primary" *ngIf="!service.uSRMDeleted" class=" m-r-10" (click)="deactivate(service.uSRMappingID)">Deactivate</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create New Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 *ngIf="!editMode">
        <strong>Mapping Provider Admin To Provider</strong>
      </h4>
      <h4 *ngIf="editMode">
        <strong>Edit Mapping Provider Admin To Provider</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

      <form id="myForm" #form="ngForm">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  m-t-15">
          <md-select required name="ProviderAdmin" placeholder="Provider Admin" [style.width]="'100%'" [(ngModel)]="service_provider_admin">
            <md-option *ngFor="let item of service_provider_admin_array" [value]="item">
              {{item.userName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-15">
          <md-select required name="serviceProvider" placeholder="Provider Name" [style.width]="'100%'" [(ngModel)]="service_provider"
            (change)="getProviderStates(service_provider)">
            <md-option *ngFor="let item of service_provider_array" [value]="item">
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  m-t-15">
          <md-select required name="state" placeholder="State" (change)="getProviderServicesInState(state,service_provider_admin,service_provider)"
            [style.width]="'100%'" [(ngModel)]="state">
            <md-option *ngFor="let item of states_array" [value]="item">
              {{item.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-15 ">
          <md-select required name="Services" placeholder="ServiceLine" [multiple]="true" [style.width]="'100%'" [(ngModel)]="serviceline">
            <md-option *ngFor="let item of filteredServiceLines" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </div>

      </form>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10 ">
        <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>
        <button *ngIf="!editMode" md-raised-button color="primary" class="pull-right" [disabled]="form.invalid" (click)="add2bufferArray(form.value)">Add</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " *ngIf="bufferArray.length>0">
      <table class="table table-striped table-hover" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="5">
        <thead>
          <tr>
            <th width="5%">S.No</th>
            <th width="30%">Provider Name</th>
            <th width="15%">Provider Admin Name</th>
            <th width="15%">State</th>
            <th width="40%">Serviceline</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{(md2.activePage-1)*5+i+1}}</td>
            <td>{{item.serviceProviderName}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.stateName}}</td>
            <td>
              <ul>
                <li *ngFor="let obj of item.serviceProviderMapID1;let j=index ">
                  {{obj.serviceName}}
                  <md-icon class="cursorPointer" mdTooltip="Remove {{obj.serviceName}}" (click)="removeService(i,j)">cancel</md-icon>
                </li>
              </ul>
            </td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove Row" (click)="removeRow(i)">clear</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="mapServicelineState()">Save</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 *ngIf="!editMode">
        <strong>Mapping Provider Admin To Provider</strong>
      </h4>
      <h4 *ngIf="editMode">
        <strong>Edit Mapping Provider Admin To Provider</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

      <form autocomplete="off" id="editForm" #eform="ngForm">

        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  m-t-15">
          <md-select required name="ProviderAdmin" placeholder="Provider Admin" [style.width]="'100%'" [(ngModel)]="edit_Details.userID">
            <md-option *ngFor="let item of service_provider_admin_array" [value]="item.userID">
              {{item.userName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-15">
          <md-select required name="serviceProvider" placeholder="Provider Name" [style.width]="'100%'" (change)="getProviderStates(edit_Details)"
            [(ngModel)]="edit_Details.serviceProviderID">
            <md-option *ngFor="let item of service_provider_array" [value]="item.serviceProviderId">
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3  m-t-15">
          <md-select required name="states" placeholder="State" [style.width]="'100%'" (change)="getProviderServicesInState(edit_Details,edit_Details,edit_Details)"
            [(ngModel)]="edit_Details.stateID">
            <md-option *ngFor="let item of states_array" [value]="item.stateID">
              {{item.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-15">
          <md-select required name="Serviceline" placeholder="ServiceLine" [style.width]="'100%'" [(ngModel)]="edit_Details.providerServiceMapID">
            <md-option *ngFor="let item of filteredServiceLines" [value]="item.providerServiceMapID">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </div>

      </form>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
        <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>
        <button *ngIf="editMode" md-raised-button color="primary" class="pull-right" [disabled]="eform.invalid" (click)="update(eform.value)">Update</button>

      </div>
    </div>
  </div>
</md-card>