<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">View Provider</h4>
  </div>
  <form id="myForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" (keydown)="selectKeyPress($event)">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="serviceProvider" placeholder="Service Provider" class="width100" [(ngModel)]="service_provider" (change)="getStates(service_provider)">
          <md-option *ngFor="let item of stateProviderArray" [value]="item.serviceProviderId">
            {{item.serviceProviderName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="Services" placeholder="Serviceline" class="width100" [(ngModel)]="serviceline">
          <md-option *ngFor="let item of services_array" [value]="item.serviceID" (click)="setIsNationalFlag(item.isNational)">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="state" placeholder="State" [disabled]="isNational" class="width100" [(ngModel)]="state" (change)="getServicesInState(service_provider,state)">
          <md-option *ngFor="let item of states_array" [value]="item.stateID">
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>


    <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="Services" placeholder="ServiceLine" class="width100" [(ngModel)]="serviceline" (change)="getStatesBasedOn_Provider_Service(service_provider,serviceline)">
          <md-option *ngFor="let item of services_array" [value]="item.serviceID">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select name="state" placeholder="State" class="width100" [(ngModel)]="state" (change)="getStatus(service_provider,state,serviceline)">
          <md-option *ngFor="let item of states_array" [value]="item.stateID">
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div> -->
  </form>
</div>

<div class="row" *ngIf="showTable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15 ">
    <div class="table-responsive">
      <table class="table table-striped table-hover" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <!-- <th>PSMID</th> -->
            <th>S.No.</th>
            <th>Provider Name</th>

            <th>Serviceline</th>
            <th>State</th>
            <th>Status</th>
            <!-- <th>Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="data.length == 0" class="record-not-found">
            <td colspan="6" align="center">No records found</td>
          </tr>
          <tr *ngFor="let i of md2.data; let k=index">
            <!-- <td>{{i.providerServiceMapID}}</td> -->
            <td width="5%">{{(md2.activePage-1)*4+k+1}}</td>
            <td width=20%>{{i.serviceProviderName}}</td>

            <td width=20%>{{i.serviceName}}</td>
            <td width=20%>{{i.stateName?i.stateName:'All State'}}</td>
            <td width=20%>{{i.status}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <form #statusSettingFields='ngForm' autocomplete="off">
      <div class="row" *ngIf="case_one">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Provider Level Provision</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select required #statusRef="ngModel" name="status" placeholder="Select Status" class="width100" [(ngModel)]="status">
              <md-option *ngFor="let item of status_array" [value]="item.statusID">
                {{item.status}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100" myProviderName>
            <input mdInput required placeholder="Reason" [(ngModel)]="reason" minlength="5" maxlength="50" name="reason" #reasonRef="ngModel">
            <md-hint *ngIf="reasonRef.touched">
              <span class="error_text" *ngIf="reasonRef.errors?.required">Reason is required</span>
              <span class="error_text" *ngIf="reasonRef.errors?.minlength">Enter minimum 5 characters</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
          <button md-raised-button color="accent" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left" [disabled]="statusRef.invalid || reasonRef.invalid"
            (click)="blockProvider()">Update</button>
        </div>
      </div>
      <div class="row" *ngIf="case_two ">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>State Level Provision</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select required #statusRef="ngModel" name="status" placeholder="Select Status" class="width100" [(ngModel)]="status">
              <md-option *ngFor="let item of status_array" [value]="item.statusID">
                {{item.status}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100" myProviderName>
            <input mdInput required placeholder="Reason" [(ngModel)]="reason" minlength="5" maxlength="50" name="reason" #reasonRef="ngModel">
            <md-hint *ngIf="reasonRef.touched">
              <span class="error_text" *ngIf="reasonRef.errors?.required">Reason is required</span>
              <span class="error_text" *ngIf="reasonRef.errors?.minlength">Enter minimum 5 characters</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
          <button md-raised-button color="accent" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left" [disabled]="statusRef.invalid || reasonRef.invalid"
            (click)="blockState()">Update</button>
        </div>
      </div>
      <div class="row" *ngIf="case_three">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Serviceline Level Provision</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select name="status" #statusRef="ngModel" placeholder="Select Status" class="width100" [(ngModel)]="status" required>
              <md-option *ngFor="let item of status_array" [value]="item.statusID">
                {{item.status}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100" myProviderName>
            <input mdInput required placeholder="Reason" [(ngModel)]="reason" minlength="5" maxlength="50" name="reason" #reasonRef="ngModel">
            <md-hint *ngIf="reasonRef.touched">
              <span class="error_text" *ngIf="reasonRef.errors?.required">Reason is required</span>
              <span class="error_text" *ngIf="reasonRef.errors?.minlength">Enter minimum 5 characters</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
          <button md-raised-button color="accent" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left" [disabled]="statusRef.invalid || reasonRef.invalid"
            (click)="blockService()">Update</button>
        </div>
      </div>
      <div class="row" *ngIf="case_four">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Provider State Serviceline Level Provision</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select #statusR="ngModel" name="status" placeholder="Select Status" class="width100" [(ngModel)]="status" required>
              <md-option *ngFor="let item of status_array" [value]="item.statusID">
                {{item.status}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100" myProviderName>
            <input mdInput placeholder="Reason" [(ngModel)]="reason" minlength="5" maxlength="50" name="reason" #reasonR="ngModel" required>
            <md-hint>
              <span class="error_text" *ngIf="!reasonR.valid && reasonR.touched && reasonR.errors ">Required minimum 5 characters</span>
              <!-- <span class="error_text" *ngIf="reasonR.errors?.minlength">Enter minimum 5 characters</span> -->
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
          <button md-raised-button color="accent" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left" [disabled]="statusR.errors || reasonR.errors"
            (click)="blockServiceOfState()">Update</button>
        </div>
      </div>
    </form>
  </div>