<div *ngIf="!createEmployeeFlag">
  <md-card >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4 class="f-s-b">Employee Master</h4>
      
          <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

          <md2-autocomplete [items]="states"  [style.width]="'100%'" item-text="stateName" item-value="stateID" [(ngModel)]="state_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter);getServices(state_filter)" placeholder="State">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
          <!-- <md-input-container style="width: 100% ">
            <input mdInput placeholder="Middle Name " [(ngModel)]="middlename " name="employee_middlename ">
          </md-input-container> -->
          <md2-autocomplete [items]="services"   [style.width]="'100%'" item-text="serviceName" item-value="serviceID" [(ngModel)]="service_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter);getRoles(state_filter,service_filter)" placeholder="Service Line">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
          <md2-autocomplete [items]="roles"  [style.width]="'100%'" item-text="roleName" item-value="roleID" [(ngModel)]="role_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)" placeholder="Role">
          </md2-autocomplete>
          <!-- <md-input-container style="width: 100% ">
            <input mdInput placeholder="Middle Name " [(ngModel)]="middlename " name="employee_middlename ">
          </md-input-container> -->
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" style="margin-top: 3px">
          <!-- <md2-autocomplete [items]="names" item-text="name" item-value="value" [(ngModel)]="employee_name_filter" (change)="selected(one,two,three)" placeholder="Employee Name">
        </md2-autocomplete> -->
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Employee Name"  [style.width]="'100%'" [(ngModel)]="name_filter" name="employee_middlename" (blur)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)">
        </md-input-container>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" style="margin-top: 3px">
          <!-- <md2-autocomplete [items]="items3" item-text="id" item-value="value" [(ngModel)]="three" (change)="selected(one,two,three)" placeholder="Employee ID">
        </md2-autocomplete> -->
        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Employee ID"  [style.width]="'100%'" [(ngModel)]="employee_id_filter" name="employee_middlename" (blur)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)">
        </md-input-container>
      </div>

  </div>
</div>

<div *ngIf="!createEmployeeFlag" class="m-t-10" style="height: 315px">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table [md2Data]="tableitems" #md2="md2DataTable" class="table" [rowsPerPage]="3">
        <thead>
          <tr>
            <th md2SortBy="state">State</th>
            <th md2SortBy="service">Service</th>
            <th md2SortBy="role">Role</th>
            <th md2SortBy="empName">Employee Name</th>
            <th md2SortBy="empID">Employee ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data">
            <td>{{item.pSMStateName}}</td>
            <td>{{item.serviceName}}</td>
            <td>{{item.roleName}}</td>
            <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
            <td>{{item.userID}}</td>
            <td>
              <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editeUser(item)">edit</md-icon>
              <md-icon mdTooltip="delete" *ngIf="!item.deleted"  class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteUser(item.uSRMappingID)">delete</md-icon>
            </td>
          </tr>
          <!-- *ngIf="tableitems.length>3" -->
          <!--<pagination-controls (pageChange)="b = $event" id="emp" ></pagination-controls>-->
        </tbody>
        <tfoot>
          <tr>
              <td colspan="6">
              <md2-pagination></md2-pagination>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">     
        <button md-raised-button color="primary" class="pull-right" (click)="changeFlagValue(true)">Create New Employee</button>  
    </div>
  </div>
  </div>
</md-card>
</div>
<div class="row" *ngIf="createEmployeeFlag">
  <app-employee-details-capturing ></app-employee-details-capturing>
</div>



<!-- <div *ngIf="!createEmployeeFlag">
  <md-card >
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <h4 class="f-s-b">Employee Master</h4>
          </div>
      
          <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

          <md2-autocomplete [items]="states"  [style.width]="'100%'" item-text="stateName" item-value="stateID" [(ngModel)]="state_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter);getServices(state_filter)" placeholder="State">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

          <md2-autocomplete [items]="services"   [style.width]="'100%'" item-text="serviceName" item-value="serviceID" [(ngModel)]="service_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter);getRoles(state_filter,service_filter)" placeholder="Service Line">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
          <md2-autocomplete [items]="roles"  [style.width]="'100%'" item-text="roleName" item-value="roleID" [(ngModel)]="role_filter" (change)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)" placeholder="Role">
          </md2-autocomplete>

        </div>
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" style="margin-top: 3px">

        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Employee Name"  [style.width]="'100%'" [(ngModel)]="name_filter" name="employee_middlename" (blur)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)">
        </md-input-container>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2" style="margin-top: 3px">

        <md-input-container style="width: 100% ">
          <input mdInput placeholder="Employee ID"  [style.width]="'100%'" [(ngModel)]="employee_id_filter" name="employee_middlename" (blur)="searchEmployee(state_filter,service_filter,role_filter,name_filter,employee_id_filter)">
        </md-input-container>
      </div>

  </div>
</div>
</md-card>
<md-card *ngIf="!createEmployeeFlag" class="m-t-10" style="height: 315px">
  <div class="row">
    <div class="table-responsive">
      <table [md2Data]="tableitems" #md2="md2DataTable" class="table">
        <thead>
          <tr>
            <th md2SortBy="state">State</th>
            <th md2SortBy="service">Service</th>
            <th md2SortBy="role">Role</th>
            <th md2SortBy="empName">Employee Name</th>
            <th md2SortBy="empID">Employee ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngIf="tableitems.length == 0 ">
          NO RECORD FOUND
        </tr>
          <tr *ngFor="let item of md2.data">
            <td>{{item.pSMStateName}}</td>
            <td>{{item.serviceName}}</td>
            <td>{{item.roleName}}</td>
            <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
            <td>{{item.userID}}</td>
            <td>
              <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editeUser(item)">edit</md-icon>
              <md-icon mdTooltip="delete" *ngIf="!item.deleted"  class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteUser(item.uSRMappingID)">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
          <td>
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " > 
        <button md-raised-button color="primary" class="pull-right" (click)="changeFlagValue(true)">Create New Employee</button>
    
    </div>
  </div>
</md-card>
</div>
<div class="row" *ngIf="createEmployeeFlag">
  <app-employee-details-capturing ></app-employee-details-capturing>
</div>
 -->