<md-card *ngIf="!showAccordianFlag">
  <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!-- blank -->
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md2-autocomplete [items]="items1" item-text="role" item-value="value" [(ngModel)]="one" (change)="selected(one,two,three)" placeholder="Role">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md2-autocomplete [items]="items2" item-text="name" item-value="value" [(ngModel)]="two" (change)="selected(one,two,three)" placeholder="Employee Name">
          </md2-autocomplete>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md2-autocomplete [items]="items3" item-text="id" item-value="value" [(ngModel)]="three" (change)="selected(one,two,three)" placeholder="Employee ID">
          </md2-autocomplete>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <!-- blank -->
      </div>
    </div>
  </div>
</md-card>
<md-card *ngIf="!showAccordianFlag" class="m-t-10" style="height: 315px">
  <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table [md2Data]="tableitems" #md2="md2DataTable" class="table">
        <thead>
          <tr>
            <th md2SortBy="service">Service</th>
            <th md2SortBy="state">State</th>
            <th md2SortBy="role">Role</th>
            <th md2SortBy="empName">Employee Name</th>
            <th md2SortBy="empID">Employee ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableitems| paginate: {id:'emp', itemsPerPage: 3, currentPage: b}">
            <td>{{item.service}}</td>
            <td>{{item.state}}</td>
            <td>{{item.role}}</td>
            <td>{{item.empName}}</td>
            <td>{{item.empID}}</td>
            <td>
              <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">edit</md-icon>
              <md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">delete</md-icon>
            </td>
          </tr>
          <pagination-controls (pageChange)="b = $event" id="emp" *ngIf="tableitems.length>3"></pagination-controls>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
        <button md-raised-button style="width: 100%" (click)="changeFlagValue(true)">Create New Employee</button>
      </div>
    </div>
  </div>
</md-card>

<div class="row" *ngIf="showAccordianFlag">
  <app-employee-details-capturing></app-employee-details-capturing>
</div>
