<div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h4 class="modal-title">Edit Feedback Type</h4>
  </div>
</div>
<div class=" m-t-20">
  <form #f1="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="service!='3'">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Feedback Name" name="feedbackName" [(ngModel)]="feedbackName" (keyup)="validateFeedback(feedbackName)"
          #fbName="ngModel" required>
        <md-hint *ngIf="fbName.errors && fbName.touched">
          <span class="error_text">Feedback Name is required</span>
        </md-hint>
        <md-hint *ngIf="feedbackExists && fbName.touched">
          <span class="error_text">{{msg}}</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="service==='3'">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Feedback Name" [style.width]="'100%'" [(ngModel)]="feedbackName" name="feedbackName" required (change)="validateFeedback(feedbackName)"
          #fbName="ngModel">
          <md-option value="Generic Complaint">Generic Complaint</md-option>
          <md-option value="Asha Complaints">Asha Complaints</md-option>
          <md-option value="Epidemic Complaints">Epidemic Complaints</md-option>
          <md-option value="Foodsafety Complaints">Food Safety Complaints</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Feedback Desc" name="feedbackDesc" [(ngModel)]="feedbackDesc" #fbDesc="ngModel">
        <!-- <md-hint *ngIf="fbDesc.errors && fbDesc.touched">
              <span class="error_text">Feedback Description is required</span>
          </md-hint> -->
      </md-input-container>
    </div>

    <div class=" m-t-20" align="center">
      <button md-raised-button color="accent" class="m-r-10" (click)="update()" [disabled]="f1.invalid || feedbackExists">
        Update
      </button>
      <button md-raised-button color="primary" [md-dialog-close]="true">Cancel</button>
    </div>
  </form>
</div>