<!-- <md-card> -->
<!--search page-->
<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Feedback/Complaint Type Master</h4>
  </div>
  <form #searchFTForm="ngForm" autocomplete="off">

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="search_serviceline" name="serviceline" required>
          <md-option *ngFor="let service of servicelines" value="{{service.serviceID}}" (click)="getStates(service.serviceID,service.isNational);setIsNational(service.isNational)">
            {{service.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="State" [style.width]="'100%'" [disabled]="isNational" [(ngModel)]="search_state" name="state" required>
          <md-option *ngFor="let state of states" value="{{state.stateID}}" (click)="findFeedbackTypes(state.providerServiceMapID)">
            {{state.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <button *ngIf="showTable" class="pull-right" md-raised-button color="primary" (click)="clear()">Clear</button>
    </div> -->
  </form>
  <!--table area-->
  <div class="col-xs-12 col-sm-12  m-t-20" *ngIf="showTable">
    <div class="table-responsive">
      <table [md2Data]="feedbackTypes" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4">
        <thead>
          <tr>
            <th style="width: 5%">S.No.</th>
            <th style="width: 35%">Feedback Name</th>
            <th style="width: 35%">Feedback Description</th>
            <th style="width: 10%">Edit</th>
            <th style="width: 20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="feedbackTypes.length == 0">
            <td colspan="5" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of  md2.data">
            <td>{{feedbackTypes.indexOf(item)+1}}</td>
            <td>{{item.feedbackTypeName}}</td>
            <td>{{item.feedbackDesc}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!item.deleted"
                (click)="editFeedback(item)">edit</md-icon>
            </td>
            <td>
              <button *ngIf="item.deleted == true" md-raised-button color="accent" (click)="activeDeactivate(item.feedbackTypeID,false)">Activate</button>
              <button *ngIf="item.deleted == false" md-raised-button color="primary" (click)="activeDeactivate(item.feedbackTypeID,true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button class="pull-right" md-raised-button color="primary" [disabled]="searchFTForm.invalid" (click)="changeTableFlag(false)">Add Feedback Type</button>
            </td>
            <!--<td colspan="2">
                <button class="pull-right" md-raised-button color="primary" (click)="changeTableFlag(false)">Add Feedback type</button>
              </td>-->
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- <div>
      <button class="pull-right" md-raised-button color="primary" [disabled]="searchFTForm.invalid" (click)="changeTableFlag(false)">Add Feedback type</button>
    </div> -->
  </div>
</div>
<!--new feedback page-->
<div class="row" *ngIf="!(searchForm)">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="width100">Add Feedback/Complaint Type</h4>
    <form #addForm="ngForm" autocomplete="off">
      <div class="row">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="search_serviceline" name="serviceline" [disabled]="true"
              required>
              <md-option *ngFor="let service of servicelines" value="{{service.serviceID}}" (click)="getStates(service.serviceID,service.isNational);setIsNational(service.isNational)">
                {{service.serviceName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="State" [style.width]="'100%'" [(ngModel)]="search_state" name="state" [disabled]="true" required>
              <md-option *ngFor="let state of states" value="{{state.stateID}}" (click)="findFeedbackTypes(state.providerServiceMapID)">
                {{state.stateName}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </form>
    <form #editForm="ngForm" autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " *ngIf="search_serviceline!='3'">
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Feedback Name" name="feedbackName" myProviderName [(ngModel)]="feedbackName" #feedback_name="ngModel" required>
            <md-hint *ngIf="alreadyExist && feedback_name.touched">
              <span class="error_text">Feedback already exist</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " *ngIf="search_serviceline==='3'">
          <md-input-container class="hide_underline" [style.width]="'100%'">
            <input mdInput style="display:none">
            <md-select placeholder="Feedback Name" [style.width]="'100%'" [(ngModel)]="feedbackName" #feedback="ngModel" (change)="checkExistance()"
              name="feedbackName" required>
              <md-option value="Generic Complaint">Generic Complaint</md-option>
              <md-option value="Asha Complaints">Asha Complaints</md-option>
              <md-option value="Epidemic Complaints">Epidemic Complaints</md-option>
              <md-option value="Foodsafety Complaints">Food Safety Complaints</md-option>
            </md-select>
            <md-hint>
              <span class="error_text" *ngIf="feedback.errors && feedback.touched">Feedback name is required</span>
              <span class="error_text" *ngIf="!feedback.errors && feedbackExists">Feedback Name already exist</span>
            </md-hint>
          </md-input-container>
        </div>
        <!-- <div class="clearfix visible-md "></div> -->
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 " myProviderName>
          <md-input-container [style.width]="'100%'">
            <input mdInput placeholder="Feedback Description" name="feedbackDesc" [(ngModel)]="feedbackDesc">

          </md-input-container>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 " *ngIf="editForm.valid && !feedbackExists">
          <button md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left"
            type="button" (click)="add_obj(feedbackName,feedbackDesc);">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
        </div>
      </div>


      <!-- <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
        <button md-mini-fab color="primary"  [disabled]="!addForm.valid && !feedbackExists" type="button" (click)="add_obj(feedbackName,feedbackDesc);this.addForm.reset();">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
      </div> -->

      <div class="m-t-15" *ngIf="(objs.length !=0)">
        <div class="table-responsive">
          <table [md2Data]="objs" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="3">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Feedback Name</th>
                <th>Feedback Description</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of md2.data; let i = index ">
                <td>{{objs.indexOf(obj)+1}}</td>
                <td>{{obj.feedbackTypeName}}</td>
                <td>{{obj.feedbackDesc}}</td>
                <td>
                  <md-icon mdSuffix class="mat-icon material-icons" mdTooltip="Remove" role="img" aria-hidden="true" style="cursor: pointer"
                    (click)="remove_obj(objs.indexOf(obj))">delete</md-icon>

                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <md2-pagination></md2-pagination>
                </td>

              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-b-10 m-t-10">
        <div class="row">
          <button md-raised-button color="accent" [disabled]="!(objs.length>0)" class="pull-right " (click)="saveFeedback()">Save</button>
          <button class="pull-left" md-raised-button color="primary" (click)="back();this.editForm.reset();">Back</button>
        </div>
      </div>

    </form>
  </div>
</div>
<!-- </md-card> -->