.input-full-width {
    width: 100%;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-4 {
    margin-top: 4px;
}

.m-r-5{
    margin-right: 5px;
}

.p-r-0 {
    padding-right: 0px;
}

.readonly-input {
    cursor: not-allowed;
}