<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Edit Unit of Measure</strong>
    </h4>
  </div>
</div>
<form [formGroup]="UOMMasterForm" autocomplete="off">
  <div class="row m-t-20">
    <ng-container formGroupName="UOM">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="UOM Code" name="uomCode" formControlName="uOMCode">
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="UOM Name" name="uOMName" formControlName="uOMName" maxlength=100>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-input-container class="input-full-width">
          <input mdInput placeholder="UOM Description" VehicleNO name="description" formControlName="uOMDesc" maxlength=100>
        </md-input-container>
      </div>
    </ng-container>
  </div>

  <div class="row m-t-20">
    <div class="col-xs-12 col-sm-6">
      <button type="button" md-raised-button color="primary" class="pull-left" (click)="switchToViewMode()">Back</button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button type="submit" md-raised-button color="accent" class="pull-right" (click)="updateUOMForm()">Update</button>
      <!-- <button type="reset" md-raised-button color="primary" class="pull-right m-r-5">Reset</button> -->
    </div>
  </div>
</form>