<!-- <md-card> -->
<div class="row" *ngIf="showVanServicePointMappings  && !editable">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Van Service Point Mapping</h4>
    </div>

    <form #searForm="ngForm">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select placeholder="State" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID" (change)="getDistricts(searchStateID);getServices(searchStateID)">
                    <md-option *ngFor="let state of provider_states" [value]="state.stateID">
                        {{state.stateName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select placeholder="District" [style.width]="'100%'" [(ngModel)]="searchDistrictID" name="searchDistrictID" (change)="getParkingPlaces(searchStateID,searchDistrictID);">
                    <md-option *ngFor="let district of districts" [value]="district.districtID">
                        {{district.districtName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select placeholder="Parking Place" [style.width]="'100%'" [(ngModel)]="searchParkingPlaceID" name="searchParkingPlaceID">
                    <md-option *ngFor="let parkingPlace of availableParkingPlaces" [value]="parkingPlace.parkingPlaceID">
                        {{parkingPlace.parkingPlaceName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select placeholder="Van Type" [style.width]="'100%'" [(ngModel)]="vanTypeID" name="vanTypeID" (change)="getVans(searchStateID,searchDistrictID,searchParkingPlaceID,vanTypeID);">
                    <md-option *ngFor="let vanType of availableVanTypes" [value]="vanType.vanTypeID">
                        {{vanType.vanType}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select required placeholder="Van" [style.width]="'100%'" [(ngModel)]="vanID" name="vanID" #vanVal="ngModel" (change)="getVanServicePointMappings(searchStateID,searchDistrictID,searchParkingPlaceID);">
                    <md-option *ngFor="let van of availableVans" [value]="van.vanID" (change)="selectedVan(van)">
                        {{van.vanName}}
                    </md-option>
                    <md-hint [hidden]=vanVal.valid>
                        <span class="error_text" *ngIf="!vanVal.required  && ( vanVal.dirty || vanVal.touched)">Please select Van </span>
                    </md-hint>
                </md-select>
            </md-input-container>
        </div>
        <!--<div>
                        <label>{{vanID.split("-")[1]}}</label>
                    </div>-->

        <!--<button class="btn">
                        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="showList()">clear</md-icon>
                    </button>-->
    </form>

</div>

<!-- <div *ngIf="showVanServicePointMappings  && !editable" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>Available Vans</h4>
                <form #mappingForm="ngForm">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>S No.</th>
                                <th>select</th>
                                <th>servicePoint</th>
                                <th>Morning</th>
                                <th>Evening</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" *ngFor="let vanServicePointMappings of availableVanServicePointMappings;let i= index">
                                <td>{{availableVanServicePointMappings.indexOf(vanServicePointMappings)+1}} </td>
                                <td [ngModel]><md-checkbox color="primary"></md-checkbox></td>
                                <td>{{vanServicePointMappings.servicePointName}}</td>
                                <td><md-checkbox color="primary" [checked]="(vanServicePointMappings.vanSession=='1' || vanServicePointMappings.vanSession=='3')"></md-checkbox></td>
                                <td><md-checkbox color="primary" [checked]="(vanServicePointMappings.vanSession=='2' || vanServicePointMappings.vanSession=='3')"></md-checkbox></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <md2-pagination></md2-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <pagination-controls (pageChange)="b = $event" id="servicePointListResult"></pagination-controls>
                    <div>
                        <button md-raised-button color="accent" class="pull-right" (click)="showForm()"> Save </button>
                    </div>
                </form>
            </div> -->
<form class="c-b p-t-30" [formGroup]="MappingForm">
    <div class="form-group" *ngIf="availableVanServicePointMappings.length!=0">
        <table [md2Data]="MappingForm.get('mappings').controls" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="3">
            <thead>
                <tr>
                    <th width="10%">S.No.</th>
                    <th width="50%">Service Point</th>
                    <th width="30%">Morning</th>
                    <th width="30%">Evening</th>
                </tr>
            </thead>
            <tbody formArrayName="mappings">
                
                <tr [formGroupName]="this.MappingForm.get('mappings').controls.indexOf(mapping)" *ngFor="let mapping of md2.data">
                    <td>
                        <input mdInput required formControlName="vanID" value="vanID" [hidden]="true"> {{this.MappingForm.get('mappings').controls.indexOf(mapping)+1}}
                    </td>
                    <td>
                        <input mdInput formControlName="servicePointID" value="mapping.controls.servicePointID.value" [hidden]="true">{{mapping.controls.servicePointName.value}}</td>
                    <td>
                        <md-checkbox color="primary" formControlName="vanSession1" [checked]="mapping.controls.vanSession1.value"></md-checkbox>
                    </td>
                    <td>
                        <md-checkbox color="primary" formControlName="vanSession2" [checked]="mapping.controls.vanSession2.value"></md-checkbox>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <md2-pagination></md2-pagination>
                    </td>
                    <td colspan="2" class="p-r-0">
                        <button md-button *ngIf="availableVanServicePointMappings.length!=0" md-raised-button class="btn btn-primary m-l-15 pull-right"
                            [disabled]="vanID==undefined" (click)="storeVanServicePointMapping();">Add Mapping</button>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

</form>





<!-- <form class="c-b p-t-30" [formGroup]="MappingForm"> 
  <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="availableVanServicePointMappings.length!=0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="10%">S.No.</th>
                            <th width="50%">Service Point</th>
                            <th width="35%">Morning</th>
                            <th width="35%">Evening</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="mappings" *ngFor="let mapping of MappingForm.get('mappings').controls  | paginate: {id:'servicePointListResult', itemsPerPage: 3, currentPage: b}">
                        <tr [formGroupName]="this.MappingForm.get('mappings').controls.indexOf(mapping)">

                            <td>
                                <input mdInput required formControlName="vanID" value="vanID" [hidden]="true"> {{this.MappingForm.get('mappings').controls.indexOf(mapping)+1}}
                            </td>
                            <td>
                                <input mdInput formControlName="servicePointID" value="mapping.controls.servicePointID.value" [hidden]="true">{{mapping.controls.servicePointName.value}}</td>
                            <td>
                                <md-checkbox color="primary" formControlName="vanSession1" [checked]="mapping.controls.vanSession1.value"></md-checkbox>
                            </td>
                            <td>
                                <md-checkbox color="primary" formControlName="vanSession2" [checked]="mapping.controls.vanSession2.value"></md-checkbox>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <md2-pagination></md2-pagination>
                            </td>
                            <td>
                                <button md-raised-button color="primary" class="pull-right" *ngIf="availableVanServicePointMappings.length!=0"
                                    [disabled]="vanID==undefined" (click)="storeVanServicePointMapping();">Add Mapping</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                 <pagination-controls (pageChange)="b = $event" id="servicePointListResult"></pagination-controls>
            </div>
        </div>
    </div>
</form> -->
<!-- </md-card> -->