<div class="col-xs-12 col-sm-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div>
                <ul class="nav navbar-nav animation-nav">
                    <li id="service1" class="animation-nav-active" (click)="change('1')"><a class="f-c-o">Create Service Provider</a> </li>
                    <li id="service2" (click)="change('2')"><a> Create Admin</a></li>
                    <li id="service3" (click)="change('3')"><a>Create State-Service Mapping</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div [ngSwitch]="tab" class="col-xs-12 col-sm-12">
            <div *ngSwitchCase="1">
                <app-admin-service-provider></app-admin-service-provider>
            </div>
            <div *ngSwitchCase="2">
                <app-admin-user></app-admin-user>
            </div>
            <div *ngSwitchCase="3">
                <app-admin-state-service></app-admin-state-service>
            </div>
        </div>
    </div>
</div>
