<!-- <div class="row">
  <form [formGroup]='itemCreationForm'>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select placeholder="Category" class="width100" [ngModel]="category" name="category" required>
          <md-option *ngFor="let item of categories" [value]="item">
            {{item.itemCategoryName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline width100">
        <input mdInput style="display:none">
        <md-select placeholder="Dose From" class="width100" [ngModel]="dose" name="dose" required>
          <md-option *ngFor="let item of dosages" [value]="item">
            {{item.itemForm}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="Pharmacology Category" class="width100" [ngModel]="pharmacology" name="pharmacology" required>
            <md-option *ngFor="let item of pharmacologies" [value]="item">
              {{item.categoryName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="Manufacturer" class="width100" [ngModel]="manufacturer" name="manufacturer" required>
            <md-option *ngFor="let item of manufacturers" [value]="item">
              {{item.manufacturerName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="UOM" class="width100" [ngModel]="uom" name="uom" required>
            <md-option *ngFor="let item of measures" [value]="item">
              {{item.manufacturerName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
  </form>
</div> -->