<form [formGroup]="uomMasterSearchForm" autocomplete="off">
  <div class="row" *ngIf="mode == 'view'">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
      <h4>
        <strong>Unit of Measure Master</strong>
      </h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
      <md-select class="input-full-width" placeholder="Serviceline" formControlName="service" name="service" required [disabled]="mode != 'view'">
        <md-option *ngFor="let service of serviceLineList" [value]="service">
          {{service.serviceName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
      <md-select class="input-full-width" placeholder="State" formControlName="state" name="state" required [disabled]="mode != 'view'">
        <md-option *ngFor="let state of stateList" [value]="state">
          {{state.stateName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" *ngIf="(UOMMasterList.length > 0 || filteredUOMMasterList.length > 0) && mode == 'view'">
        <div class="row" class="pull-right">
      <md-input-container class="input-full-width">
        <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterUOMMasterList(filterTerm.value)">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
    </div>
    </div>
  </div>
</form>

<ng-container *ngIf="mode == 'view'">
  <div class="row m-t-20" *ngIf="providerServiceMapID">
    <div class="col-xs-12">
      <table class="table table-striped" [md2Data]="filteredUOMMasterList" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="20%">UOM Code</th>
            <th width="20%">UOM Name</th>
            <th width="20%">Description</th>
            <th width="5%">Edit</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="UOMMasterList.length == 0 || filteredUOMMasterList.length == 0">
          <tr class="record-not-found">
            <td colspan="6" align="center">No records found</td>
          </tr>
        </tbody>
        <tbody *ngIf="UOMMasterList.length > 0 || filteredUOMMasterList.length > 0">
          <tr *ngFor="let uom of md2.data; let i = index; trackBy: trackByFn">
            <td>{{(md2.activePage-1) * 4 + i + 1}}</td>
            <td>{{ uom.uOMCode}}</td>
            <td>{{ uom.uOMName}}</td>
            <td>{{ uom.uOMDesc}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" style="cursor: pointer" (click)="switchToUpdateMode(uom)">edit</md-icon>
            </td>
            <td>
                <button *ngIf="uom.deleted" md-raised-button color="accent" (click)="activateDeactivateUOM(uom.uOMID,false)">Unblock</button>
                <button *ngIf="!uom.deleted" md-raised-button color="primary" (click)="activateDeactivateUOM(uom.uOMID,true)">Block</button>
              </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="p-l-0">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="switchToCreateMode()">Add UOM</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="mode == 'create'">
  <app-create-uom-master [otherDetails]="otherDetails" (modeChange)="switchToViewMode()"></app-create-uom-master>
</ng-container>

<ng-container *ngIf="mode == 'update'">
  <app-update-uom-master [updateUOMValue]="updateUOMValue" (modeChange)="switchToViewMode()"></app-update-uom-master>
</ng-container>