<!-- <md-card> -->
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">Institute Type</h4>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
  <form #searchFields="ngForm">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Service Line" [disabled]='disableSelection' [style.width]="'100%'" [(ngModel)]="service" name="service"
          required (change)="getStates(service.serviceID,service.isNational);setIsNational(service.isNational)">
          <md-option *ngFor="let item of services" [value]="item">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="State" [disabled]='disableSelection || isNational' [style.width]="'100%'" [(ngModel)]="state" name="state"
          required (change)="setProviderServiceMapID(state.providerServiceMapID)">
          <md-option *ngFor="let item of states" [value]="item" >
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>


    <div class="clearfix"></div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="showFormFlag">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Institute Type" [(ngModel)]="instituteType" name="instituteType" minlength="3" maxlength="30"
          required myName2>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="showFormFlag">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Description" [(ngModel)]="description" name="description">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <button md-mini-fab color="primary" *ngIf="searchFields.valid && showFormFlag" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left"
        (click)="add_obj(instituteType,description)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>


  </form>


  <div class="m-t-10" *ngIf="showTableFlag">
    <div class="col-xs-12 col-sm-12">
      <div class=" table responsive">
        <table [md2Data]="searchResultArray" #md2="md2DataTable" class="table table-striped" [rowsPerPage]="4">
          <thead>
            <tr>
              <th>Institute Type</th>
              <th>Description</th>
              <th>Edit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="searchResultArray.length == 0">
              <td colspan="4" class="record-not-found">No records found</td>
            </tr>
            <tr *ngFor="let item of md2.data">
              <td>{{item.institutionType}}</td>
              <td>{{item.institutionTypeDesc}}</td>
              <td>
                <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
                  (click)="openEditModal(item)">edit</md-icon>

              </td>
              <td>
                <button *ngIf="item.deleted" md-raised-button color="accent" (click)="toggle_activate(item.institutionTypeID,false)">Activate</button>
                <button *ngIf="!item.deleted" md-raised-button color="primary" (click)="toggle_activate(item.institutionTypeID,true)">Deactivate</button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <md2-pagination></md2-pagination>
              </td>
              <td td colspan="2" class="p-r-0">
                <button md-raised-button color="primary" class="pull-right" (click)="showForm()" [disabled]="!searchFields.valid">Add Institute Type</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>


  <div *ngIf="showFormFlag">
    <div class="col-xs-12 col-sm-12 m-t-15">
      <div class="table-responsive" *ngIf="bufferArray.length>0">
        <table [md2Data]="bufferArray" #md2="md2DataTable" class="table table-striped" [rowsPerPage]="4">
          <thead>
            <tr>
              <th>Institute Type</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of md2.data; let k=index; ">
              <td>{{item.institutionType}}</td>
              <td>{{item.institutionTypeDesc}}</td>
              <td>
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="removeObj(k)">delete</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
    <div class="col-xs-12 col-sm-12  m-t-15 " *ngIf="showFormFlag">
      <button md-raised-button *ngIf="bufferArray.length>0" class="pull-right" color="accent" (click)="save()">Save</button>
      <!-- <button md-mini-fab color="primary" *ngIf="searchFields.valid" class="pull-right" (click)="add_obj(instituteType,description)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button> -->
      <button md-raised-button class="pull-left" color="primary" (click)="back()">Back</button>
    </div>
  </div>

</div>
<!-- </md-card> -->