<!-- <md-card> -->
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">Institute Type</h4>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
  <form #searchFields="ngForm" autocomplete="off">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="Serviceline" [disabled]='disableSelection' [style.width]="'100%'" [(ngModel)]="service" name="service"
          required (change)="getStates(service.serviceID,service.isNational);setIsNational(service.isNational)">
          <md-option *ngFor="let item of services" [value]="item">
            {{item.serviceName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none">
        <md-select placeholder="State" [disabled]='disableSelection || isNational' [style.width]="'100%'" [(ngModel)]="state" name="state"
          required (change)="setProviderServiceMapID(state.providerServiceMapID)">
          <md-option *ngFor="let item of states" [value]="item">
            {{item.stateName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
</div>

<!-- <div class="pull-right m-t-15" *ngIf="searchResultArray.length!==0 && showTableFlag">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div> -->

<div class="row">
  <div class="col-xs-12 col-sm-12  m-t-10" *ngIf="showTableFlag">
    <div class=" table responsive">
      <table [md2Data]="filteredsearchResultArray" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="40%">Institute Type</th>
            <th width="25%">Description</th>
            <th width="25%">Edit</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length == 0">
            <td colspan="5" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data; let i=index">
            <td>{{(md2.activePage-1)*5+i+1}}</td>
            <td>{{item.institutionType}}</td>
            <td>{{item.institutionTypeDesc}}</td>
            <td>
              <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
                (click)="openEditModal(item)">edit</md-icon>

            </td>
            <td>
              <button *ngIf="item.deleted" md-raised-button color="accent" (click)="toggle_activate(item.institutionTypeID,false)">Activate</button>
              <button *ngIf="!item.deleted" md-raised-button color="primary" (click)="toggle_activate(item.institutionTypeID,true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <md2-pagination></md2-pagination>
            </td>
            <td td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Add Institute Type</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="showFormFlag">
  <form #entryField="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container style="width: 100%" VehicleNONew>
        <input mdInput placeholder="Institute Type" [(ngModel)]="instituteType" (keyup)="checkExistance(instituteType)" name="instituteType"
          minlength="3" maxlength="150" #institute="ngModel" required>
        <md-hint>
          <span class="error_text" *ngIf="institute.touched && institute.errors && institute!=null">Institute type is required</span>
          <span class="error_text" *ngIf="institute.valid && InstituteExist">Institute Type already exists</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Description" [(ngModel)]="description" name="description" maxlength="300">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
      <button md-mini-fab color="primary" *ngIf="entryField.valid" class="xs-pull-right sm-pull-right md-pull-left lg-pull-left"
        (click)="add_obj(instituteType,description)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>
  </form>

  <div class="col-xs-12 col-sm-12 m-t-15">
    <div class="table-responsive" *ngIf="bufferArray.length>0">
      <table [md2Data]="bufferArray" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="3">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Institute Type</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let k=index; ">
            <td>{{bufferArray.indexOf(item)+1}}</td>
            <td>{{item.institutionType}}</td>
            <td>{{item.institutionTypeDesc}}</td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="delete" (click)="removeObj(bufferArray.indexOf(item))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12  m-t-15 ">
    <button md-raised-button *ngIf="bufferArray.length>0" class="pull-right" color="accent" (click)="save()">Save</button>
    <!-- <button md-mini-fab color="primary" *ngIf="searchFields.valid" class="pull-right" (click)="add_obj(instituteType,description)">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button> -->
    <button md-raised-button class="pull-left" color="primary" (click)="navigateToPrev()">Back</button>
  </div>
</div>

<!-- </md-card> -->