<!-- <md-card> -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4 class="pull-left">Call Disposition</h4>
    </div>
    <form #searchForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
          <md-select [disabled]="disableSelect" (change)="getStates(service)" placeholder="Service Line" name="service" [style.width]="'100%'" [(ngModel)]="service" required>
            <md-option *ngFor="let item of provider_services" [value]="item" >
              {{item.serviceName}}
            </md-option>
          </md-select>
          </md-input-container>
        </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <md-input-container class="hide_underline width100">
              <input mdInput style="display:none">
        <md-select [disabled]="disableSelect || nationalFlag" placeholder="State" name="state" (change)="setProviderServiceMapID(state.providerServiceMapID)"  [style.width]="'100%'" [(ngModel)]="state" required>
          <md-option *ngFor="let item of provider_states" [value]="item">
            {{item.stateName}}
          </md-option>
        </md-select>
        </md-input-container>
      </div>

    </form>
    <!--         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-10">
          <button md-mini-fab color="primary" (click)="get_calltype_subtype_history()">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">search</md-icon>
        </button>
        </div> -->
    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-10">
      <button *ngIf="showTable" class="pull-right" md-raised-button color="primary" (click)="clear();searchForm.reset()">Clear</button>
    </div> -->
  </div>
  <div class="row" *ngIf="showTable">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" style="height: 280px">
      <div class="table-responsive">
      <table class="table table-hover table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <!--<th>ID</th>-->
            <th>S.No.</th>
            <th>Call Type</th>
            <th>Call Subtype </th>
            <th>Is Inbound</th>
            <th>Is Outbound</th>
            <th>Max Redial</th>
            <th>Blocking Required</th>
            <th>FollowUp Required</th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="data.length == 0 "class="record-not-found">
              <td colspan="10" align="center">No records found</td>
          </tr>
          <tr *ngFor="let i of md2.data; let k= index">
            <!--<td>{{i.callTypeID}}</td>-->
            <td>{{(md2.activePage-1)*4+k+1}}</td>
            <td width=10%>{{i.callGroupType}}</td>
            <td width=15%>{{i.callType}}</td>
            <td width=10%>{{i.isInbound}}</td>
            <td width=10%>{{i.isOutbound}}</td>
            <td width=10%>{{i.maxRedial}}</td>
            <td width=15%>{{i.fitToBlock}}</td>
            <td width=15%>{{i.fitForFollowup}}</td>
            <td width=10%>
              <span [hidden]="i.deleted"><md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editCallDisposition(i)">edit</md-icon></span>
              </td>
              <td width=15%>
              <!--                   <md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteSubCallType(i.callTypeID)">delete</md-icon> -->
              <button *ngIf="i.deleted" md-raised-button color="accent" (click)="deleteSubCallType(i.callTypeID, false)">Activate</button>
              <button *ngIf="!i.deleted" md-raised-button color="primary" (click)="deleteSubCallType(i.callTypeID, true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="5" class="p-r-0">
              <button class="pull-right" md-raised-button color="primary" (click)="hideTable(true)">Add New Call Type/SubType</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button class="pull-right" md-raised-button color="primary" (click)="hideTable(true)">Add New CallType/SubType</button>
    </div> -->
  </div>
  <!-- <div class="m-t-10" *ngIf="showForm"> -->
    <div class="row" *ngIf="showForm">

        <div class="row m-t-10">
<div class="col-xs-12 col-sm-12">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">      
        <md-checkbox color="primary" [(ngModel)]="isInbound" (change)="setIsInbound($event)" #isInboundCheckbox>Is-Inbound</md-checkbox>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">     
        <md-checkbox color="primary" [(ngModel)]="isOutbound" (change)="setIsOutbound($event)" #isOutboundCheckbox>Is-Outbound</md-checkbox>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 m-t--25">
          <md-input-container class="hide_underline width100">
              <input mdInput style="display:none">     
        <md-select style="width: 100%" placeholder="Maximum Redial" [(ngModel)]="maxRedial" name="maxRedial" *ngIf="isOutbound">
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
          <md-option value="4">4</md-option>
          <md-option value="5">5</md-option>
          <md-option value="6">6</md-option>
          <md-option value="7">7</md-option>
          <md-option value="8">8</md-option>
          <md-option value="9">9</md-option>
          <md-option value="10">10</md-option>
        </md-select>
        </md-input-container>
      </div>

</div>

        </div>

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
        <form #callTypeSubCallType="ngForm" autocomplete="off" id="addingSubTypes">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <!--<md-select placeholder="Call Type" [style.width]="'100%'" [(ngModel)]="callType" (change)="reset()">
          <md-option value="Valid Call">
            Valid Call
          </md-option>
          <md-option value="Invalid Call">
            Invalid Call
          </md-option>
        </md-select>-->
        <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select style="width: 100%" placeholder="Call Type" [(ngModel)]="callType" name="callType" required (change)="callTypeSelected(callType)">
              <md-option value="Valid">Valid</md-option>
              <md-option value="Transfer" *ngIf="service.serviceID == 1">Transfer</md-option>
              <md-option value="Invalid" *ngIf="service.serviceID == 1">Invalid</md-option>
              <md-option value="Incomplete" *ngIf="service.serviceID == 3">Incomplete</md-option>
            </md-select>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="width100" myProviderName>
              <input mdInput placeholder="Call Subtype" [(ngModel)]="callSubType " name="callSubType" required #subType minlength="1" maxlength="50" (keyup)="callSubTypes(callSubType)">
              <md-hint class="errorText" *ngIf="subCallTypeExist">
                This sub call type exist for this service & call type
              </md-hint>
            </md-input-container>
          </div>
        </form>
        <div class="clearfix visible-sm"></div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 m-t-md-25 m-t-sm-0 m-t-xs-0">
          <label class="f-s-n-b">Fit To Block</label>
          <md-radio-group [(ngModel)]="fitToBlock" (change)="fitToBlocks(fitToBlock)">
            <md-radio-button color="primary" [value]="true">Yes</md-radio-button>
            <md-radio-button color="primary" [value]="false">No</md-radio-button>
          </md-radio-group>
        </div>
        <div class="clearfix visible-md"></div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 m-t-lg-25 m-t-md-0">
          <label class="f-s-n-b">Fit For FollowUp</label>
          <md-radio-group [(ngModel)]="fitForFollowup" (change)="fitForFollowups(fitForFollowup)">
            <md-radio-button color="primary" [value]="true">Yes</md-radio-button>
            <md-radio-button color="primary" [value]="false">No</md-radio-button>
          </md-radio-group>
        </div>
         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="callTypeSubCallType.valid && !subCallTypeExist">   <!-- && (isInbound || isOutbound) --> 
           <button class="pull-right" md-mini-fab color="primary" (click)="pushCallSubType(callType,callSubType,fitToBlock,fitForFollowup);callTypeSubCallType.reset()"> 
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
        </div>
      </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="(temporarySubtypeArray.length!=0)">
            <div class="table-responsive">
          <table [md2Data]="temporarySubtypeArray" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="4">
            <thead>
              <tr>
                <th width="5%">S.No</th>           
                <th width="15%">Call Group Type</th>
                <th width="15%">callType</th>
                <th width="12%">Block</th>
                <th width="12%">Followup</th>
                <th width="12%">Inbound</th>
                <th width="12%">Outbound</th>
                <th width="15%">Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngIf="temporarySubtypeArray.length == 0">
                <td colspan="8">NO RECORD FOUND!!</td>
              </tr> -->
              <tr *ngFor="let item of temporarySubtypeArray;let i=index ">
                <td>{{(md2.activePage-1)*4+i+1}}</td>
                <td>{{item.callGroupType}}</td>
                <td>{{item.callType}}</td>
                <td>{{item.fitToBlock}}</td>
                <td>{{item.fitForFollowup}}</td>
                <td>{{item.isInbound}}</td>
                <td>{{item.isOutbound}}</td>           
                <td>
                  <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="removeObj(i)">delete</md-icon>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="8">
                  <md2-pagination></md2-pagination>
                </td>            
              </tr>
            </tfoot>       
          </table>
        </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
          <button [disabled]="temporarySubtypeArray.length == 0" class="pull-right" md-raised-button color="accent" (click)="save()">Save</button>
          <!--             <button *ngIf="editing" [disabled]="!callTypeSubCallType.valid" class="pull-right" md-raised-button color="primary" (click)="modify()">MODIFY</button> -->
          <!-- <button class="pull-left" md-raised-button color="primary" (click)="hideTable(false)">Back</button> -->
          <button class="pull-left" md-raised-button color="primary" (click)="back()">Back</button>
        </div>
      </div>

  <!-- </div> -->
<!-- </md-card> -->
