<md-card>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        
         <h4 class="width100 t-a-c  f-s-b">Call Disposition</h4>   
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <md-select [disabled]="disableSelect" placeholder="State" [style.width]="'100%'" [(ngModel)]="state" (change)="getServices(state)" required>
            <md-option *ngFor="let item of provider_states" value="{{item.stateID}}">
              {{item.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <md-select [disabled]="disableSelect" placeholder="Service Line" [style.width]="'100%'" [(ngModel)]="service" required >
            <md-option *ngFor="let item of provider_services" value="{{item.serviceID}}" (click)="setProviderServiceMapID(item.providerServiceMapID)">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </div>
<!--         <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-10">
          <button md-mini-fab color="primary" (click)="get_calltype_subtype_history()">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">search</md-icon>
        </button>
        </div> -->
      </div>
    </div>

    <div class="m-t-30" *ngIf="showTable">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 280px">
          <table class="table table-hover table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3">
            <thead>
              <tr>
                <!--<th>ID</th>-->
                <th>Call Type</th>
                <th>Call Subtype </th>
                <th>Blocking Required</th>
                <th>FollowUp Required</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="data.length == 0 ">
                NO RECORD FOUND
              </tr>
              <tr *ngFor="let i of md2.data">
                <!--<td>{{i.callTypeID}}</td>-->
                <td>{{i.callGroupType}}</td>
                <td>{{i.callType}}</td>
                <td>{{i.fitToBlock}}</td>
                <td>{{i.fitForFollowup}}</td>
                <td>
                -
<!--                   <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">edit</md-icon>
                  <md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">delete</md-icon> -->
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td  colspan="3">
                  <md2-pagination></md2-pagination>
                </td>
                <td  colspan="2">
                  <button class="pull-right" md-raised-button color="primary" (click)="hideTable(true)">Add New CallType/SubType</button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        </div>
      </div>
    </div>
    <div class="m-t-10" *ngIf="showForm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-15">
            <!--<md-select placeholder="Call Type" [style.width]="'100%'" [(ngModel)]="callType" (change)="reset()">
          <md-option value="Valid Call">
            Valid Call
          </md-option>
          <md-option value="Invalid Call">
            Invalid Call
          </md-option>
        </md-select>-->
            <md-input-container class="p-t-7" style="width: 100% ">
              <input mdInput placeholder="Call Type" [(ngModel)]="callType " name="callType">
            </md-input-container>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-15">
            <md-input-container class="p-t-7" style="width: 100% ">
              <input mdInput placeholder="Call SubType" [(ngModel)]="callSubType " name="callSubType">
            </md-input-container>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-40 width20">
            <label class="f-s-n-b">Fit To Block</label>
            <md-radio-group [(ngModel)]="fitToBlock" (change)="fitForFollowup=!fitToBlock">
              <md-radio-button [value]="true">YES</md-radio-button>
              <md-radio-button [value]="false">NO</md-radio-button>
            </md-radio-group>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-40 width20">
            <label class="f-s-n-b">Fit For FollowUp</label>
            <md-radio-group [(ngModel)]="fitForFollowup" (change)="fitToBlock=!fitForFollowup">
              <md-radio-button [value]="true">YES</md-radio-button>
              <md-radio-button [value]="false">NO</md-radio-button>
            </md-radio-group>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 m-t-15 width10">
            <button class="m-t-10" md-mini-fab color="primary" (click)="pushCallSubType(callSubType,fitToBlock,fitForFollowup)">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div *ngFor="let item of temporarySubtypeArray;let i=index" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <md-chip-list>
                <md-chip color="accent" selected="true">{{callType}}</md-chip>
              </md-chip-list>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <md-chip-list>
                <md-chip color="accent" selected="true">{{item.calltype}}</md-chip>
              </md-chip-list>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="col-lg-6">
                <md-chip-list>
                  <md-chip color="accent" selected="true">block:{{item.fitToBlock1[0]==true?'yes':'no'}}</md-chip>
                </md-chip-list>
              </div>
              <div class="col-lg-6">
                <md-chip-list>
                  <md-chip color="accent" selected="true">followup:{{item.fitForFollowup1[0]==true?'yes':'no'}}</md-chip>
                </md-chip-list>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <button md-mini-fab color="primary" (click)="removeFromCallSubType(i)">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">clear</md-icon>
          </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
            <button class="pull-right" md-raised-button color="primary" (click)="save()">SAVE</button>
            <button class="pull-left" md-raised-button color="primary" (click)="hideTable(false)">Back</button>
          </div>
        </div>
      </div>
    </div>

</md-card>
