 <!-- <div class="row"> -->


 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 		<div class="col-xs-12 col-sm-12">
 			<h4 class="pull-left">Edit Call Disposition Type/SubType</h4>
 			<md-icon class="mat-icon material-icons pull-right cursorPointer" mdTooltip="Close" role="img" aria-hidden="true" (click)="dialogReff.close()">clear</md-icon>
 		</div>
 		<form #callTypeSubCallType="ngForm" autocomplete="off" id="addingSubTypes">
 			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">

 				<md-select style="width: 100% " placeholder="Call Type" [(ngModel)]="callType" name="callType" required (change)="callTypeSelected(callType)">
 					<md-option value="Valid">Valid</md-option>
 					<md-option value="Transfer" *ngIf="service == 1">Transfer</md-option>
 					<md-option value="Invalid" *ngIf="service == 1">Invalid</md-option>
 					<md-option value="Incomplete" *ngIf="service == 3">Incomplete</md-option>
 				</md-select>
 			</div>
 			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" >
 				<md-input-container class="p-t-7" style="width: 100% " >
 					<input mdInput placeholder="Call SubType" [(ngModel)]="callSubType " name="callSubType" required #subType minlength="1" maxlength="50" (keyup)="validateCallSubtype(callSubType)">
 					<md-hint class="errorText" *ngIf="subCallTypeExist">
 						This sub call type exist for this service & call Type
 					</md-hint>
 				</md-input-container>
 			</div>
 		
 		<div class="col-xs-12 col-sm-3 col-md-12 col-lg-12 m-t-20">
 			<label class="f-s-n-b">Fit To Block</label>
 			<md-radio-group [(ngModel)]="fitToBlock" (change)="fitToBlocks(fitToBlock)" name="fitToBlock">
 				<md-radio-button  color="primary"  [value]="true">YES</md-radio-button>
 				<md-radio-button  color="primary"  [value]="false">NO</md-radio-button>
 			</md-radio-group>
 		</div>
 		<div class="col-xs-12 col-sm-3 col-md-12 col-lg-12 m-t-20">
 			<label class="f-s-n-b">Fit For FollowUp</label>
 			<md-radio-group [(ngModel)]="fitForFollowup" (change)="fitForFollowups(fitForFollowup)" name="fitForFollowup">
 				<md-radio-button color="primary" [value]="true">YES</md-radio-button>
 				<md-radio-button color="primary" [value]="false">NO</md-radio-button>
 			</md-radio-group>
		 </div>
		 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-20">      
        <md-checkbox color="primary" [(ngModel)]="isInbound" name="IB" (change)="setIsInbound($event)" #isInboundCheckbox>Is-Inbound</md-checkbox>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-20">     
        <md-checkbox color="primary" [(ngModel)]="isOutbound" name="OB" (change)="setIsOutbound($event)" #isOutboundCheckbox>Is-Outbound</md-checkbox>
	  </div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-20">     
		<md-select style="width: 100%" placeholder="Maximum Redial" [(ngModel)]="maxRedial" name="maxRedial" *ngIf="isOutbound">
						<md-option value="1">1</md-option>
						<md-option value="2">2</md-option>
						<md-option value="3">3</md-option>
						<md-option value="4">4</md-option>
						<md-option value="5">5</md-option>
						<md-option value="6">6</md-option>
						<md-option value="7">7</md-option>
						<md-option value="8">8</md-option>
						<md-option value="9">9</md-option>
						<md-option value="10">10</md-option>
		</md-select>
	</div>
 		</form>
 	</div>

 	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10" align="center">


 		<button [disabled]="callTypeSubCallType.invalid || subCallTypeExist " md-raised-button color="primary" (click)="modify(callTypeSubCallType.value)">MODIFY</button>
<!--             <button class="pull-left" md-raised-button color="primary" (click)="hideTable(false)">Back</button>
-->          </div>
<!-- </div> -->
