<!-- <div class="row"> -->
<div class="row">
	<div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
		<h4 class="modal-title">Edit Call Disposition Type/Sub Type</h4>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
		<button md-button class="pull-right p-r-0" [md-dialog-close]="true">
			<md-icon mdTooltip="close" class="mat-icon material-icons pull-right" role="img" aria-hidden="true" style="cursor: pointer">clear</md-icon>
		</button>
	</div>
</div>
<div class="row">
	<form #callTypeSubCallType="ngForm" autocomplete="off" id="addingSubTypes">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
			<md-input-container class="hide_underline width100">
				<input mdInput style="display:none">
				<md-select style="width: 100% " placeholder="Call Type" [(ngModel)]="callType" name="callType" required (change)="callTypeSelected(callType)">
					<md-option value="Valid">Valid</md-option>
					<md-option value="Transfer" *ngIf="service == 1">Transfer</md-option>
					<md-option value="Invalid" *ngIf="service == 1">Invalid</md-option>
					<md-option value="Incomplete" *ngIf="service == 3">Incomplete</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<md-input-container class="p-t-7" style="width: 100% ">
				<input mdInput placeholder="Call Sub Type" [(ngModel)]="callSubType " name="callSubType" required #subType minlength="1" maxlength="50"
				 (keyup)="validateCallSubtype(callSubType)">
				<md-hint class="errorText" *ngIf="subCallTypeExist">
					This sub call type exist for this service & call Type
				</md-hint>
			</md-input-container>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-10">
			<label class="f-s-n-b">Fit To Block</label>
			<md-radio-group [(ngModel)]="fitToBlock" (change)="fitToBlocks(fitToBlock)" name="fitToBlock">
				<md-radio-button color="primary" class="p-l-10" value="true">YES</md-radio-button>
				<md-radio-button color="primary" class="p-l-10" value="false">NO</md-radio-button>
			</md-radio-group>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-t-10">
			<label class="f-s-n-b">Fit For FollowUp</label>
			<md-radio-group [(ngModel)]="fitForFollowup" (change)="fitForFollowups(fitForFollowup)" name="fitForFollowup">
				<md-radio-button color="primary" class="p-l-10" value="true">YES</md-radio-button>
				<md-radio-button color="primary" class="p-l-10" value="false">NO</md-radio-button>
			</md-radio-group>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-t-25">
			<md-checkbox color="primary" [(ngModel)]="isInbound" name="IB" (change)="setIsInbound($event)" #isInboundCheckbox>Is-Inbound</md-checkbox>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 m-t-25">
			<md-checkbox color="primary" [(ngModel)]="isOutbound" name="OB" (change)="setIsOutbound($event)" #isOutboundCheckbox>Is-Outbound</md-checkbox>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<md-input-container class="hide_underline width100">
				<input mdInput style="display:none">
				<md-select style="width: 100%" placeholder="Maximum Redial" [(ngModel)]="maxRedial" name="maxRedial" *ngIf="isOutbound">
					<md-option value="1">1</md-option>
					<md-option value="2">2</md-option>
					<md-option value="3">3</md-option>
					<md-option value="4">4</md-option>
					<md-option value="5">5</md-option>
					<md-option value="6">6</md-option>
					<md-option value="7">7</md-option>
					<md-option value="8">8</md-option>
					<md-option value="9">9</md-option>
					<md-option value="10">10</md-option>
				</md-select>
			</md-input-container>
		</div>
	</form>
</div>
<div class="m-t-10">
	<button class="pull-right" [disabled]="callTypeSubCallType.invalid || subCallTypeExist " md-raised-button color="accent"
	 (click)="modify(callTypeSubCallType.value)">Update</button>
	<!--             <button class="pull-left" md-raised-button color="primary" (click)="hideTable(false)">Back</button>
-->
</div>
<!-- </div> -->