<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Hospital-Institute Directory Mapping</h4>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="State" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="state" name="state" (change)="getServices(state);getDistrict(state)"
        required>
        <md-option *ngFor="let item of states" value="{{item.stateID}}">
          {{item.stateName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Service Line" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="service" name="service"
        required>
        <md-option *ngFor="let item of services" value="{{item.serviceID}}" (click)="setProviderServiceMapID(item.providerServiceMapID)">
          {{item.serviceName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="District" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="district" name="district"
        (change)="getTaluk(district)" required>
        <md-option *ngFor="let item of districts" value="{{item.districtID}}">
          {{item.districtName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Taluk" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="taluk" name="taluk" (change)="getInstitutions()"
        required>
        <md-option *ngFor="let item of taluks" value="{{item.blockID}}">
          {{item.blockName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Institute Directory" [style.width]="'100%'" [(ngModel)]="institute_directory" name="institute_directory"
        disabled={{disableSelection}} (change)="getInstituteSubdirectory(institute_directory)" required>
        <md-option *ngFor="let item of institute_directories" value="{{item.instituteDirectoryID}}">
          {{item.instituteDirectoryName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Institute Sub-Directory" [style.width]="'100%'" [(ngModel)]="institute_subdirectory" name="institute_subdirectory"
        disabled={{disableSelection}} (change)="getMappingHistory()" required>
        <md-option *ngFor="let item of institute_subdirectories" value="{{item.instituteSubDirectoryID}}">
          {{item.instituteSubDirectoryName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="showFormFlag">
    <md-input-container class="hide_underline" [style.width]="'100%'">
      <input mdInput style="display:none">
      <md-select placeholder="Hospital" [style.width]="'100%'" [(ngModel)]="hospital" name="hospital">
        <md-option *ngFor="let item of hospitals" value="{{item.institutionID}}" (click)="setHospitalName(item.institutionName)">
          {{item.institutionName}}
        </md-option>
      </md-select>
    </md-input-container>
  </div>
  <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-25" *ngIf="showTableFlag">
     <button class="pull-right" md-raised-button color="primary" (click)="clear()">Clear</button>
    </div> -->
</div>
<div class="m-t-10" *ngIf="showTableFlag">

  <div class="col-xs-12 col-sm-12  m-t-15 ">
    <div class="table-responsive">
      <table [md2Data]="searchResultArray" #md2="md2DataTable" class="table table-striped " [rowsPerPage]="4">
        <thead>
          <tr>
            <th>Institution Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="searchResultArray.length == 0">
            <td colspan="6" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data">
            <td>{{item.institute.institutionName}}</td>
            <td>
              <!--  <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="openEditModal(item)">edit</md-icon> -->
              <button *ngIf="item.deleted" md-raised-button color="primary" (click)="toggle_activate(item.instituteDirMapID,false)">Activate</button>
              <button *ngIf="!item.deleted" md-raised-button color="primary" (click)="toggle_activate(item.instituteDirMapID,true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="1">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
<div *ngIf="showFormFlag">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12 m-t-20">
      <!-- <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 m-t-25">
        <md-select placeholder="Hospital" [style.width]="'100%'" [(ngModel)]="hospital" name="hospital">
          <md-option *ngFor="let item of hospitals" value="{{item.institutionID}}" (click)="setHospitalName(item.institutionName)">
            {{item.institutionName}}
          </md-option>
        </md-select>
      </div> -->
      <div class="col-xs-12 col-sm-12">
        <div class="row">
          <button md-mini-fab class="pull-right" color="primary" (click)="add_obj(hospital)">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
          <button md-raised-button class="pull-left" color="primary" (click)="back()">Back</button>
        </div>
      </div>
    </div>
    <div class=" col-xs-12 col-sm-12 table-responsive" *ngIf="bufferArray.length>0">
      <table [md2Data]="bufferArray" #md2="md2DataTable" class="table table-striped " [rowsPerPage]="4">
        <thead>
          <tr>
            <th>Institution Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let k=index; ">
            <td>{{item.hospital_name}}</td>
            <td>
              <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="removeObj(k)">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button class="pull-right" color="accent" (click)="save()">Save</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
</div>