<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Hospital-Institute Directory Mapping</h4>
  </div>
  <form #hospitalForm="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none"> -->
      <md-select placeholder="Serviceline" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="service" name="service"
        #serviceModel="ngModel" required>
        <md-option *ngFor="let item of services" value="{{item.serviceID}}" (click)="getStates(item.serviceID,item.isNational)">
          {{item.serviceName}}
        </md-option>
      </md-select>
      <!-- <md-hint [hidden]=serviceModel.valid *ngIf="!disableSelection">
          <span class="error_text" *ngIf="!serviceModel.required  && ( serviceModel.dirty || serviceModel.touched )">Please select serviceline </span>
        </md-hint> -->
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
        <input mdInput style="display:none"> -->
      <md-select placeholder="State" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="state" name="state" (change)="getDistrict(state)"
        #stateModel="ngModel" required>
        <md-option *ngFor="let item of states" value="{{item.stateID}}" (click)="setProviderServiceMapID(item.providerServiceMapID)">
          {{item.stateName}}
        </md-option>
      </md-select>
      <!-- <md-hint [hidden]=stateModel.valid *ngIf="!disableSelection">
          <span class="error_text" *ngIf="!stateModel.required  && ( stateModel.dirty || stateModel.touched )">Please select state </span>
        </md-hint>
      </md-input-container> -->
    </div>
    <form #hospitalForm2="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
        <md-select placeholder="District" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="district" name="district"
          (change)="getTaluk(district)" #districtModel="ngModel" required>
          <md-option *ngFor="let item of districts" value="{{item.districtID}}">
            {{item.districtName}}
          </md-option>
        </md-select>
        <!-- <md-hint [hidden]=districtModel.valid *ngIf="!disableSelection">
            <span class="error_text" *ngIf="!districtModel.required  && ( districtModel.dirty || districtModel.touched )">Please select district </span>
          </md-hint> -->
        <!-- </md-input-container> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
        <md-select placeholder="Taluk" [style.width]="'100%'" disabled={{disableSelection}} [(ngModel)]="taluk" name="taluk" (change)="getInstitutions()"
          #talukModel="ngModel" required>
          <md-option *ngFor="let item of taluks" value="{{item.blockID}}">
            {{item.blockName}}
          </md-option>
        </md-select>
        <!-- <md-hint [hidden]=talukModel.valid *ngIf="!disableSelection">
            <span class="error_text" *ngIf="!talukModel.required  && ( talukModel.dirty || talukModel.touched )">Please select taluk </span>
          </md-hint> -->
        <!-- </md-input-container> -->
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15 ">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
        <md-select placeholder="Institute Directory" [style.width]="'100%'" [(ngModel)]="institute_directory" name="institute_directory"
          disabled={{disableSelection}} (change)="getInstituteSubdirectory(institute_directory)" #instituteDirModel="ngModel"
          required>
          <md-option *ngFor="let item of institute_directories" value="{{item.instituteDirectoryID}}">
            {{item.instituteDirectoryName}}
          </md-option>
        </md-select>
        <!-- <md-hint [hidden]=instituteDirModel.valid *ngIf="!disableSelection">
            <span class="error_text" *ngIf="!instituteDirModel.required  && ( instituteDirModel.dirty || instituteDirModel.touched )">Please select institute directory </span>
          </md-hint> -->
        <!-- </md-input-container> -->
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15 ">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
        <md-select placeholder="Institute Sub Directory" [style.width]="'100%'" [(ngModel)]="institute_subdirectory" name="institute_subdirectory"
          disabled={{disableSelection}} (change)="getMappingHistory()" #instituteSubDirModel="ngModel" required>
          <md-option *ngFor="let item of institute_subdirectories" value="{{item.instituteSubDirectoryID}}">
            {{item.instituteSubDirectoryName}}
          </md-option>
        </md-select>
        <!-- <md-hint [hidden]=instituteSubDirModel.valid *ngIf="!disableSelection">
            <span class="error_text" *ngIf="!instituteSubDirModel.required  && ( instituteSubDirModel.dirty || instituteSubDirModel.touched )">Please select institute directory </span>
          </md-hint> -->
        <!-- </md-input-container> -->
      </div>
    </form>
    <form #hospitalForm1="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" *ngIf="showFormFlag">
        <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> -->
        <md-select required placeholder="Hospital" [style.width]="'100%'" [(ngModel)]="hospital" name="hospital" #hospitalName="ngModel">
          <md-option *ngFor="let item of hospitals" value="{{item.institutionID}}" (click)="setHospitalName(item.institutionName)">
            {{item.institutionName}}
          </md-option>
        </md-select>
        <!-- <md-hint [hidden]=hospitalName.valid *ngIf="!disableSelection">
            <span class="error_text" *ngIf="!hospitalName.required  && ( hospitalName.dirty || hospitalName.touched )">Please select institute directory </span>
          </md-hint> -->
        <!-- </md-input-container> -->
      </div>
    </form>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
      <div>
        <button md-mini-fab *ngIf="showFormFlag && hospitalForm1.valid" class=" xs-pull-right sm-pull-left md-pull-left lg-pull-left"
          color="primary" (click)="add_obj(hospital);hospitalForm1.reset();">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>

      </div>
    </div>
  </form>
</div>
<div class="pull-right" *ngIf="showTableFlag && searchResultArray.length!==0 ">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12" *ngIf="showTableFlag">
    <div class="table-responsive ">
      <table [md2Data]="filteredsearchResultArray" #md2="md2DataTable" class="table table-hover table-striped " [rowsPerPage]="3">
        <thead>
          <tr>
            <th width="10%">S.No.</th>
            <th width="30%">Institution Name</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length == 0">
            <td colspan="3" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data">
            <td>{{searchResultArray.indexOf(item)+1}}</td>
            <td>{{item.institute.institutionName}}</td>
            <td>
              <!--  <md-icon mdTooltip="edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="openEditModal(item)">edit</md-icon> -->
              <button *ngIf="item.deleted  || item.institute.deleted" md-raised-button color="accent" (click)="toggle_activate(item.instituteDirMapID,false,item.institute.deleted)">Activate</button>
              <button *ngIf="!item.deleted && ! item.institute.deleted" md-raised-button color="primary" (click)="toggle_activate(item.instituteDirMapID,true,false)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="2" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" [disabled]="hospitalForm2.invalid" (click)="showForm()">Create Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div *ngIf="showFormFlag">
    <div>

      <div class=" col-xs-12 col-sm-12 m-t-15" *ngIf="bufferArray.length>0">
        <div class="table-responsive ">
          <table [md2Data]="bufferArray" #md2="md2DataTable" class="table table-striped " [rowsPerPage]="4">
            <thead>
              <tr>
                  <th width="10%">S.No.</th>
                  <th width="30%">Institution Name</th>
                  <th width="20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of md2.data; let k=index; ">
                <td>{{bufferArray.indexOf(item)+1}}</td>
                <td>{{item.hospital_name}}</td>
                <td>
                  <md-icon class="cursorPointer" mdTooltip="delete" (click)="removeObj(bufferArray.indexOf(item))">delete</md-icon>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 m-t-15">

        <button md-raised-button class="pull-left" color="primary" (click)="back()">Back</button>
        <button md-raised-button class="pull-right" [disabled]="!(bufferArray.length>0)" color="accent" (click)="save()">Save</button>

      </div>
    </div>
  </div>

</div>