<div class="row">
  <div class="col-xs-12 col-sm-12" *ngIf="!showFormFlag">
    <h4 class="pull-left">Village Master</h4>
  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="showFormFlag">
      <h4 class="pull-left">Create Village</h4>
    </div>
  <form id="searchFields" #searchFields="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
      <md-select placeholder="State" class="width100" [disabled]="disable_flag" [(ngModel)]="searchStateID" name="searchStateID"
        (change)="getDistricts(searchStateID);" #stateVal="ngModel" required>
        <md-option *ngFor="let state of provider_states" [value]="state.stateID">
          {{state.stateName}}
        </md-option>
      </md-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
      <md-select placeholder="District" class="width100" [disabled]="disable_flag" [(ngModel)]="searchDistrictID" name="searchDistrictID"
        (change)="GetTaluks(searchDistrictID)" required>
        <md-option *ngFor="let district of districts" [value]="district.districtID">
          {{district.districtName}}
        </md-option>
      </md-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
      <md-select placeholder="Taluk" class="width100" [disabled]="disable_flag" [(ngModel)]="searchTalukID" name="searchTalukID"
        (change)="GetBranches(searchTalukID);" required>
        <md-option *ngFor="let taluk of taluks" [value]="taluk.blockID">
          {{taluk.blockName}}
        </md-option>
      </md-select>
      <!-- </md-input-container> -->
    </div>
  </form>

</div>
<div class="pull-right" *ngIf="availableVillages.length!==0 && showTableFlag  ">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div>
<div class="row" *ngIf="showTableFlag">
  <div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
      <table [md2Data]="filteredavailableVillages" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="15%" md2SortBy="villageName">Village</th>
            <th width="15%">Panchayat Name</th>
            <th width="10%">Habitat</th>
            <th width="10%">Pincode</th>
            <th width="20%">Government Village ID</th>
            <th width="20%">Government Sub District ID</th>
            <th width="5%">Edit</th>
            <th width="15%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length == 0" class="record-not-found">
            <td colspan="9" align="center">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data; let i=index">
            <td>{{(md2.activePage-1)*3+i+1}}</td>
            <td>{{item.villageName}}</td>
            <td>{{item.panchayatName}}</td>
            <td>{{item.habitat}}</td>
            <td>{{item.pinCode}}</td>
            <td>{{item.govVillageID}}</td>
            <td>{{item.govSubDistrictID}}</td>
            <td>
              <md-icon mdTooltip="Edit" *ngIf="item.deleted=='0'" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer"
                (click)="openEditModal(item)">edit</md-icon>
            </td>
            <td>
              <button *ngIf="item.deleted=='0'" md-raised-button color="primary" (click)="updateVillageStatus(item)">Deactivate</button>
              <button *ngIf="item.deleted=='1'" md-raised-button color="accent" (click)="updateVillageStatus(item)">Activate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="5" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" [disabled]="searchFields.invalid" (click)="showForm()">Add Village</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row m-t-10" *ngIf="showFormFlag">
  <form id="villageForm" #villageForm="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" myProviderName>
      <md-input-container class="width100">
        <input mdInput required placeholder="Village" [(ngModel)]="villageName" name="villageName" #VillageN="ngModel" minlength="2"
          maxlength="30" (keyup)="checkExistance(searchTalukID,villageName)">
        <md-hint>
          <span class="error_text" *ngIf="!VillageN.valid  && ( VillageN.dirty || VillageN.touched)">Please enter Village Name</span>
          <span class="error_text" *ngIf="VillageN.valid && villageNameExist">Village already exists</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" myProviderName>
      <md-input-container class="width100">
        <input mdInput placeholder="Panchayat" [(ngModel)]="panchayatName" name="panchayatName" #panchayat="ngModel" minlength="2"
          maxlength="30">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" myProviderName>
      <md-input-container class="width100">
        <input mdInput placeholder="Habitat" [(ngModel)]="habitat" name="habitat" minlength="2" maxlength="30">
      </md-input-container>
    </div>
    <!-- <div class="clearfix"></div> -->
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <md-input-container class="width100" myMobileNumber>
        <input mdInput placeholder="Pincode" [(ngModel)]="pinCode" name="pinCode" maxlength="6" minlength="6" #PINC="ngModel" required>
        <md-hint [hidden]=PINC.valid>
          <span class="error_text" *ngIf="!PINC.valid  && ( PINC.dirty || PINC.touched)">Please enter valid pincode</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <md-input-container class="width100" myMobileNumber>
        <input mdInput placeholder="Government Village ID" [(ngModel)]="govVillageID" name="govVillageID" maxlength="6" #villageID="ngModel">
        <md-hint>
          <span class="error_text" *ngIf="!villageID.valid  && ( villageID.dirty || villageID.touched)">Please enter valid village ID</span>
        </md-hint>
      </md-input-container>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <md-input-container class="width100" myMobileNumber>
        <input mdInput placeholder="Government Sub District ID" [(ngModel)]="govSubDistrictID" name="govSubDistrictID" maxlength="6"
          #districtID="ngModel">
        <md-hint [hidden]=districtID.valid>
          <span class="error_text" *ngIf="!districtID.valid  && ( districtID.dirty || districtID.touched)">Please enter valid subdistrict ID</span>
        </md-hint>
      </md-input-container>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
    <button *ngIf="villageForm.valid && !villageNameExist" md-mini-fab class="xs-pull-right sm-pull-right md-pull-right lg-pull-left"
      color="primary" (click)="addVillageToList(villageForm.value);villageForm.reset()">
      <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
    </button>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15" *ngIf="villageList.length>0">
    <div class="table-responsive">
      <table [md2Data]="villageList" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="3">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="15%">Village</th>
            <th width="15%">Panchayat Name</th>
            <th width="10%">Habitat</th>
            <th width="10%">Pincode</th>
            <th width="15%">Government Village ID</th>
            <th width="20%">Government Sub District ID</th>
            <th width="15%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data; let i=index">
            <td>{{villageList.indexOf(item)+1}}</td>
            <td>{{item.villageName}}</td>
            <td>{{item.panchayatName}}</td>
            <td>{{item.habitat}}</td>
            <td>{{item.pinCode}}</td>
            <td>{{item.govVillageID}}</td>
            <td>{{item.govSubDistrictID}}</td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="delete" (click)="removeObj(villageList.indexOf(item))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 m-t-10 m-b-10">
    <button class="pull-left" md-raised-button color="primary" (click)="back()">Back</button>
    <button class="pull-right " md-raised-button color="accent" [disabled]="villageList.length<1" (click)="storeVillages()">Save</button>
  </div>
</div>