<div class="row">
    <div class="col-xs-12 col-sm-12 ">
        <h4 *ngIf="!editMode">Procedure Master</h4>
        <h4 *ngIf="editMode">Edit Procedure Master</h4>
        <!-- <div *ngIf="unfilled" class="alert alert-danger" role="alert">
            Please fill all mandatory fields
        </div> -->
        <form #stateService="ngForm" autocomplete="off">
            <div class="row m-t-15">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none">
                        <md-select placeholder="State" disabled={{disableSelection}} [style.width]="'100%'" [(ngModel)]="state" (change)="getServices(state)"
                            name="state" #statess required>
                            <md-option *ngFor="let stat of states" value="{{stat.stateID}}">
                                {{stat.stateName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none">
                        <md-select placeholder="Serviceline" disabled={{disableSelection}} [style.width]="'100%'" [(ngModel)]="service" name="service"
                            #servicess="ngModel" required>
                            <md-option *ngFor="let ser of services" value="{{ser.serviceID}}" (click)="setProviderServiceMapID(ser.providerServiceMapID)">
                                {{ser.serviceName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
            <div style="display:block;" *ngIf="providerServiceMapID && service == '2'" class="m-t-10" [formGroup]='procedureForm'>
                <div class="row" *ngIf="saveEditMode">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <!-- <md-form-field [style.width]=" '100%' ">
                            <input mdInput placeholder="Procedure/ Test Name" allowText="alphabet" formControlName="name">
                        </md-form-field> -->
                        <md-input-container style="width: 100% ">
                            <input id="procedure-name" required mdInput placeholder="Procedure Name" [style.width]="'100%'" formControlName="name" maxlength="99" (change)="procedureUnique()">

                            <!-- <md-hint *ngIf="procedureForm.get('name').hasError('required') && procedureForm.get('name').touched">
                                <span class="error_text">Procedure Name is required</span>
                                    </md-hint> -->
                             <md-hint >
                                <span class="error_text" *ngIf="procedureForm.get('name').hasError('required') && procedureForm.get('name').touched">Procedure Name is required</span>
                                <span class="error_text" *ngIf="alreadyExist">Procedure name already exist</span>
                            </md-hint>
                                  

                                  
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <md-input-container class="hide_underline" [style.width]="'100%'">
                            <input mdInput style="display:none">
                            <md-select id="procedure-type" required placeholder="Procedure Type" [style.width]="'100%'" formControlName="type">
                                <md-option value="Radiology">
                                    Radiology
                                </md-option>
                                <md-option value="Laboratory">
                                    Laboratory
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <md-input-container class="hide_underline" [style.width]="'100%'">
                            <input mdInput style="display:none">
                            <ul class="list-inline list-unstyled">
                                <li>
                                    <strong> Gender*</strong>
                                </li>
                                <li>
                                    <md-checkbox id='male' color="primary" formControlName="male">Male</md-checkbox>
                                    <md-checkbox id='female' color="primary" formControlName="female">Female</md-checkbox>
                                </li>
                            </ul>
                        </md-input-container>

                    </div>
                    <div class="clearfix visible-md "></div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                        <md-input-container [style.width]="'100%'">
                            <textarea mdInput required mdTextareaAutosize [style.width]="'100%'" formControlName="description" placeholder="Description"
                                maxlength="99"></textarea>
                        </md-input-container>
                    </div>
                </div>


            </div>
        </form>
        <div *ngIf="saveEditMode">
            <div>
                <button color="primary" class="pull-left" id="backButton" md-raised-button (click)="back();resetProcedure()">Back</button>
                <button *ngIf="!editMode" class="pull-right" id="saveButton" md-raised-button color="accent" [disabled]="procedureForm.invalid || alreadyExist" (click)="saveProcedure()">Save</button>
                <button *ngIf="editMode" class="pull-right" id="updateButton" md-raised-button color="accent" [disabled]="procedureForm.invalid || alreadyExist"(click)="updateProcedure()">Update</button>
            </div>
        </div>


    </div>
</div>

<div *ngIf="tableMode && providerServiceMapID  && service == '2'">
    <div *ngIf="procedureList?.length > 0" class="pull-right">
        <md-input-container id="filterbox">
            <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterprocedureList(filterTerm.value)">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
    </div>
    <div class="row">
        <div #tabledData class="col-xs-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped" [md2Data]="filteredprocedureList" #md2="md2DataTable" [rowsPerPage]="4">
                    <thead>
                        <tr>
                            <th width="5%">S.No.</th>
                            <th width="15%">Procedure Name</th>
                            <th width="20%">Procedure Type</th>
                            <th width="15%">Gender</th>
                            <th width="25%">Description</th>
                            <th width="10%">Created By</th>
                            <th width="5%">Edit</th>
                            <th width="5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filteredprocedureList.length == 0">
                            <td colspan="8" class="record-not-found">No records found</td>
                        </tr>
                        <tr *ngFor="let item of md2.data;let i = index ">
                            <td>{{(md2.activePage-1)*4+i+1}}</td>
                            <td>{{item.procedureName}}</td>
                            <td>{{item.procedureType}}</td>
                            <td>{{item.gender}}</td>
                            <td>{{item.procedureDesc}}</td>
                            <td>{{item.createdBy}}</td>
                            <td>
                                <md-icon mdTooltip="Edit" *ngIf="!item.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer"
                                    (click)="showForm();configProcedure(item, i)">edit</md-icon>
                            </td>
                            <td>
                                <button *ngIf="item.deleted" color="accent" md-raised-button (click)="toggleProcedure(item.procedureID, i, false)">Activate</button>
                                <button *ngIf="!item.deleted" color="primary" md-raised-button (click)="toggleProcedure(item.procedureID, i, true)">Deactivate</button>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <md2-pagination></md2-pagination>
                            </td>
                            <td colspan="7" class="p-r-0">
                                <button *ngIf="!editMode" class="pull-right" color="primary" id="resetButton" md-raised-button (click)="showForm();resetProcedure()">Create New Procedure</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>