<div class="col-xs-12 col-sm-12 b-t-2-w">
  <div class="panel-body card p-a-0 bg-white ">
    <div class="container-fluid p-a-0 overflow-y" style="height: 550px">
      <div class=" b-t-2-w">
        <div class="col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-xs-12 col-sm-12 ">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                      <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Activities<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li style="cursor: pointer" (click)='show("1")'><a>Job Location-ServiceLine Mapping Master</a></li>
                          <li style="cursor: pointer" (click)='show("2")'><a>Role Master</a></li>
                          <li style="cursor: pointer" (click)='show("3")'><a>Employee Master</a></li>
                          <li style="cursor: pointer" (click)='show("4")'><a>Call Disposition Type Master</a></li>
                          <li style="cursor: pointer" (click)='show("5")'><a>Category Subcategory Provisioning</a></li>
                          <li style="cursor: pointer" (click)='show("6")'><a>Drug Master</a></li>
                        </ul>
                      </li>
                      <li style="cursor: pointer" (click)='show("7")'><a>Reports</a></li>
                      <li style="cursor: pointer" (click)='show("8")'><a>Configurations</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="row">
            <div [ngSwitch]="Activity_Number" class="col-xs-12 col-sm-12">
              <div>
                <app-location-serviceline-mapping *ngSwitchCase="1"></app-location-serviceline-mapping>
                <app-provider-admin-role-master *ngSwitchCase="2"></app-provider-admin-role-master>
                <app-employee-master *ngSwitchCase="3"></app-employee-master>
                <app-call-disposition-type-master *ngSwitchCase="4"></app-call-disposition-type-master>
                <app-category-subcategory-provisioning *ngSwitchCase="5"></app-category-subcategory-provisioning>
                <app-drug-master *ngSwitchCase="6"></app-drug-master>
                <p *ngSwitchCase="7">Reports</p>
                <p *ngSwitchCase="8">Configurations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
