<div class="row">

  <div class="pull-left m-l-15">
    <h4 class="modal-title">Edit Complaint Nature</h4>
  </div>
  <div class="pull-right">
    <button md-button class="pull-right" [md-dialog-close]="true">
      <md-icon mdTooltip="close" class="mat-icon material-icons pull-right" role="img" aria-hidden="true" style="cursor: pointer">clear</md-icon>
    </button>
  </div>
</div>
<div class="m-t-20">
  <form #f1="ngForm">
    <div class="m-t-15">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Nature of Complaint" name="feedbackNature" [(ngModel)]="feedbackNature" (keyup)="validateFeedback(feedbackNature)"
          #fbNature="ngModel" required>
        <md-hint *ngIf="fbNature.errors && fbNature.touched">
          <span class="error_text">Nature of complaint is required</span>
        </md-hint>
        <md-hint *ngIf="natureExists && fbNature.touched">
          <span class="error_text">{{msg}}</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="m-t-15">
      <md-input-container style="width: 100%">
        <input mdInput placeholder="Feedback Nature Description" name="feedbackNatureDesc" [(ngModel)]="feedbackNatureDesc" #fbNatureDesc="ngModel">
        <!-- <md-hint *ngIf="fbNatureDesc.errors && fbNatureDesc.touched">
              <span class="error_text">Feedback Nature Description is required</span>
          </md-hint> -->
      </md-input-container>
    </div>
    <div class=" m-t-20">
      <button md-raised-button color="accent" class="pull-right" (click)="update()" [disabled]="f1.invalid || natureExists">
        Update
      </button>

    </div>
  </form>
</div>