<div class="row">
  <div class="col-xs-12 col-sm-12 ">
    <form [formGroup]="formabc" (ngSubmit)="onSubmit()">
      <!--<form [formGroup]="formabc1">-->
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <h4>select {{name}}</h4>
      <form [formGroup]="formabc">
      <div class="row" formArrayName="stateID">
        <div id="$index"  *ngFor="let stateID of stateID.controls; let i=index" [attr.data-index]="i">
        <div class="col-xs-10">
          <div class="form-group">
            <label class="control-label" for="address">Select State</label>
            <select class="form-control" [formControlName]="i">
              <option value="1">Karnataka</option>
              <option value="2">Kerala</option>
              <option value="3">Andhra</option>
              <option value="4">Bihar</option>
            </select>
          </div>
        </div>
        
        <div class="col-xs-2"> <i class="fa fa-trash-o fa-lg cursorPointer m-t-35" aria-hidden="true" (click)="splice(i)"></i> </div>
        </div>
    </div>
    </form>
    </div>
      
      <div class="row">
        <div class="col-xs-12">
             <button type="button" class="btn cu-green-btn font-regular f-s-18 pull-right" id="" (click)="push()" >Add</button>
        </div>
      </div>
    
   
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <h4>Choose {{service}}</h4>
      <form [formGroup]="formabc">
      <div class="row" formArrayName="serviceID">
         <div id="$index"  *ngFor="let serviceID of serviceID.controls; let i=index" [attr.data-index]="i">
        <div class="col-xs-10">
          <div class="form-group">
          
            <label class="control-label" for="address">Select Services</label>
            <select class="form-control" [formControlName]="i">
              <option value="1">1097</option>
              <option value="2">MCTS</option>
              <option value="3">104</option>
            </select>
            </div>
          </div>
       
        <div class="col-xs-2"> <i class="fa fa-trash-o fa-lg cursorPointer m-t-35" aria-hidden="true" (click)="splice1(i)"></i> </div>
      </div>
      </div>
      </form>
    
      <div class="row">
        <div class="col-xs-12">
             <button type="button" class="btn cu-green-btn font-regular f-s-18 pull-right" id="" (click)="push1()">Add</button>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save"> Submit</button>
    </div>
    </form>
   
  </div>
</div>
   
   
   
   
   
   
   
   
   
   
   
   
<!--   
    <div>
      <h2>select {{name}}</h2>
      <form [formGroup]="formabc">
       <div formArrayName="cities">
          <div id="$index"  *ngFor="let city of cityArray.controls; let i=index" [attr.data-index]="i">
             <input [formControlName]="i">
             <select [formControlName]="i">
    <option value="Karnataka" id="1">Karnataka</option>
    <option value="Kerala" id="2">Kerala</option>
    <option value="Andhra" id="3">Andhra</option>
    <option value="Bihar" id="4">Bihar</option>
  </select>
             <button (click)="splice(i)">Splice</button>
          </div>
       </div>
      </form>
      <button (click)="push()">push</button>
    </div>


    <div>
      <h2>Choose {{service}}</h2>
       <div formArrayName="service">
          <div id="$index"  *ngFor="let service of serviceArray.controls; let i=index" [attr.data-index]="i">
             <input [formControlName]="i">
             <select [formControlName]="i1">
    <option value="Karnataka" id="1">Karnataka</option>
    <option value="Kerala" id="2">Kerala</option>
    <option value="Andhra" id="3">Andhra</option>
    <option value="Bihar" id="4">Bihar</option>
  </select>
             <button (click)="splice1(i)">Splice</button>
          </div>
       </div>
      </form>
      <button (click)="push1()">push</button>
    </div>


    <div class="col-xs-12 col-sm-12 pull right m-b-10">
      <button class="btn cu-green-btn pull-right p-l-r-38 f-s-18" type="submit" name="save"> Save</button>
    </div>
    </form>-->