<md-card>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
        
         <h4 class="width100 t-a-c m-b-10 f-s-b">ROLE MASTER</h4>   
    </div>

    <div class="row" >
    <form #stateService="ngForm">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <md-select placeholder="State" disabled={{disableSelection}} [style.width]="'100%'" [(ngModel)]="state" (change)="getServices(state)" name="state" #statess>
                <md-option *ngFor="let stat of states" value="{{stat.stateID}}">
                    {{stat.stateName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <md-select placeholder="Service Line" disabled={{disableSelection}} [style.width]="'100%'" [(ngModel)]="service" name="service" #servicess>
                <md-option *ngFor="let ser of services" value="{{ser.serviceID}}" (click)="setProviderServiceMapID(ser.providerServiceMapID)">
                    {{ser.serviceName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="showAddButtonFlag" >
            <button md-mini-fab (click)="findRoles(state,service)" color="primary" >
                <md-icon mdSuffix  class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">search</md-icon>
            </button>
        </div>
        </form>
    </div>




    <div class="row"  *ngIf="showAddButtonFlag">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive m-t-10">
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>S.No</th> -->
                            <th>RoleID</th>
                            <th>Role</th>
                            <th>Description</th>
                            <!-- <th>Deleted</th> -->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="correctInput && searchresultarray.length == 0" align="center">
                            NO RECORD FOUND!!
                        </tr>
                        <tr *ngFor="let role of searchresultarray| paginate: {id:'rolesearch', itemsPerPage: 3, currentPage: b}">
                            <!-- <td>{{i+1}}</td> -->
                            <td>{{role.roleID}}</td>
                            <td>{{role.roleName}}</td>
                            <td>{{role.roleDesc}}</td>
                            <!-- <td>{{role.deleted}}</td> -->
                            <td><md-icon mdTooltip="edit"  *ngIf="!role.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editRole(role)">edit</md-icon>
                                <md-icon mdTooltip="delete" *ngIf="!role.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteRole(role.roleID)">delete</md-icon></td>
                            </tr>
                            <pagination-controls (pageChange)="b = $event" id="rolesearch"></pagination-controls>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="(showAddButtonFlag && correctInput && searchresultarray.length == 0) || showAddButton">
              <button md-raised-button color="primary" class="pull-right" (click)="setRoleFormFlag(true)">Add Roles</button>
          </div>
      </div>
      <div *ngIf="showRoleCreationForm">
          <div class="row m-t-10" >
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Role" [(ngModel)]="role" name="role" (keyup)="validateRole(role)" required #roles="ngModel">
                    <md-hint class="error_text" *ngIf="othersExist && roles.touched">Role already exists
                    </md-hint>
                </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Description" [(ngModel)]="description" name="description">
                </md-input-container>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                <md-select placeholder="Feature" class="m-t--10" [style.width]="'100%'" [(ngModel)]="feature">
                    <md-option *ngFor="let item of features" value="{{item.screenID}}">
                        {{item.screenName}},description:{{item.screenDesc}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 m-t-10" *ngIf="hideAdd">
            <button md-mini-fab color="primary">
                    <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="add_obj(role,description,feature)">add</md-icon>
                </button>
            </div>
        </div>

        <div  class="row" *ngIf="(objs.length !=0)">
            <div *ngFor="let obj of objs; let i=index" style="">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <md-chip-list >
                        <md-chip color="accent" selected="true">{{obj.roleName}}</md-chip>
                    </md-chip-list>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <md-chip-list>
                        <md-chip color="accent" selected="true">{{obj.roleDesc}}</md-chip>
                    </md-chip-list>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <md-chip-list>
                        <md-chip color="accent" selected="true">{{obj.feature}}</md-chip>
                    </md-chip-list>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <button md-mini-fab >
                        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="remove_obj(i)">remove</md-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <button md-raised-button color="primary" class="pull-left" (click)="setRoleFormFlag(false)">Back</button>
                <button md-raised-button color="primary" class="pull-right" (click)="finalsave()" *ngIf="!setEditSubmitButton && (objs.length !=0)">Save</button>
                <button md-raised-button color="primary" class="pull-right" [disabled]="roles.errors || othersExist" *ngIf="setEditSubmitButton" (click)="saveEditChanges()">Save Modifications</button>
            </div>
        </div>
    </div>
</md-card>
