<md-card class="example-card">
    <div class="row">
        <!-- <div class="panel-body card bg-white"> -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <md-select placeholder="State" [style.width]="'100%'" [(ngModel)]="state" (change)="getServices(state)">
                    <md-option *ngFor="let stat of states" value="{{stat.stateID}}">
                        {{stat.stateName}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <md-select placeholder="Service Line" [style.width]="'100%'" [(ngModel)]="service">
                    <md-option *ngFor="let ser of services" value="{{ser.serviceID}}">
                        {{ser.serviceName}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button md-mini-fab (click)="findRoles(state,service)">
                    <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">search</md-icon>
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="searchresultarray.length>0">
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="searchresultarray.length>0">
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>RoleID</th>
                            <th>Role</th>
                            <th>Description</th>
                            <!-- <th>Deleted</th> -->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of searchresultarray| paginate: {id:'rolesearch', itemsPerPage: 3, currentPage: b};let i=index ">
                            <td>{{i+1}}</td>
                            <td>{{role.roleID}}</td>
                            <td>{{role.roleName}}</td>
                            <td>{{role.roleDesc}}</td>
                            <!-- <td>{{role.deleted}}</td> -->
                            <td><md-icon mdTooltip="edit"  *ngIf="!role.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="editRole(role)">edit</md-icon>
                            <md-icon mdTooltip="delete" *ngIf="!role.deleted" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="deleteRole(role.roleID)">delete</md-icon></td>
                        </tr>
                        <pagination-controls (pageChange)="b = $event" id="rolesearch"></pagination-controls>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="searchresultarray.length>0">
            <button md-raised-button (click)="setRoleFormFlag(true)">Add Roles</button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showRoleCreationForm">
            <hr>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showRoleCreationForm">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button md-raised-button (click)="setRoleFormFlag(false)">Back</button>
        </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Role" [(ngModel)]="role" name="role">
                </md-input-container>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="Description" [(ngModel)]="description" name="description">
                </md-input-container>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <button md-mini-fab>
                    <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="add_obj(role,description)">add</md-icon>
                </button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="(showRoleCreationForm) && (objs.length !=0)">
            <div *ngFor="let obj of objs;let i=index" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <md-chip-list>
                        <md-chip color="accent" selected="true">{{obj.roleName}}</md-chip>
                    </md-chip-list>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <md-chip-list>
                        <md-chip color="accent" selected="true">{{obj.roleDesc}}</md-chip>
                    </md-chip-list>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <button md-mini-fab>
                        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="remove_obj(i)">remove</md-icon>
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button md-raised-button (click)="finalsave()">Save</button>
            </div>
        </div>
        <!-- </div> -->
    </div>
</md-card>
