<button class="accordion"><b><i>Demographics</i></b></button>
<div class="panel">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-15">
            <md-select placeholder="Title" [style.width]="'100%'" [(ngModel)]="title" name="title">
                <md-option value="1">
                    mr
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
                <input mdInput placeholder="First Name " [(ngModel)]="firstname " name="provider_admin_name ">
            </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
                <input mdInput placeholder="Last Name " [(ngModel)]="lastname " name="last_name ">
            </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 m-t-15">
            <md-select placeholder="Gender" [style.width]="'100%'" [(ngModel)]="gender" name="gender">
                <md-option value="1">
                    male
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container class="width100">
                <input mdInput [mdDatepicker]="picker" name="dob" placeholder="Date of Birth" [(ngModel)]="dob">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
                <input mdInput placeholder="mob " [(ngModel)]="phoneNo " name="mob ">
            </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
                <input mdInput placeholder="EmailID " [(ngModel)]="emailID " name="emailID ">
            </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
                <input mdInput placeholder="EmployeeID " [(ngModel)]="empID " name="empID ">
            </md-input-container>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button md-raised-button>Save and Next</button>
        </div>
    </div>
</div>
<button class="accordion"><b><i>Qualifications</i></b></button>
<div class="panel">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <md-select placeholder="Type*" [style.width]="'100%'" [(ngModel)]="type" name="type">
                <md-option value="1">
                    Graduation
                </md-option>
                <md-option value="2">
                    Post Graduation
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <md-select placeholder="Qualification*" [style.width]="'100%'" [(ngModel)]="qualification" name="qualification">
                <md-option value="1">
                    Btech
                </md-option>
                <md-option value="2">
                    Mtech
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <md-input-container style="width: 100% ">
                <input type="number" mdInput placeholder="Duration " [(ngModel)]="duration " name="duration ">
            </md-input-container>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <md-input-container class="width100">
                <input mdInput [mdDatepicker]="picker1" name="passingYear" placeholder="Year of Passing" [(ngModel)]="passingYear">
                <button mdSuffix [mdDatepickerToggle]="picker1"></button>
            </md-input-container>
            <md-datepicker #picker1></md-datepicker>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
            <button md-raised-button>Save and Next</button>
        </div>
    </div>
</div>
<button class="accordion"><b><i>Languages</i></b></button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>
<button class="accordion"><b><i>Address</i></b></button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>
<button class="accordion"><b><i>Unique IDs</i></b></button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>
<button class="accordion"><b><i>Credentials</i></b></button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>
