<!-- <md-card> -->
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Procedure Component Mapping</h4>
        <div *ngIf="unfilled" class="alert alert-danger" role="alert">
            Please fill all the details
        </div>
        <div class="row">
            <form #stateService="ngForm" autocomplete="off">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none">
                        <md-select required name="Services" disabled={{disableSelection}} placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline"
                            (change)="getStates(serviceline.serviceID)">
                            <md-option *ngFor="let item of services_array" [value]="item">
                                {{item.serviceName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none">
                        <md-select required disabled={{disableSelection}} placeholder="State" [style.width]="'100%'" [(ngModel)]="searchStateID"
                            name="searchStateID" (change)="setProviderServiceMapID();">
                            <md-option *ngFor="let state of provider_states" [value]="state">
                                {{state.stateName}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </form>
        </div>
        <!-- <form #procedureService="ngForm" autocomplete="off"> -->
        <div style="display: block;" *ngIf="saveMode || editMode" class="m-t-10">

            <div class="row">
                <!-- <form #proccompForm="ngForm" autocomplete="off"> -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="saveMode">

                    <md2-autocomplete required name="procedures" (change)="procedureSelected()" [items]="procedureList" item-text="procedureName"
                        placeholder="Procedure Name" [(ngModel)]="selectedProcedure" [min-length]="1" #autocompleteControl="ngModel">
                    </md2-autocomplete>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="saveMode">
                    <md-input-container style="width: 100% ">
                        <input id="procedure-description" mdInput placeholder="Description" [style.width]="'100%'" [(ngModel)]="selectedProcedureDescription"
                            readonly>
                    </md-input-container>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="editMode">

                    <md2-autocomplete required name="procedures" (change)="procedureSelected()" [items]="procedureList" item-text="procedureName"
                        placeholder="Procedure Name" [(ngModel)]="selectedProcedure" [min-length]="1" #autocompleteControl="ngModel"
                        disabled>
                    </md2-autocomplete>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="editMode">
                    <md-input-container style="width: 100% ">
                        <input id="procedure-description" mdInput placeholder="Description" [style.width]="'100%'" [(ngModel)]="selectedProcedureDescription"
                            readonly disabled>
                    </md-input-container>

                </div>
                <div class="clearfix visible-md visible-sm"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                    <!-- <md-input-container class="hide_underline" [style.width]="'100%'">
                        <input mdInput style="display:none">
                        <md-select required [(ngModel)]="selectedComponent" name="components" (change)="componentSelected()" placeholder="Component Name"
                            [style.width]=" '100%' ">
                            <md-option *ngFor="let item of componentList " [value]="item ">{{item.testComponentName}}</md-option>
                        </md-select>
                    </md-input-container> -->
                    <md2-autocomplete required name="components" [disabled]="!selectedProcedure" (change)="componentSelected()" [items]="componentList"
                        item-text="testComponentName" placeholder="Component Name" [(ngModel)]="selectedComponent" [min-length]="1"
                        #autocompleteControl="ngModel">
                    </md2-autocomplete>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <md-input-container style="width: 100% ">
                        <input id="component-description" mdInput placeholder="Description" [style.width]="'100%'" [(ngModel)]="selectedComponentDescription"
                            readonly>
                    </md-input-container>
                </div>
                <!-- </form> -->
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12  ">
                    <button color="primary" class="pull-left" id="backButton" md-raised-button (click)="back();">Back</button>
                    <button *ngIf="saveMode " id="updateButton" class="pull-right" md-raised-button color="accent" [disabled]="!selectedProcedure || !selectedComponent"
                        (click)="updateComponentMapList();">Save</button>
                    <button *ngIf="editMode" id="postMapDataButton2" class="pull-right" md-raised-button color="accent" (click)="updateComponentMapList();">Update</button>

                </div>
            </div>
        </div>
        <!-- </form> -->

    </div>
</div>
<!-- </md-card> -->
<!-- <md-card> -->
<div *ngIf="tableMode">
    <div class="row xs-m-t-20 m-t-sm-0 m-t-md-0 m-t-lg-0">

        <div #tabledData class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
            <!-- <div *ngIf="mappedList?.length > 0" class="pull-right">
                <md-input-container id="filterbox" class="m-t-20-">
                    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterMappingList(filterTerm.value)">
                    <md-icon mdSuffix>search</md-icon>
                </md-input-container>
            </div> -->
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" [md2Data]="filteredMappedList" #md2="md2DataTable" [rowsPerPage]="3">
                    <thead>
                        <tr>
                            <th width="10%">S.No.</th>
                            <th width="15%">Procedure Name</th>
                            <th width="30%">Description</th>
                            <th width="25%">Mapped Components</th>
                            <!-- <th width="10%">Created By</th> -->
                            <!-- <th width="10%">Edit</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="filteredMappedList.length == 0" class="record-not-found">
                            <td colspan="4" align="center">No records found</td>
                        </tr>
                        <tr *ngFor="let item of md2.data;let i = index ">
                            <td>{{(md2.activePage-1)*3+i+1}}</td>
                            <td>{{item.procedureName}}</td>
                            <td>{{item.procedureDesc}}</td>
                            <td>{{item.compList}}</td>
                            <!-- <td>{{item.createdBy}}</td> -->
                            <!-- <td>
                                <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" (click)="configProcedureMapping(item, i)">edit</md-icon>
                            </td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <md2-pagination></md2-pagination>
                            </td>
                            <td colspan="1" class="p-r-0">
                                <button class="pull-right" color="primary" id="resetButton" md-raised-button (click)="showForm();">Create New Mapping</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- </md-card> -->