.input-full-width {
    width: 100%;
}

.m-t-4 {
    margin-top: 4px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-5 {
    margin-right: 5px;
}

.p-r-0 {
    padding-right: 0px;
}

.p-l-0 {
    padding-left: 0px;
}
