<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h4 *ngIf="showListOfMapping">Parking Place Taluk/Sub-District Mapping</h4>
    <h4 *ngIf="!editable && !showListOfMapping">Parking Place Taluk/Sub-District Mapping</h4>
    <h4 *ngIf="editable && !showListOfMapping">Edit Parking Place Taluk/Sub-District Mapping</h4>
    <form #searchForm="ngForm" autocomplete="off">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <md-select placeholder="Serviceline" class="width100" [(ngModel)]="service" (change)="getStates(service)" name="service" 
          #bindService="ngModel" required >
            <md-option *ngFor="let item of servicelines" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <md-select placeholder="State" class="width100" [(ngModel)]="state" (change)="setProviderServiceMapID(state.providerServiceMapID)"
            name="state" #bindState="ngModel" required>
            <md-option *ngFor="let item of states" [value]="item">
              {{item.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <md-select placeholder="Zone" class="width100" [(ngModel)]="zoneID" name="zoneID"
            #zone="ngModel" (change)="getAllParkingPlaces(zoneID.zoneID, state.providerServiceMapID)" required >
            <md-option *ngFor="let zone of zones" [value]="zone">
              {{zone.zoneName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
          <md-select placeholder="Parking place" class="width100" [(ngModel)]="parking_Place" name="parking_Place" (change)="getParkingPlaceSubDistrictMappings()"
            #parkingPlace="ngModel" required>
            <md-option *ngFor="let parkingPlace of parkingPlaces" [value]="parkingPlace">
              {{parkingPlace.parkingPlaceName}}
            </md-option>
          </md-select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" *ngIf="showListOfMapping && showTable && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
      <div class="table-responsive">
          <table class="table table-striped table-hover" [md2Data]="parkingPlaceDistrictsMapping" #md2="md2DataTable" [rowsPerPage]="4">
              <thead>
                  <tr>
                      <th width="5%">S.No.</th>
                      <th width="12%">Parking Place</th>
                      <th width="12%">District</th>
                      <th width="15%">Sub-District</th>
                      <th width="10%">Edit</th>
                      <th width="12%">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngIf="md2.data.length == 0" class="record-not-found">
                      <td colspan="6" align="center">No records found</td>
                  </tr>
                  <tr *ngFor="let parkingPlace of md2.data ;let i=index">
                      <td>{{parkingPlaceDistrictsMapping.indexOf(parkingPlace)+1}} </td>
                      <td>{{parkingPlace.zoneName}}</td>
                      <td>{{parkingPlace.parkingPlaceName}}</td>
                      <td>{{parkingPlace.parkingPlaceDesc}}</td>
                      <td>{{parkingPlace.areaHQAddress}}</td>
                      <!-- <td>
                          <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!parkingPlace.deleted"
                              (click)="editParkingPlaceData(parkingPlace)">edit</md-icon>
                      </td>
                      <td>
                          <button *ngIf="parkingPlace.deleted=='1'" md-raised-button color="accent" (click)="updateParkingPlaceStatus(parkingPlace)">Activate</button>
                          <button *ngIf="parkingPlace.deleted=='0'" md-raised-button color="primary" (click)="updateParkingPlaceStatus(parkingPlace)">Deactivate</button>
                      </td> -->
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="3">
                          <md2-pagination></md2-pagination>
                      </td>
                      <td colspan="3" class="p-r-0 m-t-10">
                          <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Add Mapping</button>
                      </td>
                  </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>