<!-- <md-card> -->
<div class="row" *ngIf="(showEmployeeParkingPlaceMappings  && !editable) &&(!editMode)">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>User Parking Place Mapping</h4>
    </div>

    <form #searForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required name="Services" [disabled]="formMode" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline"
                (change)="getStates(serviceline.serviceID);resetform1.reset();resetform.reset();">
                <md-option *ngFor="let item of services_array" [value]="item">
                    {{item.serviceName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required placeholder="State" [disabled]="formMode" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID"
                (change)="setProviderServiceMapID(searchStateID.providerServiceMapID);resetform1.reset();">
                <md-option *ngFor="let state of provider_states" [value]="state">
                    {{state.stateName}}
                </md-option>
            </md-select>
        </div>
        <form #resetform="ngForm">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                <md-select required placeholder="Zone" [disabled]="formMode" class="width100" [(ngModel)]="zoneID" name="zoneID" #zoneG="ngModel"
                    (change)="getAllParkingPlaces(zoneID.zoneID, searchStateID.providerServiceMapID)">
                    <md-option *ngFor="let zone of zones" [value]="zone">
                        {{zone.zoneName}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                <md-select *ngIf="parkAndHub" placeholder="{{parkAndHub}}" class="width100" [(ngModel)]="parking_Place" name="parking_Place"
                    [disabled]="formMode" (change)="getDesignations()" #parkingPlace="ngModel" required>
                    <md-option *ngFor="let parkingPlace of availableParkingPlaces" [value]="parkingPlace">
                        {{parkingPlace.parkingPlaceName}}
                    </md-option>
                </md-select>
            </div>
        </form>
        <form #resetform1="ngForm">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
                <md-select required *ngIf="parkAndHub" placeholder="Designation" class="width100" (change)="getEmployeeParkingPlaceMappings(searchStateID, designationID.designationID);selectedParkingPlace(serviceline.serviceID, parking_Place.parkingPlaceID, searchStateID.providerServiceMapID, designationID)"
                    [(ngModel)]="designationID" name="designationID" #designationVal="ngModel">
                    <md-option *ngFor="let designation of designations" [value]="designation">
                        {{designation.designationName}}
                    </md-option>
                </md-select>
            </div>
        </form>
        <form #searchForm="ngForm" autocomplete="off">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" *ngIf="formMode">
                <md-select required placeholder="Username" class="width100" [(ngModel)]="userID" name="userID" #userVal="ngModel">
                    <md-option *ngFor="let userName of userNames" [value]="userName">
                        {{userName.userName}}
                    </md-option>
                </md-select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15" *ngIf="formMode && enableVanField">
                <md-select multiple required placeholder="Van" class="width100" [(ngModel)]="vanUnderPP" name="vanUnderPP" #ppVan="ngModel">
                    <md-option *ngFor="let van of availableVans" [value]="van">
                        {{van.vanName}}
                    </md-option>
                </md-select>
            </div>
        </form>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 m-t-20">
            <button md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-right lg-pull-left" *ngIf="formMode && searchForm.valid"
                (click)="addParkingPlaceMapping(searchForm.value);this.searchForm.reset();">
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
            </button>
        </div>
    </form>
    <div class="col-xs-12 col-sm-12 m-t-10" *ngIf="employeeParkingPlaceMappingList.length>0 && (formMode) ">
        <div class="table-responsive">
            <table class="table table-hover table-striped " [md2Data]="employeeParkingPlaceMappingList" #md2="md2DataTable" [rowsPerPage]="3">
                <thead>
                    <tr>
                        <th width="10%">S.No.</th>
                        <th width="25%">{{parkAndHub}}</th>
                        <th width="20%">Designation</th>
                        <th width="20%">Username</th>
                        <th width="20%">Van</th>
                        <th width="10%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="employeeParkingPlaceMappingList.length == 0">
                        <td colspan="6" class="record-not-found">No records found</td>
                    </tr>
                    <tr *ngFor="let item of md2.data;let i = index ">
                        <td>{{employeeParkingPlaceMappingList.indexOf(item)+1}}</td>
                        <td>{{item?.parkingPlaceName}}</td>
                        <td>{{item?.designationName}}</td>
                        <td>{{item?.userName}}</td>
                        <td>
                            <ul class="m-l--25">
                                <li *ngFor="let obj of item?.uservanmapping; let j=index ">
                                    {{obj.vanName}}
                                    <md-icon class="cursorPointer" mdTooltip="Remove" (click)="removeRole(employeeParkingPlaceMappingList.indexOf(item),j)">cancel</md-icon>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <md-icon class="cursorPointer" mdTooltip="delete" (click)="deleteRow(employeeParkingPlaceMappingList.indexOf(item))">delete</md-icon>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <md2-pagination></md2-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 m-t-15">
        <button md-raised-button color="accent" *ngIf="formMode" class="pull-right" [disabled]="!(employeeParkingPlaceMappingList.length>0)"
            (click)="saveParkingMpping()">Save</button>

        <button md-raised-button color="primary" *ngIf="formMode || editMode" class="pull-left" (click)="back()">Back</button>

    </div>
</div>

<div class="row" *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Edit User Parking Place Mapping</h4>
    </div>

    <form #updateForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required name="Services" [disabled]="editMode" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline"
                (change)="getStates(serviceline.serviceID)">
                <md-option *ngFor="let item of services_array" [value]="item">
                    {{item.serviceName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required placeholder="State" [disabled]="editMode" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID"
                (change)="setProviderServiceMapID(searchStateID.providerServiceMapID)">
                <md-option *ngFor="let state of provider_states" [value]="state">
                    {{state.stateName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required placeholder="Zone" [disabled]="editMode" class="width100" [(ngModel)]="zoneID" name="zoneID" #zoneG="ngModel">
                <md-option *ngFor="let zone of zones" [value]="zone">
                    {{zone.zoneName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select *ngIf="parkAndHub" placeholder="{{parkAndHub}}" class="width100" [(ngModel)]="parking_Place" name="parking_Place"
                #parkingPlace="ngModel" required>
                <md-option *ngFor="let parkingPlace of availableParkingPlaces" [value]="parkingPlace">
                    {{parkingPlace.parkingPlaceName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required placeholder="Designation" [disabled]="editMode" class="width100" [(ngModel)]="designationID" name="designationID"
                #designationVal="ngModel">
                <md-option *ngFor="let designation of designations" [value]="designation">
                    {{designation.designationName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select required placeholder="Username" [disabled]="editMode" class="width100" [(ngModel)]="userID" name="userID" #userVal="ngModel">
                <md-option *ngFor="let userName of userNames" [value]="userName">
                    {{userName.userName}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
            <md-select multiple required placeholder="Van" class="width100" [(ngModel)]="vanUnderPP" name="vanUnderPP" #ppVan="ngModel">
                <md-option *ngFor="let van of availableVans" [value]="van">
                    {{van.vanName}}
                </md-option>
            </md-select>
        </div>
    </form>
    <div class="col-xs-12 col-sm-12 m-t-15">
        <button md-raised-button color="accent" *ngIf="editMode" class="pull-right" [disabled]="updateForm.invalid" (click)="updateParkingPlace()">Update</button>
        <button md-raised-button color="primary" *ngIf="editMode" class="pull-left" (click)="back()">Back</button>
    </div>
</div>
<div>
    <div class="pull-right m-t--20" *ngIf="tableMode && (!formMode && !editMode) && availableEmployeeParkingPlaceMappings.length!==0 ">
        <md-input-container id="filterbox">
            <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form class="c-b" autocomplete="off">
            <div class="table-responsive" *ngIf="tableMode && (!formMode && !editMode)">
                <table class="table table-striped table-hover" [md2Data]="filteredavailableEmployeeParkingPlaceMappings" #md2="md2DataTable"
                    [rowsPerPage]="3">
                    <thead>
                        <tr>
                            <th width="10%">S.No.</th>
                            <th width="25%">{{parkAndHub}}</th>
                            <th width="20%">Designation</th>
                            <th width="25%">Username</th>
                            <th width="10%">View</th>
                            <th>Edit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="md2.data.length == 0">
                            <td colspan="7" class="record-not-found">No records found</td>
                        </tr>
                        <tr *ngFor="let mapping of md2.data;let i=index ">
                            <td>{{filteredavailableEmployeeParkingPlaceMappings.indexOf(mapping)+1}}</td>
                            <td>{{mapping?.parkingPlaceName}}</td>
                            <td>{{mapping?.designationName}}</td>
                            <td>{{mapping?.userName}}</td>
                            <td data-title="View" *ngIf="!mapping.deleted">
                                <md-icon (click)="viewVanListDetails(mapping)" class="cursorPointer">remove_red_eye</md-icon>
                            </td>
                            <td width="15%">
                                <md-icon mdTooltip="Edit" class="mat-icon material-icons" *ngIf="!mapping.deleted && !mapping.userDeleted" role="img" aria-hidden="true"
                                    style="cursor: pointer" (click)="editParkingPlace(mapping)">edit</md-icon>
                            </td>
                            <td width="20%">
                                <button md-raised-button color="accent" *ngIf="mapping.deleted || mapping.userDeleted" class=" m-r-10" (click)="activate(mapping.userParkingPlaceMapID,mapping.userDeleted)">Activate</button>
                                <button md-raised-button color="primary" *ngIf="!mapping.deleted && !mapping.userDeleted" class=" m-r-10" (click)="deactivate(mapping.userParkingPlaceMapID)">Deactivate</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <md2-pagination></md2-pagination>
                            </td>
                            <td colspan="3" class="p-r-0">

                                <button md-raised-button color="primary" id="addButton" [disabled]="!parking_Place || !designationID " class="pull-right"
                                    (click)="showForm(searchStateID, parking_Place.parkingPlaceID, designationID)">Add Mapping</button>

                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </form>
    </div>
</div>
<!-- </md-card> -->