<!-- <md-card> -->
<div class="row" *ngIf="(showEmployeeParkingPlaceMappings  && !editable) &&(!editMode)">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>User Parking Place Mapping</h4>
    </div>

    <form #searForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required name="Services" [disabled]="formMode" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline"
                    (change)="getStates(serviceline.serviceID);resetform1.reset();resetform.reset();">
                    <md-option *ngFor="let item of services_array" [value]="item">
                        {{item.serviceName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required placeholder="State" [disabled]="formMode" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID"
                    (change)="getDistricts(searchStateID.stateID);resetform1.reset();">
                    <md-option *ngFor="let state of provider_states" [value]="state">
                        {{state.stateName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <form #resetform="ngForm">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline width100">
                    <input mdInput style="display:none">
                    <md-select required placeholder="District" class="width100" [disabled]="formMode" [(ngModel)]="searchDistrictID" name="searchDistrictID"
                        (change)="getParkingPlaces(searchStateID.stateID,searchDistrictID.districtID);">
                        <md-option *ngFor="let district of districts" [value]="district">
                            {{district.districtName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </form>
        <form #resetform1="ngForm">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline width100">
                    <input mdInput style="display:none">
                    <md-select required placeholder="Parking Place" [disabled]="formMode" class="width100" [(ngModel)]="searchParkingPlaceID"
                        (change)="resetDesignation()" name="searchParkingPlaceID">
                        <md-option *ngFor="let parkingPlace of availableParkingPlaces" [value]="parkingPlace">
                            {{parkingPlace.parkingPlaceName}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <md-input-container class="hide_underline width100">
                    <input mdInput style="display:none">
                    <md-select required placeholder="Designation" class="width100" (change)="getEmployeeParkingPlaceMappings(searchStateID,searchDistrictID.districtID,designationID.designationID);selectedParkingPlace(searchParkingPlaceID.parkingPlaceID);getUsernames(designationID.designationID);"
                        [(ngModel)]="designationID" name="designationID" #designationVal="ngModel">
                        <md-option *ngFor="let designation of designations" [value]="designation">
                            {{designation.designationName}}
                        </md-option>


                    </md-select>
                    <md-hint [hidden]=designationVal.valid>
                        <span class="error_text" *ngIf="!designationVal.required  && ( designationVal.dirty || designationVal.touched)">Please select Designation </span>
                    </md-hint>
                </md-input-container>
            </div>
        </form>
        <form #searchForm="ngForm" autocomplete="off">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="formMode">
                <md-input-container class="hide_underline width100">
                    <input mdInput style="display:none">
                    <md-select required placeholder="Username" class="width100" [(ngModel)]="userID" name="userID" #userVal="ngModel">
                        <md-option *ngFor="let userName of userNames" [value]="userName">
                            {{userName.userName}}
                        </md-option>


                    </md-select>
                    <md-hint [hidden]=userVal.valid>
                        <span class="error_text" *ngIf="!userVal.required  && ( userVal.dirty || userVal.touched)">Please select Username </span>
                    </md-hint>
                </md-input-container>
            </div>
        </form>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 m-t-20">
            <button md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-right lg-pull-left" *ngIf="formMode && !searchForm.invalid"
                (click)="addParkingPlaceMapping(searchForm.value);this.searchForm.reset();">
                <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
            </button>
        </div>
    </form>
    <div class="col-xs-12 col-sm-12" *ngIf="employeeParkingPlaceMappingList.length>0 && (formMode) ">
        <div class="table-responsive">
            <table class="table table-hover table-striped " [md2Data]="employeeParkingPlaceMappingList" #md2="md2DataTable" [rowsPerPage]="3">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Serviceline</th>
                        <th>State</th>
                        <th>District</th>
                        <th>Parking Place Name</th>
                        <th>Designation</th>
                        <th>Username</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="employeeParkingPlaceMappingList.length == 0">
                        <td colspan="8" class="record-not-found">No records found</td>
                    </tr>
                    <tr *ngFor="let item of md2.data;let i = index ">
                        <td>{{employeeParkingPlaceMappingList.indexOf(item)+1}}</td>
                        <td>{{item.serviceName}}</td>
                        <td>{{item.stateName}}</td>
                        <td>{{item.districtName}}</td>
                        <td>{{item.parkingPlaceName}}</td>
                        <td>{{item.designationName}}</td>
                        <td>{{item.userName}}</td>
                        <td>
                            <md-icon class="cursorPointer" mdTooltip="delete" (click)="deleteRow(employeeParkingPlaceMappingList.indexOf(item))">delete</md-icon>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <md2-pagination></md2-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="col-xs-12 col-sm-12 m-t-15">
        <button md-raised-button color="accent" *ngIf="formMode" class="pull-right" [disabled]="!(employeeParkingPlaceMappingList.length>0)"
            (click)="saveParkingMpping()">Save</button>

        <button md-raised-button color="primary" *ngIf="formMode || editMode" class="pull-left" (click)="showTable()">Back</button>

    </div>
</div>
<div *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h4>Edit User Parking Place Mapping</h4>
    </div>
    <form #updateForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required name="Services" [disabled]="editMode" placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline"
                    (change)="getStates(serviceline.serviceID)">
                    <md-option *ngFor="let item of services_array" [value]="item">
                        {{item.serviceName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline" [style.width]="'100%'">
                <input mdInput style="display:none">
                <md-select required placeholder="State" [disabled]="editMode" [style.width]="'100%'" [(ngModel)]="searchStateID" name="searchStateID"
                    (change)="getDistricts(searchStateID.stateID);">
                    <md-option *ngFor="let state of provider_states" [value]="state">
                        {{state.stateName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select required placeholder="District" class="width100" [disabled]="editMode" [(ngModel)]="searchDistrictID_edit" name="searchDistrictID"
                    (change)="getParkingPlaces(searchStateID.stateID,searchDistrictID.districtID);">
                    <md-option *ngFor="let district of districts" [value]="district.districtID">
                        {{district.districtName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select required placeholder="Parking Place" [disabled]="editMode" class="width100" [(ngModel)]="searchParkingPlaceID_edit"
                    name="searchParkingPlaceID">
                    <md-option *ngFor="let parkingPlace of availableParkingPlaces" [value]="parkingPlace.parkingPlaceID">
                        {{parkingPlace.parkingPlaceName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select required placeholder="Designation" [disabled]="editMode" class="width100" [(ngModel)]="designationID_edit" name="designationID"
                    #designationVal="ngModel">
                    <md-option *ngFor="let designation of designations" (click)="getEmployeeParkingPlaceMappings(searchStateID,searchDistrictID.districtID,designationID.designationID);selectedParkingPlace(searchParkingPlaceID.parkingPlaceID);getUsernames(designationID.designationID);"
                        [value]="designation.designationID">
                        {{designation.designationName}}
                    </md-option>


                </md-select>
                <md-hint [hidden]=designationVal.valid>
                    <span class="error_text" *ngIf="!designationVal.required  && ( designationVal.dirty || designationVal.touched)">Please select Designation </span>
                </md-hint>
            </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="formMode || editMode">
            <md-input-container class="hide_underline width100">
                <input mdInput style="display:none">
                <md-select required placeholder="Username" class="width100" [(ngModel)]="userID" name="userID" #userVal="ngModel">
                    <md-option *ngFor="let userName of userNames | OrderBy : 'userName'" [value]="userName.userID">
                        {{userName.userName}}
                    </md-option>


                </md-select>
                <md-hint [hidden]=userVal.valid>
                    <span class="error_text" *ngIf="!userVal.required  && ( userVal.dirty || userVal.touched)">Please select Username </span>
                </md-hint>
            </md-input-container>
        </div>

    </form>
    <div class="col-xs-12 col-sm-12 m-t-15">
        <button md-raised-button color="accent" *ngIf="editMode" class="pull-right" [disabled]="updateForm.invalid" (click)="updateParkingPlace(updateForm.value)">Update</button>
        <button md-raised-button color="primary" *ngIf="editMode" class="pull-left" (click)="showTable()">Back</button>
    </div>
</div>
<div>
    <!-- <div class="pull-right m-t-15" *ngIf="tableMode && (!formMode && !editMode) && availableEmployeeParkingPlaceMappings.length!==0 ">
        <md-input-container id="filterbox">
            <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
    </div> -->
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 m-t-20 ">
        <form class="c-b p-t-20" autocomplete="off">
            <div class="table-responsive" *ngIf="tableMode && (!formMode && !editMode)">
                <table [md2Data]="filteredavailableEmployeeParkingPlaceMappings" #md2="md2DataTable" class="table table-striped table-hover"
                    [rowsPerPage]="3">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Username</th>
                            <th>Parking Place</th>
                            <th>Edit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="md2.data.length == 0">
                            <td colspan="5" class="record-not-found">No records found</td>
                        </tr>
                        <tr style="cursor: pointer" *ngFor="let mapping of md2.data;let i=index ">
                            <td>{{filteredavailableEmployeeParkingPlaceMappings.indexOf(mapping)+1}}</td>
                            <td> {{mapping.userName}}</td>
                            <td>{{mapping.parkingPlaceName}}</td>
                            <td>
                                <md-icon mdTooltip="Edit" class="mat-icon material-icons" *ngIf="!mapping.deleted && !mapping.userDeleted" role="img" aria-hidden="true"
                                    style="cursor: pointer" (click)="editParkingPlace(mapping)">edit</md-icon>
                            </td>
                            <td>
                                <button md-raised-button color="accent" *ngIf="mapping.deleted || mapping.userDeleted" class=" m-r-10" (click)="activate(mapping.userParkingPlaceMapID,mapping.userDeleted)">Activate</button>
                                <button md-raised-button color="primary" *ngIf="!mapping.deleted && !mapping.userDeleted" class=" m-r-10" (click)="deactivate(mapping.userParkingPlaceMapID)">Deactivate</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <md2-pagination></md2-pagination>
                            </td>
                            <td colspan="3" class="p-r-0">

                                <button md-raised-button color="primary" [disabled]="!searchDistrictID || !searchParkingPlaceID || !designationID " class="pull-right"
                                    (click)="showForm();">Add Mapping</button>

                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <!-- <div class="" *ngIf="formMode">
            <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
            <button md-raised-button color="accent" *ngIf="availableEmployeeParkingPlaceMappings.length!=0" class="pull-right" (click)="storeEmployeeParkingPlaceMapping();">Map</button>
    
        </div> -->
        </form>
    </div>
</div>
<!-- </md-card> -->