<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Provider Master</strong>
    </h4>
  </div>
  <!-- pre-populated table showing the number of providers available -->
  <div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
      <table class="table table-striped" [md2Data]="searchResult" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="15%">Provider Name</th>
            <th width="20%">Contact Person</th>
            <th width="15%">Contact Number</th>
            <th width="30%">Address</th>
            <th width="5%">Edit</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="searchResult.length == 0">
            <td colspan="7" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{(md2.activePage-1)*4+i+1}}</td>
            <td>{{item.serviceProviderName}}</td>
            <td>{{item.primaryContactName}}</td>
            <td>{{item.primaryContactNo}}</td>
            <td>{{item.primaryContactAddress}}</td>
            <td>
              <md-icon class="cursorPointer" *ngIf="!item.deleted" mdTooltip="Edit" (click)='edit(item)'>mode_edit</md-icon>
            </td>
            <td>
              <button *ngIf="item.deleted" md-raised-button color="accent" (click)="activate(item.serviceProviderId)">Activate</button>
              <button *ngIf="!item.deleted" md-raised-button color="primary" (click)="deactivate(item.serviceProviderId)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create New Provider</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Create Provider</strong>
    </h4>
    <h4 *ngIf="editMode">
      <strong>Edit Provider</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">
    <form #providerCreationForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myProviderName>
          <input mdInput placeholder="Provider/Company Name" ngModel name="provider_name" [(ngModel)]="providerName" required="true"
            minlength="2" maxlength="50" #name="ngModel" (keyup)="checkProviderNameAvailability(name.value)">
          <md-hint *ngIf="name.touched">
            <span class="errorText" [hidden]="!name.errors">Enter atleast 2 characters</span>
            <span class="errorText" [hidden]="!providerNameExist">Provider Exists</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md2-datepicker class="width100" placeholder="Valid From" [min]="minDate" [(ngModel)]="validFrom" required="true" disabled="true"
          name="valid_from" (keydown)="preventTyping($event)"></md2-datepicker>
      </div>
      <div class="clearfix visible-sm "></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md2-datepicker class="width100" placeholder="Valid Till" [min]="validFrom" [(ngModel)]="validTill" required="true" name="valid_till"
          (keydown)="preventTyping($event)"></md2-datepicker>
      </div>
      <div class="clearfix visible-md "></div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myProviderName>
          <input mdInput placeholder="Contact Person" ngModel minlength="2" maxlength="30" [(ngModel)]="primaryName" name="contact_person"
            #cp="ngModel" required>
          <md-hint class="errorText" *ngIf="cp.errors && cp.touched">Enter minimum 2 characters
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100" myMobileNumber>
          <input mdInput placeholder="Contact Number" ngModel name="contact_number" [(ngModel)]="primaryNumber" minlength="10" maxlength="10"
            required #number="ngModel">
          <md-hint class="errorText" *ngIf="number.errors && number.touched">Enter 10 digit mobile number
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100">
          <input mdInput placeholder="Email ID" required ngModel [pattern]="emailPattern" name="email" [(ngModel)]="primaryEmail" maxlength="30"
            #validEmail="ngModel">
          <md-hint class="errorText" [hidden]="!validEmail.hasError('pattern')">Enter valid email-ID
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!editMode">
        <md-input-container class="width100" myAddress>
          <input mdInput placeholder="Address1" maxlength="50" ngModel minlength="3" name="address1" [(ngModel)]="address1" required
            #address="ngModel">
          <md-hint class="errorText" *ngIf="address.errors && address.touched">Enter minimum 3 characters
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!editMode">
        <md-input-container class="width100" myAddress>
          <input mdInput placeholder="Address2" maxlength="50" ngModel name="address2" [(ngModel)]="address2">
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="editMode">
        <md-input-container class="width100" myAddress>
          <input mdInput placeholder="Address" minlength="3" maxlength="100" ngModel name="address" [(ngModel)]="primaryAddress" #editAddress="ngModel">
          <md-hint class="errorText" *ngIf="editAddress.errors && editAddress.touched">Enter minimum 3 characters
          </md-hint>
        </md-input-container>
      </div>
    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>
      <button *ngIf="!editMode" md-raised-button color="accent" class="pull-right" [disabled]="providerCreationForm.invalid || providerNameExist"
        (click)="save(providerCreationForm.value)">Save</button>
      <button *ngIf="editMode" md-raised-button color="accent" class="pull-right" [disabled]="providerCreationForm.invalid || providerNameExist"
        (click)="update(providerCreationForm.value)">Update</button>
    </div>
  </div>
</div>