<div *ngIf="showMappings && !editable">
  <h4>Available Zone Mappings</h4>
  <table class="table ">
    <thead>
      <tr>
        <th>S No.</th>
        <th>Zone</th>
        <th>Service</th>
        <th>State</th>
        <th>District</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let zoneDistrictMapping of availableZoneDistrictMappings | paginate: {id:'zoneListResult', itemsPerPage: 3, currentPage: b}" >
        <td>{{availableZoneDistrictMappings.indexOf(zoneDistrictMapping)+1}}</td>
        <td>{{zoneDistrictMapping.zoneName}}</td>
        <td>{{zoneDistrictMapping.m_providerServiceMapping.m_serviceMaster.serviceName}}</td>
        <td>{{zoneDistrictMapping.m_providerServiceMapping.state.stateName}}</td>
        <td>{{zoneDistrictMapping.districtName}}</td>
        <td *ngIf="zoneDistrictMapping.deleted=='0'"> <button class="btn" (click)="updateZoneMappingStatus(zoneDistrictMapping)">DeActivate</button></td>
        <td *ngIf="zoneDistrictMapping.deleted=='1'"> <button class="btn activateBtn" (click)="updateZoneMappingStatus(zoneDistrictMapping)">Activate</button></td>
        <!--<td> <button class="btn activateBtn" (click)="editZoneMapping(zoneMapping)">Edit</button></td>-->
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="b = $event" id="zoneListResult"></pagination-controls>
  <div>
    <button class="btn pull-right " (click)="showForm()">Create Zone Mapping </button>
  </div>
</div>
<div *ngIf="!showMappings || editable">
  <h4>Map Zone with District</h4>
  <form #zoneDistrictMappingForm="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <md-select required placeholder="Service Line" [style.width]="'100%'" [(ngModel)]="serviceID" name="serviceID"  #serviceVal="ngModel" (change)="getStatesByServiceID(serviceID)">
        <md-option *ngFor="let item of provider_services" value="{{item.serviceID}}">
          {{item.serviceName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=serviceVal.valid>
        <span class="error_text" *ngIf="!serviceVal.required  && ( serviceVal.dirty || serviceVal.touched)">Please select Service Line</span>
      </md-hint>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <md-select required placeholder="Select State" [style.width]="'100%'" [(ngModel)]="stateID" name="stateID" (change)="getDistricts(stateID.split('-')[0]);" #stateVal="ngModel">
        <md-option *ngFor="let item of provider_states" value="{{item.stateID}}-{{item.providerServiceMapID}}-{{item.stateName}}">
          {{item.stateName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=stateVal.valid>
        <span class="error_text" *ngIf="!stateVal.required  && ( stateVal.dirty || stateVal.touched)">Please select State</span>
      </md-hint>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
      <md-select required placeholder="Select Zone" [style.width]="'100%'" [(ngModel)]="zoneID" name="zoneID" #zoneG="ngModel"  (change)="checkExistance(stateID,zoneID)">
        <md-option *ngFor="let zone of availableZones" value="{{zone.zoneID}}-{{zone.zoneName}}">
          {{zone.zoneName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=zoneG.valid>
        <span class="error_text" *ngIf="!zoneG.required  && ( zoneG.dirty || zoneG.touched)">Please select Zone</span>
      </md-hint>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-select multiple [style.width]="'100%'" name="districtIdList" placeholder="Please choose Districts" [(ngModel)]="districtIdList" #districtF="ngModel" required>
            <md-option *ngFor="let district of districts" value="{{district.districtID}}-{{district.districtName}}">{{district.districtName}}</md-option>
        </md-select>
        <md-hint [hidden]=districtF.valid>
          <span class="error_text" *ngIf="!districtF.required  && ( districtF.dirty || districtF.touched)">Please choose Districts</span>
        </md-hint>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button [disabled]=" !serviceVal.valid || !stateVal.valid || !zoneG.valid || !districtF.valid" *ngIf="!editable" class="btn pull-right " (click)="addZoneDistrictMappingToList(zoneDistrictMappingForm.value);zoneDistrictMappingForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
      <button *ngIf="editable"  class="btn pull-right " (click)="updateZoneMapping(zoneDistrictMappingForm.value);zoneDistrictMappingForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">update</md-icon>
      </button>
    </div>
  </form>
  <div *ngIf="zoneDistrictMappingList.length>0">
    <table class="table ">
      <thead>
        <tr>
          <th>S No.</th>
          <th>Zone</th>
          <th>State</th>
          <th>District</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer" *ngFor="let zone of zoneDistrictMappingList | paginate: {id:'zoneResult', itemsPerPage: 3, currentPage: b}">
          <td>{{zoneDistrictMappingList.indexOf(zone)+1}}</td>
          <td>{{zone.zoneName}}</td>
          <td>{{zone.stateName}}</td>
          <td>{{zone.districtName}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="b = $event" id="zoneResult"></pagination-controls>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <button class="btn pull-left" (click)="showMappings = true;editable=false;">Back</button> <button *ngIf="zoneDistrictMappingList.length>0" class="btn pull-right " (click)="storezoneMappings()">Submit</button>
  </div>
</div>
