<div class="title">
  <h4>Snomed CT Code Selection</h4>
  <button md-icon-button mdDialogClose tooltip="Close" class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>
<div class="container-fluid">
  <!-- <div class="row no-gutters">
    <div class="col-xs-12 col-sm-4">
      <md-form-field class="input-full-width">
        <input autocomplete="off" maxlength="100" mdInput placeholder="Component Name" [(ngModel)]="input.searchTerm" (keyup.enter)="search(input.searchTerm,0)" (ngModelChange)="resetData()">
      </md-form-field>
    </div>
    <div class="col-xs-12 col-sm-8">
      <button class="search-btn" md-raised-button color="accent" type="button" (click)="search(input.searchTerm, 0)">search</button>
    </div>
  </div>  -->
  <div class="overlay" *ngIf="showProgressBar">
    <div class="overlay-content">
      <md-spinner></md-spinner>
    </div>
  </div>
  <md-dialog-content>
    <div class="table-responsive">
      <table class="table table-striped" [md2Data]="snomedData" #md2="md2DataTable">
        <thead>
          <tr>
            <th>Snomed Code</th>
            <th>Snomed Term</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="snomedData.length == 0">
            <td colspan="3" class="text-center" style="text-align: center;">{{message}}</td>
          </tr>
          <tr *ngFor="let item of md2.data">
            <td data-title="Concept ID">{{ item?.conceptID }} </td>
            <td data-title="Term">{{ item?.term }} </td>
            <td class="text-center">
              <md-radio-group name="componentValue"  (change)="selectSnomedCode(item?.conceptID,item?.term)">
                <md-radio-button [checked]="item?.conceptID == selectedItem" color="primary" value="Yes">
                </md-radio-button>
               
              </md-radio-group>
              
             
            </td>
          </tr>
        </tbody>
        <!-- <tfoot>
          <tr>
              <td colspan="5">
                  <md2-pagination (click)="setEnable()"></md2-pagination>
              </td>
              
          </tr>
      </tfoot> -->

        <tfoot>
          <tr>
            <td colspan="6" class="text-right">
             
              <div *ngIf="snomedData.length != 0" class="pull-left m-t-40">Total Pages: {{pageCount}}</div>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage <= 0}">
                  <a (click)="checkPager(pager,0)">
                    <<</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage <= 0}">
                  <a (click)="setPage(pager.currentPage - 1)">
                    <</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page + 1}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage >= pager.totalPages - 1}">
                  <a (click)="setPage(pager.currentPage + 1)">></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage >= pager.totalPages - 1}">
                  <a (click)="checkPager(pager, pager.totalPages - 1)">>></a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="row m-b-20">
      <div class="col-xs-12" *ngIf="snomedData.length != 0">
        <button md-raised-button class="pull-right" (click)="submitComponentList()" [disabled]="selectedTerm==null" color="primary">
          Submit
        </button>
      </div>
    </div>
  </md-dialog-content>

</div>