<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Provider Serviceline State Mapping</strong>
    </h4>
  </div>
  <!-- pre-populated table showing the mappings available of providers to serviceline and state -->
  <div class="col-xs-12 col-sm-12 ">
    <div class="table-responsive">
      <table class="table table-hover table-striped" [md2Data]="searchResult" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="30%" md2SortBy="serviceProviderName">Provider Name</th>
            <th width="15%">Serviceline</th>
            <th width="40%">State</th>
            <th width="5%">Edit</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="searchResult.length == 0">
            <td colspan="7" class="record-not-found">No records found</td>
          </tr>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{searchResult.indexOf(item)+1}}</td>
            <td>{{item.serviceProviderName}}</td>
            <td>{{item.serviceName}}</td>
            <td>{{item.stateName?item.stateName:'All States'}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="cursorPointer" *ngIf="!item.deleted && !item.serviceProviderDeleted" (click)="edit(item)">mode_edit</md-icon>
            </td>
            <td>
              <button md-raised-button color="accent" *ngIf="item.deleted || item.serviceProviderDeleted" class="" (click)="activate(item.providerServiceMapID,item.serviceProviderDeleted)">Activate</button>
              <button md-raised-button color="primary" *ngIf="!item.deleted && !item.serviceProviderDeleted" class="" (click)="deactivate(item.providerServiceMapID)">Deactivate</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create New Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class='row' *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Provider Serviceline State Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0 m-t-15">
    <form autocomplete="off" #mappingFieldsForm="ngForm">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Provider" [style.width]="'100%'" [(ngModel)]="provider" name="provider" required (change)='getServices()'>
            <md-option *ngFor="let item of providers" [value]='item'>
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </md-input-container>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="serviceline" name="serviceline" (change)="getAvailableStates(provider.serviceProviderId,serviceline.serviceID,serviceline)"
            required>
            <md-option *ngFor="let item of services" [value]='item'>
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="State" [style.width]="'100%'" [disabled]="isNational" [(ngModel)]="state" [multiple]="true" name="state"
            required>
            <md-option *ngFor="let item of filteredStates" [value]='item'>
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
    <div class="col-xs-12 col-sm-6 col-md-12 col-lg-3 ">
      <button md-mini-fab class="xs-pull-right sm-pull-left md-pull-right lg-pull-left" *ngIf="!editMode && !mappingFieldsForm.invalid"
        color="primary" (click)="add2bufferArray(mappingFieldsForm.value) ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 " *ngIf="bufferArray.length>0">
    <div class="table-responsive m-t-15">
      <table class="table table-hover table-striped" [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="3">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="30%">Provider Name</th>
            <th width="15%">Serviceline</th>
            <th width="40%">State</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{bufferArray.indexOf(item)+1}}</td>
            <td>{{item.providerName}}</td>
            <td>{{item.serviceName}}</td>
            <td>
              <ul>
                <li *ngFor="let obj of item.stateID1;let j=index ">
                  {{obj.stateName}}
                  <md-icon class="cursorPointer" mdTooltip="Remove {{obj.stateName}}" (click)="removeState(bufferArray.indexOf(item),j)">cancel</md-icon>
                </li>
                <li *ngIf="item.stateID1.length==0">
                  {{'All State'}}
                </li>
              </ul>
            </td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove" (click)="removeRow(bufferArray.indexOf(item))">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <md2-pagination></md2-pagination>
            </td>

          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 m-t-15 m-b-15">

    <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
    <button md-raised-button color="accent" [disabled]="!(bufferArray.length>0)" class="pull-right" (click)="mapServicelineState()">Save</button>


  </div>
</div>
<div class="row" *ngIf="editMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Edit Provider Serviceline State Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12  p-a-0 m-t-15">
    <form autocomplete="off" #editMappingFieldsForm="ngForm">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Provider" [style.width]="'100%'" [(ngModel)]="edit_provider" name="provider" required>
            <md-option *ngFor="let item of providers" [value]='item.serviceProviderId'>
              {{item.serviceProviderName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Serviceline" [style.width]="'100%'" [(ngModel)]="edit_serviceline" name="serviceline" required>
            <md-option *ngFor="let item of servicelines" [value]='item.serviceID' (click)="setIsNationalFlag_while_edit(item.isNational)">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="State" [style.width]="'100%'" [disabled]="isNational_edit" [(ngModel)]="edit_state" name="state"
            required>
            <md-option *ngFor="let item of states" [value]='item.stateID'>
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>
    <div class="col-xs-12 col-sm-12  m-t-15">
      <button md-raised-button color="accent" [disabled]="editMappingFieldsForm.invalid" class="pull-right  m-l-5 m-r-5" (click)="update(editMappingFieldsForm.value)">Update</button>
      <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
    </div>
  </div>
</div>