<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">Sub Service</h4>
  </div>
  <form #subservices="ngForm" autocomplete="off">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="serviceProvider" placeholder="Service Provider" class="width100" [(ngModel)]="serviceProvider"
          (change)="getServicesFromProvider(serviceProvider.serviceProviderId)">
          <md-option *ngFor="let serviceProviderObj of serviceProviders" [value]="serviceProviderObj">
            {{serviceProviderObj.serviceProviderName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="services" placeholder="Serviceline" class="width100" [(ngModel)]="serviceObj" (change)="getAllStatesInService(serviceProvider.serviceProviderId,serviceObj.serviceID);setIsNational(serviceObj.isNational,serviceObj.providerServiceMapID)">
          <md-option *ngFor="let service of services" [value]="service">
            {{service.serviceName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="state" placeholder="State" [disabled]="isNational" class="width100" [(ngModel)]="state" (change)="getExistingOnSearch(state.providerServiceMapID)">
          <md-option *ngFor="let stateObj of states" [value]="stateObj">
            {{stateObj.stateName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>
  </form>
</div>
<!-- <div class="pull-right m-t-10" *ngIf="data.length!==0   && searchForm">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div> -->
<div class="row" *ngIf="searchForm">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <div class="table-responsive">
      <table class="table table-striped table-hover" *ngIf="showTable" [md2Data]="filtereddata" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="30%">Sub Service</th>
            <th width="40%">Description</th>
            <th width="25%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="md2.data.length == 0" class="record-not-found">
            <td colspan="4" align="center">No records found</td>
          </tr>
          <tr *ngFor="let sub of md2.data; let i=index">
            <td>{{filtereddata.indexOf(sub)+1}}</td>
            <td>{{sub.subServiceName}}</td>
            <td>{{sub.subServiceDesc}}</td>
            <td>
              <button *ngIf="sub.deleted" md-raised-button color="accent" (click)="deleteSubService(sub.subServiceID, false)">Activate</button>
              <button *ngIf="!sub.deleted" md-raised-button color="primary" (click)="deleteSubService(sub.subServiceID, true)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="2" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" [disabled]="!serviceObj || (!state && !isNational) " (click)="addSubService(false)">Create Sub Service</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="!searchForm">
  <div class="col-xs-12 col-sm-12">
    <h4 class="pull-left">Sub Service Mapping</h4>
  </div>
  <form #form="ngForm" autocomplete="off" id="addingForm">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="serviceProvider" placeholder="Service Provider" class="width100" [(ngModel)]="serviceProvider"
          (change)="getServicesFromProvider(serviceProvider.serviceProviderId)" disabled>
          <md-option *ngFor="let serviceProviderObj of serviceProviders" [value]="serviceProviderObj">
            {{serviceProviderObj.serviceProviderName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="services" placeholder="Serviceline" class="width100" [(ngModel)]="serviceObj" (change)="getAllStatesInService(serviceProvider.serviceProviderId,serviceObj.serviceID);setIsNational(serviceObj.isNational,serviceObj.providerServiceMapID)"
          disabled>
          <md-option *ngFor="let service of services" [value]="service">
            {{service.serviceName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-15">
      <!-- <md-input-container class="hide_underline width100">
        <input mdInput style="display:none"> -->
        <md-select required name="state" placeholder="State" class="width100" [(ngModel)]="state" (change)="getExistingOnSearch(state.providerServiceMapID)"
          disabled>
          <md-option *ngFor="let stateObj of states" [value]="stateObj">
            {{stateObj.stateName}}
          </md-option>
        </md-select>
      <!-- </md-input-container> -->
    </div>
    <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8  m-t-20" *ngIf="subServiceAvailable">
      <label class="errorText">No Sub Service available please select different service </label>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8  m-t-20" *ngIf="allServicesAdded">
      <label class="errorText">All states mapped </label>
    </div>
    <!-- </form>
  <form #resetFieldsForm="ngForm" id="form2" autocomplete="off"> -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0 m-t-20">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!subServiceAvailable && !allServicesAdded">
        <!-- <md-input-container class="hide_underline width100">
          <input mdInput style="display:none"> -->
          <md-select name="subService" placeholder="Sub Services" class="width100" [(ngModel)]="subService" required>
            <md-option *ngFor="let subService of subServices" [value]="subService">
              {{subService.subServiceName}}
            </md-option>
          </md-select>
        <!-- </md-input-container> -->

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngIf="!subServiceAvailable && !allServicesAdded">
        <md-input-container style="width: 100% " myProviderName>
          <input id="description" required mdInput placeholder="Sub Service Description" [(ngModel)]="subServiceDesc" name="subServiceDesc"
            maxlength="50">
        </md-input-container>
      </div>
    </div>
  </form>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
    <button md-raised-button color="primary" type="button" class="pull-left" (click)="back()">Back</button>
    <button *ngIf="!subServiceAvailable && !allServicesAdded" md-raised-button color="accent" type="button" class="pull-right"
      [disabled]="form.invalid " (click)="add(serviceProvider,state,serviceObj,subService,subServiceDesc)">Save</button>
  </div>

</div>