<label>CREATE SUB SERVICES</label>
<md-card>
  <form #form="ngForm" autocomplete="off">
  <div class="row"> </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <md-select required name="serviceProvider" placeholder="Service Provider" [style.width]="'100%'" [(ngModel)]="serviceProvider" (change)="getStates(serviceProvider)">
        <md-option *ngFor="let serviceProviderObj of serviceProviders" [value]="serviceProviderObj">
          {{serviceProviderObj.serviceProviderName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="state" (change)="getServicesInState(serviceProvider,state)">
        <md-option *ngFor="let stateObj of states" [value]="stateObj">
          {{stateObj.stateName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <md-select required name="services" placeholder="Services" [style.width]="'100%'" [(ngModel)]="serviceObj">
        <md-option *ngFor="let service of services" [value]="service">
          {{service.serviceName}}
        </md-option>
      </md-select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  m-t-20">
      <md-input-container style="width: 100% ">
        <input  required mdInput placeholder="Sub Service Name" [(ngModel)]="subService" name="subService">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  m-t-20">
      <md-input-container style="width: 100% ">
        <input required mdInput placeholder="Sub Service Description" [(ngModel)]="subServiceDesc" name="subServiceDesc">
      </md-input-container>
    </div>
      <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1  m-t-20 pull-right">
      <button md-raised-button color="primary"[disabled]="!form.valid" class="pull-right" (click)="add(serviceProvider,state,serviceObj,subService,subServiceDesc);form.reset()">Save
      </button>
    </div>
    <!-- <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1  m-t-20 pull-right">
      <button color="primary" class="pull-right" md-mini-fab (click)="add(serviceProvider,state,serviceObj,subService,subServiceDesc)">
        <md-icon mdSuffix  class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div> -->
  </div>
  <div class="row"> </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTable ">
    <div class="table-responsive ">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Service</th>
            <th>Service</th>
            <th>Sub Services</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service_subservice of services_array;let i=index " style="cursor:pointer ">
            <td>{{service_subservice.serviceName}}</td>
            <!-- <td>{{state_service.services.toString()}}</td> -->
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let subService of service_subservice.subServices">{{subService.subServiceName}}</li>
              </ul>
            </td>
            <td>
              <md-icon class="mat-icon material-icons" role="img " aria-hidden="true " style="cursor: pointer " (click)="remove_from_state_service_array(i) ">cancel</md-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button color="primary" md-raised-button class="pull-right " (click)="show(3,'save')">Save</button>
    </div>
  </div>
  </form>
</md-card>
