<md-card *ngIf="searchForm">
  <div class="row">
    <h4   class="width100 t-a-c m-b-20 f-s-b">Search Sub Service</h4>
    
    <form>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <md-select required name="serviceProvider" placeholder="Service Provider" [style.width]="'100%'" [(ngModel)]="searchServiceProvider"
            (change)="getAllStates(searchServiceProvider)">
            <md-option *ngFor="let serviceProviderObj of serviceProviders" [value]="serviceProviderObj">
              {{serviceProviderObj.serviceProviderName}}
            </md-option>
          </md-select>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="searchState" (change)="getAllServicesInState(searchServiceProvider,searchState)">
            <md-option *ngFor="let stateObj of statesSearched" [value]="stateObj">
              {{stateObj.stateName}}
            </md-option>
          </md-select>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <md-select required name="services" placeholder="Services" [style.width]="'100%'" [(ngModel)]="searchServiceObj"  >
            <md-option *ngFor="let service of servicesSearched" [value]="service" (click)="getExistingOnSearch(service)">
              {{service.serviceName}}
            </md-option>
          </md-select>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive m-t-10">
        <table class="table table-striped" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4" >
          <thead>
            <tr>
              <!-- <th>S.No</th> -->
              <th>SubService</th>
          <!--     <th>Role</th>
              <th>Description</th> -->
              <!-- <th>Deleted</th> -->
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
            <tbody>
              <tr *ngIf="md2.data.length == 0">
                NO RECORD FOUND
              </tr>
              <tr *ngFor="let sub of md2.data">
                <td>{{sub.subServiceName}}</td>
                <td>{{sub.subServiceDesc}}</td>
                <td><md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" >delete</md-icon></td>
              </tr>
            </tbody>
          <tfoot>
            <tr>
              <td>
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button  md-raised-button color="primary" class="pull-right" (click)="addSubService(false)">Create SubService</button>
      </div>
    </div>
</md-card>
<md-card *ngIf="!searchForm">
  <div class="row">
   <h4 class="width100 t-a-c m-b-20 f-s-b">Add Sub Service</h4>
    <form #form="ngForm" autocomplete="off" id="addingForm">
      <div class="row"> </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-select required name="serviceProvider" placeholder="Service Provider" [style.width]="'100%'" [(ngModel)]="serviceProvider"
            (change)="getStates(serviceProvider)">
            <md-option *ngFor="let serviceProviderObj of serviceProviders" [value]="serviceProviderObj">
              {{serviceProviderObj.serviceProviderName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <md-select required name="state" placeholder="State" [style.width]="'100%'" [(ngModel)]="state" (change)="getServicesInState(serviceProvider,state)">
            <md-option *ngFor="let stateObj of states" [value]="stateObj">
              {{stateObj.stateName}}
            </md-option>
          </md-select>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <md-select required name="services" placeholder="Services" [style.width]="'100%'" [(ngModel)]="serviceObj"  >
            <md-option *ngFor="let service of services" [value]="service" (click)="getExistingSubService(service)">
              {{service.serviceName}}
            </md-option>
          </md-select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8  m-t-20" *ngIf="subServiceAvailable">
          <label class="errorText">No Sub Service Available Please Select Different Service </label> 
        </div>
        <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8  m-t-20" *ngIf="allServicesAdded">
          <label class="errorText">All services already added </label> 
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4  m-t-20" *ngIf="!subServiceAvailable && !allServicesAdded">
          <md-select required name="subService" placeholder="Sub Services" [style.width]="'100%'" [(ngModel)]="subService">
            <md-option *ngFor="let subService of subServices" [value]="subService">
              {{subService.subServiceName}}
            </md-option>
          </md-select>
          <!-- <md-input-container style="width: 100% ">
            <input required mdInput placeholder="Sub Service Name" [(ngModel)]="subService" name="subService">
          </md-input-container> -->
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-t-25" *ngIf="!subServiceAvailable && !allServicesAdded">
          <md-input-container style="width: 100% ">
            <input required mdInput placeholder="Sub Service Description" [(ngModel)]="subServiceDesc" name="subServiceDesc">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button md-raised-button color="primary" class="pull-left" (click)="addSubService(true)">Back</button>
          <button *ngIf="!subServiceAvailable && !allServicesAdded" md-raised-button color="primary" class="pull-right" [disabled]="!form.valid " (click)="add(serviceProvider,state,serviceObj,subService,subServiceDesc)">Save</button>
        </div>
        <!-- <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1  m-t-20 pull-right">
      <button color="primary" class="pull-right" md-mini-fab (click)="add(serviceProvider,state,serviceObj,subService,subServiceDesc)">
        <md-icon mdSuffix  class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
    </div> -->
      </div>
<!--       <div class="row"></div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="showTable ">
        <label>Sub Service Details</label>
        <div class="table-responsive">
          <table class="table table-striped table-hover" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="3">
            <thead>
              <tr>
      
                <th>Service Name</th>
                <th>Sub Services Name</th>
                <th>Sub Service Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service_subservice of md2.data;" style="cursor:pointer ">
                <td width=30%>{{service_subservice.serviceName}}</td>
                <td width=30%>{{service_subservice.subServiceName}}</td>
                <td width=30%>{{service_subservice.subServiceDesc}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3">
                  <md2-pagination></md2-pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

      </div> -->
    </form>
  </div>
</md-card>
