<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Reset User Password</h4>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-10">
    <md-select placeholder="Select User" class="width100" [(ngModel)]="user" name="user" (change)="getUserDetail(user.userName)"
      required>
      <md-option *ngFor="let user of userNamesList" [value]="user">
        {{user.userName}}
      </md-option>
    </md-select>
  </div>
</div>
<div class="row m-t-20" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="30%">User Name</th>
            <th width="20%">Date Of Joining</th>
            <th width="20%">Contact No</th>
            <th width="20%">Email ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="userDetails === null">
            <td colspan="4" class="record-not-found">No records found</td>
          </tr>
          <tr>
            <td>{{userDetails?.middleName != null || userDetails?.middleName != undefined ? userDetails?.firstName +" "+ userDetails?.middleName
              +" "+ userDetails?.lastName : userDetails?.firstName +" "+ userDetails?.lastName}}</td>
            <td>{{userDetails?.dOJ | utcDate | date : 'dd/MM/yyyy'}}</td>
            <td>{{userDetails?.contactNo}}</td>
            <td>{{userDetails?.emailID}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
    <md-input-container class="width100">
      <input mdInput placeholder="Enter Password" [(ngModel)]="password" name="password" minlength="8" maxlength="12" #pwrd="ngModel"
        [pattern]="passwordPattern" required>
      <md-hint>
        <span class="error_text" *ngIf="pwrd.errors && !(pwrd.hasError('pattern')) && pwrd.touched">Password is required</span>
        <span class="error_text" *ngIf="pwrd.hasError('pattern')">Password is required(min:8,max:12,alphanumeric,1 special character,1 upper case)</span>
      </md-hint>
    </md-input-container>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t-20">
    <button md-raised-button color="primary" class="xs-pull-right sm-pull-left md-pull-left lg-pull-left" (click)="resetPassword(user.userName, password)">Reset</button>
  </div>
</div>