<div class="row" *ngIf="showDrugGroups && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Drug Group Master</h4>
  </div>
</div>
<!-- <div class="pull-right m-t-15" *ngIf="availableDrugGroups.length!==0 && showDrugGroups && !editable">
  <md-input-container id="filterbox">
    <input mdInput placeholder="In-Table Search" #filterTerm (keyup)="filterComponentList(filterTerm.value)">
    <md-icon mdSuffix>search</md-icon>
  </md-input-container>
</div> -->
<div class="row" *ngIf="showDrugGroups && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <div class="table-responsive">
      <table class="table table-striped table-hover" [md2Data]="filteredavailableDrugGroups" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="10%">S.No.</th>
            <th width="30%">Drug Group</th>
            <th width="50%">Description</th>
            <th width="15%">Edit</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr style="cursor: pointer" *ngFor="let drugGroup of availableDrugGroups | paginate: {id:'searchResult', itemsPerPage: 3, currentPage: b}" > -->
          <tr *ngIf="md2.data.length == 0" class="record-not-found">
            <td colspan="5" align="center">No records found</td>
          </tr>
          <tr *ngFor="let drugGroup of md2.data; let i= index">
            <td>{{filteredavailableDrugGroups.indexOf(drugGroup)+1}}</td>
            <td>{{drugGroup.drugGroup}}</td>
            <td>{{drugGroup.drugGroupDesc}}</td>
            <td>
              <md-icon mdTooltip="Edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!drugGroup.deleted"
                (click)="editDrugGroup(drugGroup)">edit</md-icon>
            </td>
            <!-- <td> <button class="btn activateBtn" (click)="editDrugGroup(drugGroup)">Edit</button></td> -->
            <td>
              <button *ngIf="drugGroup.deleted=='1'" md-raised-button color="accent" (click)="updateDrugGroupStatus(drugGroup)">Activate</button>
              <button *ngIf="drugGroup.deleted=='0'" md-raised-button color="primary" (click)="updateDrugGroupStatus(drugGroup)">Deactivate</button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="2" class="p-r-0 m-t-10">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create Drug Group</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div *ngIf="!showDrugGroups || editable">
  <h4 *ngIf="!editable">Create Drug Group</h4>
  <h4 *ngIf="editable">Edit Drug Group</h4>
  <div class="row">

    <form #drugGroupForm="ngForm" autocomplete="off">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100">
          <input mdInput required placeholder="Drug Group " [(ngModel)]="drugGroup" name="drugGroup" #drugG="ngModel" (keyup)="checkExistance(drugGroup)"
            minlength="1" maxlength="50">
          <md-hint>
            <span class="error_text" *ngIf="!drugG.valid  && ( drugG.dirty || drugG.touched)">Drug group name is required</span>
            <span class="error_text" *ngIf="groupNameExist">Drug Group Already Exists</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="width100">
          <input mdInput required placeholder="Drug Group Description" [(ngModel)]="drugGroupDesc" name="drugGroupDesc" #drugD="ngModel"
            maxlength="100">
          <md-hint [hidden]=drugD.valid>
            <span class="error_text" *ngIf="!drugD.required  && ( drugD.dirty || drugD.touched)">Please enter drug Group Description</span>
          </md-hint>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3" *ngIf="drugG.valid && drugD.valid && !groupNameExist">
        <button md-mini-fab color="primary" *ngIf="!editable" class="xs-pull-right sm-pull-right md-pull-left" (click)="addDrugGroupToList(drugGroupForm.value);drugGroupForm.reset() ">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
      </div>
    </form>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10" *ngIf="drugGroupList.length>0">
      <div class="table-responsive">
        <table [md2Data]="drugGroupList" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="3">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drug Group</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let drugGroup of md2.data; let i= index">
              <td>{{drugGroupList.indexOf(drugGroup)+1}}</td>
              <td>{{drugGroup.drugGroup}}</td>
              <td>{{drugGroup.drugGroupDesc}}</td>
              <td>
                <md-icon class="cursorPointer" mdTooltip="delete" (click)="remove_obj(drugGroupList.indexOf(drugGroup))">delete</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- <pagination-controls (pageChange)="b = $event" id="groupsList"></pagination-controls> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
      <button [disabled]="drugGroupList.length == 0" *ngIf="!editable" md-raised-button color="accent" class="pull-right" (click)="storeDrugGroup()">Save</button>
      <button *ngIf="editable" md-raised-button color="accent" [disabled]="drugGroupForm.invalid || groupNameExist" class="pull-right"
        (click)="updateDrugGroup(drugGroupForm.value);drugGroupForm.reset() ">Update</button>
    </div>
  </div>
</div>