<div *ngIf="showZones && !editable">
  <h4>Available Zones</h4>
  <table class="table ">
    <thead>
      <tr>
            <th>S No.</th>
            <th>Zone</th>
            <th>Zone Description</th>
            <th>Service</th>
            <th>State</th>
            <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let zone of availableZones | paginate: {id:'zoneListResult', itemsPerPage: 3, currentPage: b} ;let i=index" >
        <td>{{availableZones.indexOf(zone)+1}}</td>
        <td>{{zone.zoneName}}</td>
        <td>{{zone.zoneDesc}}</td>
        <td>{{zone.m_providerServiceMapping.m_serviceMaster.serviceName}}</td>
        <td>{{zone.stateName}}</td>
        <td>{{zone.zoneHQAddress}}
            <span *ngIf="zone.villageName">, {{zone.villageName}}</span>
            <span *ngIf="zone.blockName">, {{zone.blockName}}</span>
            <span *ngIf="zone.districtName">, {{zone.districtName}}</span>
        </td>
        <td *ngIf="zone.deleted=='0'"> <button class="btn" (click)="updateZoneStatus(zone)">Deactivate</button></td>
        <td *ngIf="zone.deleted=='1'"> <button class="btn activateBtn" (click)="updateZoneStatus(zone)">Activate</button></td>
        <td> <button class="btn activateBtn" (click)="editZoneData(zone)">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="b = $event" id="zoneListResult"></pagination-controls>
  <div>
    <button class="btn pull-right " (click)="showForm()">Add Zone </button>
  </div>
</div>
<div *ngIf="editable">

</div>
<div *ngIf="!showZones || editable">
  <h4>Create Zone </h4>
  <form #zoneForm="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
       <input mdInput style="display:none;" [(ngModel)]="zoneID" name="zoneID" >
      <md-select required placeholder="State" [style.width]="'100%'" [(ngModel)]="stateID" name="stateID" (change)="getServices(stateID.split('-')[0]);getDistricts(stateID.split('-')[0])" #stateVal="ngModel">
        <md-option *ngFor="let item of provider_states" value="{{item.stateID}}-{{item.stateName}}">
          {{item.stateName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=stateVal.valid>
        <span class="error_text" *ngIf="!zoneN.required  && ( zoneN.dirty || zoneN.touched)">Please select State</span>
      </md-hint>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select  required  placeholder="Service Line" [style.width]="'100%'" [(ngModel)]="serviceID" name="serviceID"  #serviceVal="ngModel" >
        <md-option *ngFor="let item of provider_services" value="{{item.serviceID}}-{{item.providerServiceMapID}}">
          {{item.serviceName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=serviceVal.valid>
        <span class="error_text" *ngIf="!serviceVal.required  && ( serviceVal.dirty || serviceVal.touched)">Please select Service Line</span>
      </md-hint>
    </div>
   
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container [style.width]="'100%'">
        <input mdInput required placeholder="Zone Name" [(ngModel)]="zoneName" name="zoneName"  #zoneN="ngModel" (blur)="checkExistance(zoneName)">
        <md-hint>
          <span class="error_text" *ngIf="!zoneN.valid  && ( zoneN.dirty || zoneN.touched)">Please enter Zone Name</span>
          <span class="error_text" *ngIf="zoneN.valid && zoneNameExist">Zone already exists</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-input-container [style.width]="'100%'">
        <input mdInput placeholder="Description" [(ngModel)]="zoneDesc" name="zoneDesc">
      </md-input-container>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select required placeholder="District" [style.width]="'100%'" [(ngModel)]="districtID" name="districtID" #districtV="ngModel" (change)="GetTaluks(districtID.split('-')[0])" >
        <md-option *ngFor="let district of districts" value="{{district.districtID}}-{{district.districtName}}">
          {{district.districtName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=districtV.valid>
        <span class="error_text" *ngIf="!districtV.required  && ( districtV.dirty || districtV.touched)">Please select District</span>
      </md-hint>
    </div>
    <div class="cleartext"></div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select  placeholder="Taluk/Sub District" [style.width]="'100%'" [(ngModel)]="talukID" name="talukID" (change)="GetBranches(talukID.split('-')[0])">
        <md-option *ngFor="let taluk of taluks" value="{{taluk.blockID}}-{{taluk.blockName}}">
          {{taluk.blockName}}
        </md-option>
      </md-select>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        
      <md-select placeholder="Village" [style.width]="'100%'" [(ngModel)]="branchID" name="branchID">
        <md-option *ngFor="let branch of branches" value="{{branch.districtBranchID}}-{{branch.villageName}}">
          {{branch.villageName}}
        </md-option>
      </md-select>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container  [style.width]="'100%'">
        <input required mdInput placeholder="Address" [(ngModel)]="zoneHQAddress" name="zoneHQAddress"  #zoneAddress="ngModel">
        <md-hint [hidden]=zoneAddress.valid>
          <span class="error_text" *ngIf="!zoneAddress.required  && ( zoneAddress.dirty || zoneAddress.touched)">Please enter Zone Address</span>
        </md-hint>
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 pull-right">
      <button *ngIf="!editable" [disabled]=" !zoneN.valid || zoneNameExist || !zoneAddress.valid || !stateVal.valid || !serviceVal.valid || !districtV.valid" class="btn pull-right " 
      (click)="addZoneToList(zoneForm.value);zoneForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
      <button *ngIf="editable"  class="btn pull-right " (click)="updateZoneData(zoneForm.value);zoneForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">update</md-icon>
      </button>
    </div>
  </form>
  <div *ngIf="zoneList.length>0">
    <table class="table ">
      <thead>
        <tr>
            <th>S No.</th>
            <th>Zone</th>
            <th>Zone Description</th>
            <th>State</th>
            <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer" *ngFor="let zone of zoneList | paginate: {id:'zoneResult', itemsPerPage: 2, currentPage: b}">
            <td>{{zoneList.indexOf(zone)+1}}</td>
            <td>{{zone.zoneName}}</td>
            <td>{{zone.zoneDesc}}</td>
            <td>{{zone.stateName}}</td>
            <td>{{zone.zoneHQAddress}}
                <span *ngIf="zone.villageName">, {{zone.villageName}}</span>
                <span *ngIf="zone.blockName">, {{zone.blockName}}</span>
                <span *ngIf="zone.districtName">, {{zone.districtName}}</span>
            </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="b = $event" id="zoneResult"></pagination-controls>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <button class="btn pull-left" (click)="zoneForm.reset();clearEdit()">Back</button> <button *ngIf="zoneList.length>0" class="btn pull-right " (click)="storezone()">Submit</button>
  </div>
</div>
