<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Van/Parking Place to Store Mapping</strong>
    </h4>
  </div>
</div>
<form [formGroup]="storeMappingForm" autocomplete="off">
  <div class="row m-t-20" formGroupName="storeMapping">
    <div class="col-xs-12 col-sm-6 box">
      <label class="control-label" for="isMainFacility">Store Type:</label>
      <md-radio-group placeholder="Main Store" formControlName="isMainFacility" name="isMainFacility">
        <md-radio-button [value]="true">Main Store</md-radio-button>
        <md-radio-button [value]="false">Sub Store</md-radio-button>
      </md-radio-group>
    </div>

    <div class="clearfix"></div>

    <ng-container *ngIf="isMainFacility != undefined || isMainFacility != null">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <md-select class="input-full-width" placeholder="Main Store" formControlName="facilityName" name="facilityName" [required]="true">
          <md-option *ngFor="let store of mainStoreList" [value]="store">
            {{store.facilityName}}
          </md-option>
        </md-select>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <md-select class="input-full-width" placeholder="{{parkAndHub}}" formControlName="parkingPlaceName" name="parkingPlaceName"
          [disabled]="isMainFacility == false" [required]="true">
          <md-option *ngFor="let parkingPlace of parkingPlaceList" [value]="parkingPlace">
            {{parkingPlace.parkingPlaceName}}
          </md-option>
        </md-select>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box" *ngIf="isMainFacility == false">
        <md-select class="input-full-width" placeholder="Sub Store" formControlName="subFacilityName" name="subFacilityName" [required]="!(storeMappingForm.controls['storeMapping']['controls']['isMainFacility'].value)">
          <md-option *ngFor="let store of subStoreList" [value]="store">
            {{store.facilityName}}
          </md-option>
        </md-select>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box" *ngIf="isMainFacility == false">
        <md-select class="input-full-width" placeholder="{{vanAndSpoke}}" formControlName="vanName" name="vanName" [required]="!(storeMappingForm.controls['storeMapping']['controls']['isMainFacility'].value)">
          <md-option *ngFor="let van of vanList" [value]="van">
            {{van.vanName}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 box">
        <button *ngIf="checkValidity()" type="button" md-mini-fab color="primary" (click)="addToStoreMappingList()">
          <md-icon>add</md-icon>
        </button>
      </div>

    </ng-container>
  </div>
</form>

<div class="row m-t-20" *ngIf="storeMappingList?.length > 0">
  <div class="col-xs-12">
    <table class="table table-striped" [md2Data]="storeMappingList" #md2="md2DataTable" [rowsPerPage]="4">
      <thead>
        <tr>
          <th style="width: 5%">S.No.</th>
          <th style="width: 20%">Store Type</th>
          <th style="width: 20%">Store</th>
          <th style="width: 20%">{{parkAndHub}}</th>
          <th style="width: 15%">{{vanAndSpoke}}</th>
          <th style="width: 10%">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let store of md2.data; let i = index">
          <td>{{(md2.activePage-1) * 4 + i + 1}}</td>
          <td>{{ store?.isMainFacility === true ? "MAIN" : "SUB" }}</td>
          <td>{{ store?.facilityName }}</td>
          <td>{{ store?.parkingPlaceName }}</td>
          <td>{{ store?.vanName }}</td>
          <td>
            <md-icon mdTooltip="Delete" class="mat-icon material-icons" style="cursor: pointer" (click)="deleteFromStoreList(i)">delete</md-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="p-l-0">
            <md2-pagination></md2-pagination>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>


<div class="row m-t-20">
  <div class="col-xs-12">
    <button type="button" md-raised-button color="accent" class="pull-right" [disabled]="!(storeMappingList.length > 0)" (click)="submitStoreMapping();storeMappingForm.reset();">Save</button>
    <button type="button" md-raised-button color="primary" class="pull-left" (click)="switchToViewMode()">Back</button>
    <button type="button" md-raised-button color="primary" class="pull-right m-r-5" (click)="storeMappingForm.reset();">Clear</button>
  </div>
</div>