<div class="row" *ngIf="tableMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>
      <strong>Work Location Mapping</strong>
    </h4>
  </div>
  <!-- pre-populated table showing the number of providers available -->
  <div class="col-xs-12 col-sm-12">
    <div class="table-responsive">
      <table [md2Data]="mappedWorkLocationsList" #md2="md2DataTable" class="table table-hover table-striped" [rowsPerPage]="4">
        <thead>
          <tr>
            <th md2SortBy="userName">User Name</th>
            <th>Serviceline</th>
            <th>State</th>
            <th>District</th>
            <th>Work Location</th>
            <th md2SortBy="roleName">Role</th>
            <th>Edit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="mappedWorkLocationsList.length == 0">
            <td colspan="8" class="record-not-found">No records found</td>
          </tr>
          <tr style="cursor: pointer" *ngFor="let service of md2.data;let i=index ">
            <td>{{service.userName}}</td>
            <td>{{service.serviceName}}</td>
            <td>{{service.stateName}}</td>
            <td>{{service.workingDistrictName}}</td>
            <td>{{service.locationName}}</td>
            <td>{{service.roleName}}</td>
            <td>

              <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="!service.userServciceRoleDeleted"
                (click)="editRow(service)">edit</md-icon>
            </td>
            <td>
              <button md-raised-button color="accent" *ngIf="service.userServciceRoleDeleted" class=" m-r-10" (click)="activate(service.uSRMappingID)">Activate</button>
              <button md-raised-button color="primary" *ngIf="!service.userServciceRoleDeleted" class=" m-r-10" (click)="deactivate(service.uSRMappingID)">Deactivate</button>

            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="5" class="p-r-0">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create New Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="formMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Work-Location-Mapping</strong>
    </h4>
    <h4 *ngIf="editMode">
      <strong>Edit Work-Location-Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form id="workplaceForm" #workplaceform="ngForm" autocomplete="off">

      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select User" [style.width]="'100%'" [(ngModel)]="User" name="user" required>
            <md-option *ngFor="let user of userNamesList| OrderBy : 'userName'" [value]="user">
              {{user.userName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Serviceline" [style.width]="'100%'" [(ngModel)]="Serviceline" name="serviceline" (change)="getStates(Serviceline.serviceID,Serviceline.isNational);setIsNational(Serviceline.isNational)"
            required>
            <md-option *ngFor="let item of services_array" [value]="item">
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select State" [disabled]="isNational" [style.width]="'100%'" [(ngModel)]="State" name="state" (change)="getAllDistricts(State)"
            required>
            <md-option *ngFor="let item of states_array" [value]="item">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select District" [disabled]="isNational" [style.width]="'100%'" [(ngModel)]="District" (change)="getAllWorkLocations(State,Serviceline,isNational)"
            name="district" required>
            <md-option *ngFor="let item of districts_array| OrderBy:'districtName'" [value]="item">
              {{item.districtName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Work Location" [style.width]="'100%'" [(ngModel)]="WorkLocation" (change)="getAllRoles(State.providerServiceMapID)"
            name="worklocation" required>
            <md-option *ngFor="let item of workLocationsList| OrderBy:'locationName'" [value]="item">
              {{item.locationName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Role" [style.width]="'100%'" [multiple]="true" [(ngModel)]="Role" name="role" required>
            <md-option *ngFor="let item of RolesList" [value]="item">
              {{item.roleName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 m-t-20">
        <button md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-right lg-pull-left" *ngIf="!editMode && !workplaceform.invalid"
          (click)="addWorkLocation(workplaceform.value,Role);this.workplaceform.reset();">
          <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
        </button>
      </div>
    </form>

  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="bufferArray.length>0">
    <div class="table-responsive">
      <table class="table table-hover table-striped " [md2Data]="bufferArray" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>User Name</th>
            <th>Serviceline</th>
            <th>State</th>
            <th>District</th>
            <th>Work Location</th>
            <th>Role</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of md2.data;let i = index ">
            <td>{{(md2.activePage-1)*5+i+1}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.serviceName}}</td>
            <td>{{item.stateName}}</td>
            <td>{{item.district}}</td>
            <td>{{item.workingLocation}}</td>
            <td>
              <ul class="m-l--25">
                <li *ngFor="let obj of item.roleID1;let j=index ">
                  {{obj.roleName}}
                  <md-icon class="cursorPointer" mdTooltip="Remove {{obj.roleName}}" (click)="removeRole(i,j)">cancel</md-icon>
                </li>
              </ul>
            </td>
            <td>
              <md-icon class="cursorPointer" mdTooltip="Remove" (click)="deleteRow(i)">delete</md-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <md2-pagination></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 m-t-15">
    <button md-raised-button color="accent" class="pull-right" [disabled]="!(bufferArray.length>0)" (click)="saveWorkLocations()">Save</button>
    <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>

  </div>
</div>
 <div class="row" *ngIf="editMode">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 *ngIf="!editMode">
      <strong>Work-Location-Mapping</strong>
    </h4>
    <h4 *ngIf="editMode">
      <strong>Edit Work-Location-Mapping</strong>
    </h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-a-0">

    <form id="workplaceForm" #workplaceeform="ngForm" autocomplete="off">

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select User" [style.width]="'100%'" [disabled]="disableUsername" [(ngModel)]="userID_duringEdit"
            name="user_name" required>
            <md-option *ngFor="let user of userNamesList | OrderBy : 'userName'" [value]="user.userID">
              {{user.userName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
     
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Serviceline" [style.width]="'100%'" [(ngModel)]="serviceID_duringEdit" name="serviceID"
            (change)="refresh2()"
            required>
            <md-option *ngFor="let item of services_array" [value]="item.serviceID" (click)="getProviderStates_duringEdit(item.serviceID,item.isNational);setIsNational_edit(item.isNational)" >
              {{item.serviceName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

       <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select State" [disabled]="isNational_edit" [style.width]="'100%'" [(ngModel)]="stateID_duringEdit" name="state" (change)="getAllDistricts(stateID_duringEdit); refresh1()"
            required>
            <md-option *ngFor="let item of states_array" [value]="item.stateID" (click)="set_currentPSM_ID_duringEdit(item.providerServiceMapID)">
              {{item.stateName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none"> 
          <md-select placeholder="Select District" [disabled]="isNational_edit" [style.width]="'100%'" [(ngModel)]="district_duringEdit" name="district" (change)="getAllWorkLocations_duringEdit(stateID_duringEdit,serviceID_duringEdit,isNational_edit); refresh3()"
            required>
            <md-option *ngFor="let item of districts_array" [value]="item.districtID">
              {{item.districtName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Work Location" [style.width]="'100%'" [(ngModel)]="workLocationID_duringEdit" (change)="refresh4()"
            name="worklocation" required>
            <md-option *ngFor="let item of workLocationsList" [value]="item.pSAddMapID">
              {{item.locationName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline" [style.width]="'100%'">
          <input mdInput style="display:none">
          <md-select placeholder="Select Role" [style.width]="'100%'" [(ngModel)]="roleID_duringEdit" name="role" required>
            <md-option *ngFor="let item of RolesList" [value]="item.roleID">
              {{item.roleName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      
    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
      <button md-raised-button color="primary" class="pull-left" (click)="showTable()">Back</button>
      <button *ngIf="!formMode" md-raised-button color="accent" class="pull-right" [disabled]="workplaceeform.invalid" (click)="updateWorkLocation(workplaceeform.value);">Update</button>
    </div>
  </div>
</div> 