<div *ngIf="showMappings && !editable">
  <h4>Available Drug Mappings</h4>
  <table class="table ">
    <thead>
      <tr>
        <th>S No.</th>
        <th>State</th>
        <th>Drug Group Name</th>
        <th>Drug Name</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let drugMapping of availableDrugMappings | paginate: {id:'drugListResult', itemsPerPage: 3, currentPage: b}" >
        <td>{{availableDrugMappings.indexOf(drugMapping)+1}}</td>
        <td>{{drugMapping.m_providerServiceMapping.state.stateName}}</td>
        <td>{{drugMapping.drugGroupName}}</td>
        <td>{{drugMapping.drugName}}</td>
        <td>{{drugMapping.remarks}}</td>
        <td *ngIf="drugMapping.deleted=='0'"> <button class="btn" (click)="updateDrugMappingStatus(drugMapping)">Deactivate</button></td>
        <td *ngIf="drugMapping.deleted=='1'"> <button class="btn activateBtn" (click)="updateDrugMappingStatus(drugMapping)">Activate</button></td>
        <!--<td> <button class="btn activateBtn" (click)="editDrugMapping(drugMapping)">Edit</button></td>-->
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="b = $event" id="drugListResult"></pagination-controls>
  <div>
    <button class="btn pull-right " (click)="showForm()">Create Drug Mapping </button>
  </div>
</div>
<div *ngIf="!showMappings || editable">
  <h4>Map Drug with DrugGroup</h4>
  <form #drugMappingForm="ngForm">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select required placeholder="State" [style.width]="'100%'" [(ngModel)]="stateID" name="stateID" (change)="getServices(stateID.split('-')[0])" #stateVal="ngModel">
        <md-option *ngFor="let item of provider_states" value="{{item.stateID}}-{{item.stateName}}">
          {{item.stateName}}
        </md-option>
      </md-select>
      <md-hint [hidden]=stateVal.valid>
        <span class="error_text" *ngIf="!stateVal.required  && ( stateVal.dirty || stateVal.touched)">Please select State</span>
      </md-hint>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <md-select required placeholder="DrugGroup" [style.width]="'100%'" [(ngModel)]="drugGroupID" name="drugGroupID" #drugG="ngModel"
      (change)="checkExistance(stateID,drugGroupID)">
        <md-option *ngFor="let drugGroups of availableDrugGroups" value="{{drugGroups.drugGroupID}}-{{drugGroups.drugGroup}}">
          {{drugGroups.drugGroup}}
        </md-option>
         
      </md-select>
      <md-hint [hidden]=drugG.valid>
        <span class="error_text" *ngIf="!drugG.required  && ( drugG.dirty || drugG.touched)">Please select Drug Group</span>
      </md-hint>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <md-select multiple [style.width]="'100%'" name="drugIdList" placeholder="Please Choose Drugs" [(ngModel)]="drugIdList" #drug="ngModel" required>
            <md-option *ngFor="let drugs of availableDrugs"  value="{{drugs.drugID}}-{{drugs.drugName}}">{{drugs.drugName}}</md-option>
        </md-select>
        <md-hint [hidden]=drug.valid>
          <span class="error_text" *ngIf="!drug.required  && ( drug.dirty || drug.touched)">Please choose Drugs</span>
        </md-hint>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
      <md-input-container  [style.width]="'100%'">
        <input mdInput placeholder="Remarks" [(ngModel)]="remarks" name="remarks">
      </md-input-container>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button *ngIf="!editable" class="btn pull-right " (click)="addDrugToList(drugMappingForm.value);drugMappingForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
      </button>
      <!--<button *ngIf="editable"  class="btn pull-right " (click)="updateDrugMapping(drugMappingForm.value);drugMappingForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">update</md-icon>
      </button>-->
    </div>
  </form>
  <div *ngIf="drugMapping.length>0">
    <table class="table ">
      <thead>
        <tr>
          <th>S No.</th>
          <th>State</th>
          <th>Drug Group Name</th>
          <th>Drug Name</th>
          <th>Remarks</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer" *ngFor="let drug of drugMapping  | paginate: {id:'drugMappingListResult', itemsPerPage: 3, currentPage: b}">
          <td>{{drugMapping.indexOf(drug)+1}}</td>
          <td>{{drug.stateName}}</td>
          <td>{{drug.drugGroupName}}</td>
          <td>{{drug.drugName}}</td>
          <td>{{drug.remarks}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="b = $event" id="drugMappingListResult"></pagination-controls>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <button class="btn pull-left" (click)="clearEdit();drugMappingForm.reset()">Back</button> <button *ngIf="drugMapping.length>0" class="btn pull-right " (click)="storedrugMappings()">Submit</button>
  </div>
</div>
