<div class="row" *ngIf="showMappings && !editable">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4 class="pull-left">Available Drug Mappings</h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-15">
    <div class="table-responsive">
      <table class="table table-striped table-hover" [md2Data]="availableDrugMappings" #md2="md2DataTable" [rowsPerPage]="4">
        <thead>
          <tr>
            <th width="5%">S.No.</th>
            <th width="25%">State</th>
            <th width="25%">Drug Group Name</th>
            <th width="25%">Drug Name</th>
            <th width="25%">Remarks</th>
            <th width="20%">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr style="cursor: pointer" *ngFor="let drugMapping of availableDrugMappings | paginate: {id:'drugListResult', itemsPerPage: 3, currentPage: b}" > -->
          <tr *ngIf="availableDrugMappings.length == 0" class="record-not-found">
            <td colspan="6" align="center">No records found</td>
          </tr>
          <tr *ngFor="let drugMapping of md2.data; let i= index">
            <td>{{availableDrugMappings.indexOf(drugMapping)+1}}</td>
            <td>{{drugMapping.m_providerServiceMapping.state.stateName}}</td>
            <td>{{drugMapping.drugGroupName}}</td>
            <td>{{drugMapping.drugName}}</td>
            <td>{{drugMapping.remarks}}</td>
            <td>
              <button *ngIf="drugMapping.deleted=='1'" md-raised-button color="accent" (click)="updateDrugMappingStatus(drugMapping)">Activate</button>
              <button *ngIf="drugMapping.deleted=='0'" md-raised-button color="primary" (click)="updateDrugMappingStatus(drugMapping)">Deactivate</button>
            </td>
            <!--<td> <button class="btn activateBtn" (click)="editDrugMapping(drugMapping)">Edit</button></td>-->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">
              <md2-pagination></md2-pagination>
            </td>
            <td colspan="3" class="p-r-0 m-t-10">
              <button md-raised-button color="primary" class="pull-right" (click)="showForm()">Create Drug Mapping</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- <pagination-controls (pageChange)="b = $event" id="drugListResult"></pagination-controls>
  <div>
    <button class="btn pull-right " (click)="showForm()">Create Drug Mapping </button>
  </div> -->
</div>
<div *ngIf="!showMappings || editable">
  <h4>Map Drug with Drug Group</h4>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-l-0">
      <form #drugMappingForm="ngForm" autocomplete="off">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select required placeholder="State" class="width100" [(ngModel)]="stateID" name="stateID" (change)="getServices(stateID.split('-')[0])"
              #stateVal="ngModel">
              <md-option *ngFor="let item of provider_states" value="{{item.stateID}}-{{item.stateName}}">
                {{item.stateName}}
              </md-option>
            </md-select>
            <md-hint [hidden]=stateVal.valid>
              <span class="error_text" *ngIf="!stateVal.required  && ( stateVal.dirty || stateVal.touched)">Please select State</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select required placeholder="Drug Group" class="width100" [(ngModel)]="drugGroupID" name="drugGroupID" #drugG="ngModel"
              (change)="checkExistance(stateID,drugGroupID)">
              <md-option *ngFor="let drugGroups of availableDrugGroups" value="{{drugGroups.drugGroupID}}-{{drugGroups.drugGroup}}">
                {{drugGroups.drugGroup}}
              </md-option>

            </md-select>
            <md-hint [hidden]=drugG.valid>
              <span class="error_text" *ngIf="!drugG.required  && ( drugG.dirty || drugG.touched)">Please select Drug Group</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="hide_underline width100">
            <input mdInput style="display:none">
            <md-select multiple class="width100" name="drugIdList" placeholder="Please Choose Drugs" [(ngModel)]="drugIdList" #drug="ngModel"
              required>
              <md-option *ngFor="let drugs of availableDrugs" value="{{drugs.drugID}}-{{drugs.drugName}}">{{drugs.drugName}}</md-option>
            </md-select>
            <md-hint [hidden]=drug.valid>
              <span class="error_text" *ngIf="!drug.required  && ( drug.dirty || drug.touched)">Please choose Drugs</span>
            </md-hint>
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <md-input-container class="width100" myProviderName>
            <input mdInput placeholder="Remarks" [(ngModel)]="remarks" name="remarks">
          </md-input-container>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-12" *ngIf="stateVal.valid && drugG.valid && drug.valid">
          <button *ngIf="!editable" md-mini-fab color="primary" class="xs-pull-right sm-pull-right md-pull-left lg-pull-right" (click)="addDrugToList(drugMappingForm.value);drugMappingForm.reset()  ">
            <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">add</md-icon>
          </button>
          <!--<button *ngIf="editable"  class="btn pull-right " (click)="updateDrugMapping(drugMappingForm.value);drugMappingForm.reset()  ">
        <md-icon mdSuffix class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer">update</md-icon>
      </button>-->
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10" *ngIf="drugMapping.length>0">
      <div class="table-responsive">
        <table [md2Data]="drugMapping" #md2="md2DataTable" class="table table-striped table-hover" [rowsPerPage]="3">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>State</th>
              <th>Drug Group Name</th>
              <th>Drug Name</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let drug of md2.data; let i=index ">
              <td>{{drugMapping.indexOf(drug)+1}}</td>
              <td>{{drug.stateName}}</td>
              <td>{{drug.drugGroupName}}</td>
              <td>{{drug.drugName}}</td>
              <td>{{drug.remarks}}</td>
              <td>
                <md-icon class="cursorPointer" mdTooltip="Remove" (click)="remove_obj(i)">delete</md-icon>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <md2-pagination></md2-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
        <!-- <pagination-controls (pageChange)="b = $event" id="drugMappingListResult"></pagination-controls> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-10">
      <button md-raised-button color="primary" class="pull-left" (click)="back()">Back</button>
      <button [disabled]="drugMapping.length == 0" md-raised-button color="accent" class="pull-right" (click)="storedrugMappings()">Save</button>
    </div>
  </div>
</div>