<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-6 col-sm-6">
                <md-input-container style="width: 100%">
                    <input mdInput placeholder="New Caste" [(ngModel)]="newCaste">
                </md-input-container>
            </div>
            <div class="col-xs-6 col-sm-6">
                <button md-mini-fab class="pull-left">
                    <md-icon>add</md-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="table-responsive ">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Caste ID</th>
                        <th>Caste</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>General</td>
                        <td>Jan 1,2017</td>
                        <td>Admin@piramal</td>
                        <td>
                            <md-chip-list>
                                <md-chip color="accent" selected="true">
                                    Remove
                                </md-chip>
                            </md-chip-list>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
