<md-card>
  <div class="row" style="height: 420px" *ngIf="!showTable">
    <form #f="ngForm">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-select placeholder="State" [style.width]="'100%'" [(ngModel)]="state" name="state" (change)="getDistricts(serviceProviderID,state);getServiceLines(serviceProviderID,state)">
              <md-option *ngFor="let item of states" value="{{item.stateID}}">
                {{item.stateName}}
              </md-option>
            </md-select>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-select placeholder="District" [style.width]="'100%'" [(ngModel)]="district" name="district">
              <md-option *ngFor="let item of districts" value="{{item.districtID}}">
                {{item.districtName}}
              </md-option>
            </md-select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
              <input mdInput placeholder="Office Address Line 1" [(ngModel)]="office_address1" name="office_address1">
            </md-input-container>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
              <input mdInput placeholder="Office Address Line 2" [(ngModel)]="office_address2 " name="office_address2 ">
            </md-input-container>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md-input-container style="width: 100% ">
              <input mdInput placeholder="OfficeID" [(ngModel)]="OfficeID " name="OfficeID ">
            </md-input-container>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <md2-select [(ngModel)]="serviceLine" [multiple]="true" name="serviceLine" placeholder="ServiceLine" [style.width]="'100%'">
              <md2-option *ngFor="let sl of servicelines" [value]="sl.serviceID">{{sl.serviceName}}</md2-option>
            </md2-select>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button class="pull-right" md-raised-button (click)="saveOfficeAddress(f.value)">SAVE</button>
            <button md-raised-button (click)="changeTableFlag(true)">CANCEL</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- table starts -->
  <div class="row" style="height: 420px" *ngIf="showTable">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table [md2Data]="workLocations" #md2="md2DataTable" class="table">
        <thead>
          <tr>
            <th>Provider-Service Map ID</th>
            <th>Provider-Service-Address Map ID</th>
            <th>State</th>
            <th>District</th>
            <th>Address</th>
            <th>Abbreviation</th>
            <th>Service Line Running</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let loc of workLocations| paginate: {id:'workLocations', itemsPerPage: 8, currentPage: b}">
            <td>{{loc.ProviderServiceMapID}}</td>
            <td>{{loc.pSAddMapID}}</td>
            <td>{{loc.stateName}}</td>
            <td>{{loc.DistrictName}}</td>
            <td>{{loc.Address}}</td>
            <td> {{loc.locationName}}</td>
            <td>{{loc.serviceName}}</td>
            <td>
              <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" *ngIf="!loc.Deleted" (click)="editOfficeAddress(loc)" >edit</md-icon>
              <md-icon mdTooltip="delete" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor: pointer" *ngIf="!loc.Deleted" (click)="deleteOfficeAddress(loc.pSAddMapID)">delete</md-icon>
            </td>
          </tr>
          <pagination-controls (pageChange)="b = $event" id="workLocations"></pagination-controls>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
        <button class="pull-right" md-raised-button (click)="changeTableFlag(false)">Add Work Location</button>
      </div>
    </div>
  </div>
</md-card>
