<!-- <md-card> -->
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h4>Update Provider</h4>
  </div>
  <div class="col-xs-12 col-sm-12" *ngIf="searchPage">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <md-input-container class="hide_underline width100">
          <input mdInput style="display:none">
          <md-select placeholder="Provider Name" class="width100" [(ngModel)]="providerSelected" (change)="selectedProvider(providerSelected)"
            required>
            <md-option *ngFor="let provider of allProviders" [value]="provider.serviceProviderId">
              {{provider.serviceProviderName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <!-- <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 m-t-15" *ngIf="showProvider">
          <button color="primary" type="button" name="Add" md-raised-button class=" pull-right" (click)="edit(providerSelected)">Edit personal details</button>
        </div> -->
    </div>
    <div *ngIf="showProvider">
      <div class="table-responsive m-t-15">
        <table class="table table-striped table-hover" [md2Data]="data" #md2="md2DataTable" [rowsPerPage]="4">
          <thead>
            <tr>
              <!-- <th>Provider ID</th> -->
              <th width=5%>S.No.</th>
              <th width=40%>State</th>
              <th width=30%>ServiceLine</th>
              <th width=15%>Edit</th>
              <th width=25%>Status</th>
            </tr>
          </thead>
          
          <tbody>
            <tr *ngIf="md2.data.length == 0">
              <td colspan="5" align="center">NO RECORD FOUND FOR THIS PROVIDER</td>
            </tr>
            <tr *ngFor="let providerInfo of md2.data; let i=index">
              <!-- <td width=25%>{{providerInfo.serviceProviderID}}</td> -->
              <td>{{(md2.activePage-1)*4+i+1}}</td>
              <td>{{providerInfo.stateName}}</td>
              <td>{{providerInfo.serviceName}}</td>
              <td>
                <md-icon mdTooltip="edit" class="mat-icon material-icons" role="img" aria-hidden="true" style="cursor:pointer" *ngIf="showProvider"
                  (click)="edit(providerSelected)">edit</md-icon>
              </td>
              <td>{{providerInfo.status}}</td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2" class="p-l-0">
                <md2-pagination></md2-pagination>
              </td>
              <td colspan="3" class="p-r-0">
                <button color="primary" type="button" name="Save" md-raised-button class=" pull-right " (click)="addOrModify()">Create Service</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="!searchPage">
    <!--  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pull-right">
          <button color="primary" type="button" name="back" md-raised-button class="pull-right" (click)="back()">Back</button>
        </div>
      </div> -->
    <!-- <div class="row"> -->
    <form #modifyForm="ngForm">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
              <input mdInput style="display:none">
              <md-select placeholder="State" class="width100" name="state" [(ngModel)]="state" (change)="getValidServicelines(state)">
                <md-option *ngFor="let state of states" [value]="state.stateID">
                  {{state.stateName}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <md-input-container class="hide_underline width100">
              <input mdInput style="display:none">
              <md-select *ngIf="!allServicesMapped" multiple placeholder="ServiceLine" class="width100" name="serviceLine" [(ngModel)]="serviceline"
                required #sLine="ngModel">
                <md-option *ngFor="let service of servicelines" [value]="service.serviceID">
                  {{service.serviceName}}
                </md-option>
              </md-select>
            </md-input-container>
            <label *ngIf="allServicesMapped" class="error_text">All Services Mapped</label>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <!--            <button color="primary" type="button" name="back" md-raised-button class="pull-left " (click)="back()">Back</button> -->
        <button color="primary" type="button" name="back" md-raised-button class="pull-left" (click)="back()">Back</button>

        <button *ngIf="!allServicesMapped" color="accent" type="button" name="modify" [disabled]="!modifyForm.valid" md-raised-button
          class="pull-right " (click)="modifyProvider(modifyForm.value)">Save</button>
      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
<!-- </md-card> -->